[2020-10-02 07:40] #2024 closed

[2020-10-02 16:49] trstringer commented on #2025
It looks like you don't have the UDF driver anymore:

[code]

Did you disable or remove the UDF driver from the image? It looks like it succeeded previously:

[code]

The OVF file is extracted from /dev/sr0, which is a UDF filesystem. So we try to mount it as UDF, but if that filesystem doesn't exist then it fails in a similar way.

The fix (or next step) is to understand what step between initial

[2020-10-05 15:25] svrangarao commented on #2025
@trstringer , Thanks for your inputs. I will check with my engineering team and get back to you.

[2020-10-06 07:53] Tulkis commented on #1243
Hi @fegu, could you resolve the issue with that workarround?

[2020-10-06 13:37] fegu commented on #1243
@Tulkis sorry, no. I didn't spend a lot of time on it, though.

[2020-10-06 14:21] svrangarao commented on #2025
@trstringer

We have a file   **/etc/modprobe.d/blacklist-filesystem.conf** and in the file I commented the line    "**install udf /bin/true**"

Then I created an image using the VHD file with the above changes and deployed the gateway and the VM launched quickly without any issue.
WAAGENT is running and ovf-env.xml created in the /var/lib/waagent.

Really appreciate your help in asking me to chec

[2020-10-06 14:38] trstringer commented on #2025
Great to hear! Thanks for opening the issue and following up!

[2020-10-06 14:38] #2025 closed

[2020-10-06 15:30] Tulkis commented on #1243
You're welcome, thank you for the response.

[2020-10-07 19:06] mabicca opened #2031 "/var/lib/waagent zip files"
Hi Everyone,

I know we had some fixes for this issue in the past:
https://github.com/Azure/WALinuxAgent/issues/1730

We still see cases where there's tons of old zip files in the folder and recently I noticed that specifically the WALinuxAgent install files are still there?

[code]
Are there any plans to manage these leftovers better moving forward? We have many users that ask about it.

As far a

[2020-10-07 21:28] PiumiAbeynayaka opened #2032 "Add log rotation for custom script extension logs"
We've encountered an issue where our custom script extension generates very large logging output (100+ MB). As these files don't seem to be cleaned up frequently (or at all?), the logs accumulate and end up using huge amounts of disk space.

Can log rotation for these files be configured?

[2020-10-07 21:57] PiumiAbeynayaka commented on #2032
Moving this to the custom script extension repo

[2020-10-07 21:57] #2032 closed

[2020-10-08 23:54] narrieta commented on #2031
@mabicca - This is a different issue to #1730

I'll do some changes in the backend so that some ZIP files are not downloaded anymore, but for existing VMs the mitigation is to manually remove each of the old agents that are not in use.

Doing this

    mv /var/lib/waagent /var/lib/waagent.old

will not work and will introduce other issues.

[2020-10-09 23:47] pgombar commented on #1912
Closing due to lack of context. Please follow up with Microsoft support.

[2020-10-09 23:47] #1912 closed

[2020-10-10 11:38] Tulkis commented on #1335
Hi @fegu,

Finally I got a success backing a pfsense, freebsd 11.3. I have VMAgent version: 2.2.45 (come with marketplace image).

First I did was install python 3.7 using pkg commands then I created symlink for /usr/bin/python -> /usr/local/bin/python3.7 and testart waagent.
Then I go through the logs catching errors and I could see error messages like this:
[code]
Basically I set up a symlink fo

[2020-10-11 13:11] imabedalghafer opened #2036 "waagent not checking for holes in swap file"
When using a debian OS created from image : Debian:debian-10:10-backports:0.20200928.407
which has the kernel version : 5.7.0-0.bpo.2-cloud-amd64 and trying to enable the swap following the document :
https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/oom-swap-file-linux-vm

The swap file will be created but the mount for it will fail, and "swapon -s" will not show any swap file

[2020-10-12 09:49] leifcr commented on #1359
@trstringer I deployed through the azure portal, clicking next on all options. The image used was 'Ubuntu Server 18.04 LTS - Gen1'.  So I guess what's enabled in the default image is enabled. However, I do think the documentation in https://github.com/MicrosoftDocs/azure-docs/issues/50407 combined with the info here should help people solve it.

[2020-10-12 15:44] narrieta commented on #2036
@trstringer could you take a look? thanks!

[2020-10-13 01:23] ZhidongPeng commented on #2031
Deleted the older version 2.2.44, 2.2.45 and 2.2.46

[2020-10-13 18:21] MattGal opened #2040 "[BUG] Agent spins for hours before provisioning with "ERROR Daemon /proc/net/route contains no routes""
We make agents by spinning up gallery VMs, applying packages and other artifacts to them, deprovisioning them and publishing the result to a Shared image gallery.  This approach works fine on most linuxes, but on Ubuntu 18.04 it's become extremely slow because code inside the waagent is trying to get proc/net/route and until it gives up (after it does, things tend to succeed) our custom script ext

[2020-10-13 19:04] narrieta commented on #2040
@trstringer could you take a look? thanks!

[2020-10-13 19:06] MattGal commented on #2040
@trstringer if you want to synch about what we do on Teams or otherwise, I'm eager to explore how we don't experience this.

[2020-10-13 19:18] trstringer commented on #2040
Thanks for opening the issue, @MattGal! Can you provide the image URN that you are using to Ubuntu 18.04? And at what point do you experience this long delay on waiting for routes? Is it just your initial deployment of the base image, or is this *after* you have customized the image?

[2020-10-13 19:23] MattGal commented on #2040
Not sure I follow, but we start with this from the Azure Gallery:

    Publisher: Canonical
    Offer: UbuntuServer
    Sku: 18.04-LTS
    Version: 18.04.202009220

And at what point do you experience this long delay on waiting for routes? Is it just your initial deployment of the base image, or is this _after_ you have customized the image?

Always after customizing the image, which is why I thin

[2020-10-13 21:27] trstringer commented on #2036
Thanks for opening this issue, @imabedalghafer! Doing some research it appears as though `swapon` has it documented that we should be doing `dd` (instead of `fallocate`) for ext4. I've opened up a PR to fix this.

[2020-10-14 17:27] #2031 closed

[2020-10-14 17:36] trstringer commented on #2036
This PR has now been merged and should be resolved. Let me know if you have any questions or issues. Thanks again for opening this issue and bringing this to our attention!

[2020-10-14 17:36] #2036 closed

[2020-10-14 21:38] imabedalghafer commented on #2036
@trstringer thank you so much for your time and effort on this 👍
one last question , on which waagent we expect this change to take effect ?

[2020-10-14 21:56] trstringer commented on #2040
Closing, as it ended up being a problem with the machine environment.

[2020-10-14 21:56] #2040 closed

[2020-10-14 22:31] trstringer commented on #1878
Closing this issue, but if you want to continue troubleshooting please feel free to re-open.

[2020-10-14 22:31] #1878 closed

[2020-10-14 23:41] mabicca commented on #2031
Hi @ZhidongPeng , just to make sure, was logic added to remove older zip files moving forward too? If so, how many are we keeping behind? It would be nice to have this behavior somehow documented as users are always asking about space management within the /var/lib/waagent folder.

Thank you!
-Marco

[2020-10-14 23:49] narrieta commented on #2031
@mabicca The logic to remove older zips (once they have been removed from the backend, which is what @ZhidongPeng was doing) is already there. Can you verify that the agent removed them from the affected VM?

We usually keep 3 or 4 versions, but that depends on several factors and we are soon going to change that, so at this point it wouldn't be worth documenting the current behavior.

[2020-10-15 16:22] mabicca commented on #2031
Alright, that sounds good, thanks for the clarification @narrieta . I can probably verify that later for sure. Thank you again!

[2020-10-17 23:26] huahaiy commented on #1971
It is not hard to create a swapfile on the mounted resource disk. However, if users are supposed to create their own swapfile on `/mnt`, the option for `ResoruceDiskEnableSwap` should be removed. Otherwise, it's confusing.

[2020-10-19 16:33] trstringer commented on #1971
Sorry for any confusion on this item. @Klaas-, `/mnt` is used for VMs that are provisioned with cloud-init (our modern approach to provisioning). `/mnt/resource` is used for VMs that are provisioned with walinuxagent. To enable swap, you can use cloud-init config to either enable a swap partition or continue to use a swap file.

[2020-10-19 16:34] trstringer commented on #1971
@huahaiy, users should not have to create their own swap file. For modern images that use cloud-init, the swap file will be created on `/mnt` and for VMs that don't have cloud-init and that are provisioned with walinuxagent the swap file will be created on `/mnt/resource`.

[2020-10-19 16:47] ziesemer commented on #1971
What was the motivation and/or standard for mounting the resource/temporary/ephemeral disk directly to `/mnt`?  Per my understanding of the Linux Filesystem Hierarchy Standard (FHS), `/mnt` is to be a location for temporarily-mounted filesystems, not a temporary file system itself.  This wrecks havoc with other standards and systems that depend on having existing mount point available under `/mnt`

[2020-10-19 16:48] Klaas- commented on #1971
@trstringer the /mnt /mnt/resource thing feels like a breaking change that I would not expect within a major release of rhel :D Is that documented or is there a public changelog for these kind of changes to linuxes on azure?

the 2nd part, I am sure there was no swap created when I opened this issue, but I can retest that. But that would not be an issue with the walinuxagent if cloud-init is suppo

[2020-10-19 17:05] trstringer commented on #1971
The choice of `/mnt` is a [cloud-init implementation detail](https://github.com/canonical/cloud-init/blob/master/cloudinit/config/cc_mounts.py#L371). The user can specify a non-default if that is undesired.

As for the documentation, I'll see if it exists with the change between paths. Thanks for bringing that to our attention!

[2020-10-20 19:20] narrieta commented on #1571
fixed by #2028 #2043

[2020-10-20 19:20] #1571 closed

[2020-10-22 10:38] dsame opened #2048 "[BUG] Uncontrolled omsagent update conflicts with apt activities"
**The visible problems is sometimes commands that need to lock APT databases (apt, apt-get, apt-fast) fails with the error**

[code]

After some investigation we found out that the apt database is locked by the following command `dpkg --force-confold --force-confdef --install --refuse-downgrade 100/omi-1.6.4-0.ulinux.x64.deb` which in turn is issued by `/usr/bin/python3 -u /usr/sbin/waagent -daemo

[2020-10-22 19:04] narrieta commented on #2048
@dsame Thanks for reporting this. Could you move this issue to the repo for the oms agent?

 https://github.com/Azure/azure-linux-extensions

Thanks

[2020-10-22 19:04] #2048 closed

[2020-10-23 05:07] dsame commented on #2048
@narrieta please confirm the issue relate to omsagent.

From the log i see the problem is caused by WALinuxAgent that triggers the update of omsagent.

I'll create the similar issue in omsagent anyway.

[2020-10-23 17:05] narrieta commented on #2048
@dsame The walinuxagent triggers the oms extension, which triggers the oms agent update.

[2020-10-29 06:51] willguibr opened #2056 "Execute Custom Script (Permission Denied)"
Hi There,I created an Azure ARM template, which is using the Microsoft.Compute/virtualMachines/extensions in an Ubuntu 18.04 in order to execute a custom script. Once the machine is provisioned, the ubuntu user (non-root) should be able to run the custom script from the following directory /var/lib/waagent/custom-script/download/0 but it receives "permission denied".  This is the default directory

[2020-10-29 14:28] marinnedea opened #2057 "WaLinuxAgent - forcing IPv6 resolution"
The scenario is:

Barracuda image, which requires the IP to be set to static at appliance level and disable DHCP.
In Azure Portal, just to avoid any issue, the same IP is configured as static, although, since DHCP is disabled at OS level, will influence in no way the OS side.

IPv6 completely disabled also.

Important note:
Barracuda relies on a chrooted environment for waagent, which will prevent

[2020-10-30 09:10] marinnedea commented on #2057
Found the following https://access.redhat.com/solutions/15863 (requires RedHat account to access it).
Essentially,  the above says:

`Applications like ssh and telnet use the getaddrinfo() function with AF_UNSPEC and this function invokes both AAAA (ipv6) and A (ipv4) lookups one after the other. This can delay the connection time when DNS servers block or don't handle IPV6 correctly.
`
`Most appl

[2020-10-30 19:02] vish74 opened #2058 "[BUG] Waagent is not able to copy ovf-env.xml"
**Describe the bug: Waagent is not able to copy ovf-env.xml from mounted location.**

In our distro, we have a script that auto mount various devices at specific locations. Waagent detects the mount location but failing to copy ovf-env.xml.

Logs from Waagent:

2020-10-28T23:20:33.001779Z INFO Daemon Daemon Copying ovf-env.xml
2020-10-28T23:20:33.006362Z INFO Daemon Daemon /dev/sr0 is already moun

[2020-11-02 00:25] narrieta commented on #2058
@trstringer Could you take a look? thanks!

[2020-11-02 00:31] narrieta commented on #2056
@willguibr The permissions on the "download" directory are set and managed by the custom script extension. Could you open this issue in the https://github.com/Azure/azure-linux-extensions repo? Thank you.

[2020-11-02 00:31] #2056 closed

[2020-11-02 00:34] narrieta commented on #2057
Could you open this issue in the https://github.com/Azure/azure-linux-extensions repo? The extensions that download scripts are in this repo. Thanks.

[2020-11-02 00:34] #2057 closed

[2020-11-02 07:39] marinnedea commented on #2057
@narrieta  - did so - https://github.com/Azure/azure-linux-extensions/issues/1246

Thank you!

[2020-11-02 14:20] trstringer commented on #2058
Thanks for opening this issue! So what seems to be happening is that you're mounting the cd-rom in a non-default location prior to walinuxagent getting a chance to do that. That shouldn't be an issue, but you should be setting the correct mount point in configuration so that walinuxagent knows where to find the cd-rom mount. In `waagent.conf` you can set `DVD.MountPoint` to `/run/media/sr0`, and t

[2020-11-02 18:12] vish74 commented on #2058
Thanks for the details.
I think setting DVD.MountPoint with static path like `/run/media/sr0` may work as expected, however it can be avoided as waagent shows mounted location. It would be good if Agent can override default path for such cases.

This issue can be part of enhancement as most of the generic OS may not run into the issue.

[2020-11-02 18:34] trstringer commented on #2058
Thanks for the ideas! We will take that into consideration. In the meantime, let me know if setting `DVD.MountPoint` has fixed your issue!

[2020-11-05 04:14] johanburati commented on #1544
Seeing this error on CIS Hardened Images. it generated like 500 messages a day. Does anyone know what is the root cause ?

@pgombar Can you help with this ?

[2020-11-05 14:06] Poil commented on #1804
Hi,

It looks like I have the same bug on Ubuntu 20.04
[code]

[2020-11-05 17:16] o-l-a-v commented on #2006
Your while loop is flawed.

[code]

will give a boolean, so makes no sense to check if

[code]

[2020-11-06 16:20] abaymar commented on #2006
@o-l-a-v you are correct - thank you for pointing out

[2020-11-06 20:21] vish74 commented on #2058
Hi, as we disabled the auto mount it fixed the ovf-env.xml file issue.
However currently with Azure Image deployment with our OS, we are seeing this different error.  (which probably wasn't there before. Did something change recently? :) )

    "status": "Failed",
    "error": {
        "code": "ResourceDeploymentFailure",
        "message": "The resource operation completed with terminal provisio

[2020-11-10 19:51] trstringer commented on #2058
No matter what I try, I can't seem to repro this (removed the host keys prior to provisioning a new VM with the modified config).

Can you send me step-by-step repro instructions? Thanks!

[2020-11-10 23:44] vish74 commented on #2058
We don't modify waagent code in any way and using it as it is with few changes in waagent.conf file. After deployment and during first boot up on Azure, it starts the systemd process and runs into the issue.
During first boot our system may generate some certificates/keys but not sure if that can create any race condition for files/directories.

What are the waagent configs that are looking for /e

[2020-11-11 15:46] trstringer commented on #2058
Thanks for the information! So [get_ssh_host_key_thumbprint](https://github.com/Azure/WALinuxAgent/blob/v2.2.49.2/azurelinuxagent/pa/provision/default.py#L157-L164) is what is throwing this error. And this is because it is running `ssh-keygen -lf /etc/ssh/ssh_host_rsa_key.pub` and the file *does not exist* at this point.

If you look at the screenshot, the error is thrown at 20:47 and the file has

[2020-11-11 16:42] vish74 commented on #2058
Thanks for the reply @trstringer

Key generation should be part of Openssh process. We can set systemd configs to run waagent after openssh service.
However I think waggent should only execute [get_ssh_host_key_thumbprint](https://github.com/Azure/WALinuxAgent/blob/v2.2.49.2/azurelinuxagent/pa/provision/default.py#L157) if the keys are created by reg_ssh_host_key and RegenerateSshHostKeyPair=y.  N

[2020-11-12 20:21] trstringer commented on #2058
I think you would either need to run `dpkg-reconfigure openssh-server` (for deb-based distros) or you would need to run `ssh-keygen -A`. I'm not seeing that sshd creates them if they don't exist. If they don't exist, I see a handful of these messages:

Are you seeing in your ssh service that it is automatically generating the keys?

Another thing you could consider is having a small custom service

[2020-11-12 22:52] vish74 commented on #2058
Thanks.
Yes, planning to do a test with running waagent after SSH keys generated properly , [example](https://github.com/openembedded/openembedded-core/blob/master/meta/recipes-connectivity/openssh/openssh/sshd_check_keys)

I think this should be documented and part of the requirement if waagent has to look for "ssh_host_rsa_key.pub" file.

[2020-11-13 01:14] trstringer commented on #2058
Ok sounds good. Let me know how your testing goes for a final resolution.

That's a good idea! I'll take that suggestion back to the team. Thanks!

[2020-11-17 09:35] yuxisun1217 opened #2079 "Unable to load distro implementation with python 3.9"
Description of problem:
WALA reports "WARNING Daemon Daemon Unable to load distro implementation for rhel. Using default distro implementation instead."
The root cause is the python version is 3.9.0, which doesn't have "platform.linux_distribution()" function. WALA calls distro.linux_distribution(full_distribution_name=False) instead. It returns "rhel" as distro_name, which doesn't match any item

[2020-11-17 09:43] yuxisun1217 opened #2080 "WALA provisioning failed: AttributeError: 'array.array' object has no attribute 'tostring'"
Description of problem:
WALA provisioning failed because of "AttributeError: 'array.array' object has no attribute 'tostring'"
The root cause is in python3.9 array.array doesn't have tostring(), should use tobytes() instead.
(In azurelinuxagent/common/osutil/default.py _get_all_interfaces function)

Version-Release number of selected components (if applicable):
WALinuxAgent-2.2.48.1-2.el9.noarch

[2020-11-18 01:17] pgombar commented on #2079
Hi @yuxisun1217, you are right that Python 3.9 doesn't have `platform`, so the Agent uses `distro` instead.

Our `setup.py` script has `distro` listed as a dependency for py >= 3.7.
Can you confirm this dependency is broken if you install the agent using ` sudo python3.9 setup.py install --register-service`?

[2020-11-18 01:19] pgombar commented on #2080
Thanks for reporting this @yuxisun1217. We will address this as part of our task to make the Agent compatible with Python 3.9.

Is the image you are using with preinstalled Python 3.9 a RHEL image from Azure Marketplace?

[2020-11-18 02:17] yuxisun1217 commented on #2080
Hi @pgombar ,
No it's not an image from Azure Marketplace, but a RHEL version that will be released in the future. The python 3.9 is the default python of it. So that we may need to make WALA adapt to python 3.9. Thanks!

[2020-11-18 02:49] yuxisun1217 commented on #2079
Hi @pgombar ,
I'm not quite sure if I understand it correctly. I ran `python3.9 setup.py install --register-service` and it worked well.
The "distro" module exists. But the distro_name it returned is different from platform module.
[code]
[code]

[2020-11-18 18:54] pgombar commented on #2079
Ah sorry, my mistake. Due to the title I believed `distro` wasn't getting called at all. I see now that the issue you're raising is that `distro` returns "rhel" which we don't parse correctly as RedHat. Thanks for reporting this, we will fix it.

[2020-11-19 03:50] amatukum commented on #1852
Hello All,

I'm getting the below error when creating a Red Hat Linux VMSS. Could You please check and help.

Error:

"Destination path for SSH public keys is currently limited to its default value /home/username/.ssh/authorized_keys  due to a known issue in Linux provisioning agent.".

I'm using Red Hat Enterprise 7.9 version custom image

[2020-11-19 13:58] trstringer commented on #1852
Please see the information above. This is by-design and the option should be ignored. If you need a non-default location for public keys then at the moment the only way is to create your own custom solution.

[2020-11-19 15:34] trstringer commented on #2058
@vish74, did your testing show success? Let me know if you have any other questions!

[2020-11-19 23:27] pgombar commented on #2080
Will be fixed in #2082

[2020-11-20 00:22] pgombar commented on #2079
Will be fixed in #2083

[2020-11-20 02:42] qwordy commented on #1852
Do you have plan to support it?

[2020-11-20 15:03] jmcshane commented on #1523
Just ran into this issue as well

[2020-11-20 19:26] vish74 commented on #2058
Hi @trstringer Yes, it was successful and after some help from Azure Marketplace team, we were able to publish.

For future improvements on Waagent it would be good to cover these two based on above discussions.

1 ) As waagent detects mount location in logs - `/dev/sr0 is already mounted at /run/media/sr0`, it should be able to select mount overriding the default config. Setting `DVD.MountPoint`

[2020-11-20 19:40] trstringer commented on #2058
Thanks for opening this issue and thank you for those suggestions! I will take them back to my team. Have a great day!

[2020-11-20 19:40] #2058 closed

[2020-11-25 11:00] jpbuecken commented on #1971
IMHO, the decision to use the default of cloud-init is not wise. I assume it is in the code because it is a generic decision for every cloud.

As user @Klaas- pointed out, it is a breaking change for Azure: E.g. we need to adapt our configuration management.
Second that, we have customer who mount further ephemeral storage or temporary mounts to /mnt. I do not like the idea to mount a temporary mo

[2020-12-01 09:20] yuxisun1217 opened #2092 "[BUG][RHEL-8] Miss report "hostnamectl set-hostname --static] failed, attempting fallback""
**Describe the bug: A clear and concise description of what the bug is.**
WALA reports "WARNING EnvHandler ExtHandler [hostnamectl set-hostname <hostname> --static] failed, attempting fallback" in waagent.log, which actually run successfully.

Seems the root cause is in azurelinuxagent/common/osutil/redhat.py:
class RedhatOSUtil(Redhat6xOSUtil):
...
    def set_hostname(self, hostname):
...

[2020-12-02 00:14] larohra commented on #2092
Fixed in #2093

[2020-12-02 00:14] #2092 closed

[2020-12-02 08:52] L0g0ff commented on #1335
Tnx for your input @EduardCloud

Here is my full fix for Pfense: 2.4.5_1
[code]

You can find some helpful information in these log files:
/var/log/waagent.log
 /var/log/azure/Microsoft.Azure.RecoveryServices.VMSnapshotLinux/extension.log

I also enabled the vebose logging and updates in:
/usr/local/etc/waagent.conf

[code]
restart the waagent (_service waagent restart_)when you make some changes.

[2020-12-03 20:07] #2079 closed

[2020-12-09 02:23] yuxisun1217 opened #2101 "[BUG] Cannot remove orphaned extension package"
**Describe the bug: A clear and concise description of what the bug is.**

In exthandlers.py there's such function:
    def _cleanup_outdated_handlers(self):
...
        # Build a collection of uninstalled handlers and orphaned packages
        # Note:
        # -- An orphaned package is one without a corresponding handler
        #    directory

As I understand that this function should remove th

[2020-12-09 04:46] scmdavid opened #2102 "[BUG] ERROR ExtHandler ExtHandler Event: name=Microsoft.Azure.Diagnostics.LinuxDiagnostic"
From the following error in log with fresh installation

2020-12-09T04:09:59.087477Z ERROR ExtHandler ExtHandler Event: name=Microsoft.Azure.Diagnostics.LinuxDiagnostic, op=Install, message=eJytkbtOw0AQRfv9iqs0ASlexwo07iJhKh4FZWKkxZ5YIy2z1uw6OEH8O8ZC8AEw1dUp5ozm7qoxkUQO8tiTujSFSjVojYcg2Zk0gEZOaEJLJYoV8qPT3PNL/uZcR5Lye240xHBIdnselOwNu05CTNxEe8cyjL8g29i1LTZF3v4g25+QscTkvDe7mNowpNqYOZJqbYBb9oTF/3sXK3

[2020-12-09 14:59] lunarfs opened #2103 "Cloudinit fails to copy /var/lib/waagent/ovf-env.xml when /var/tmp has been mounted mode=1777,strictatime,noexec,nodev,nosuid"
So we are hardening a debian 10.7 image using packer, part of the hardening is making sure /var/tmp has been mounted mode=1777,strictatime,noexec,nodev,nosuid
if this particular piece is leftout, we can boot the image, but mounting the /var/tmp drive with a systemd script makes the cloutinit fail, and the vm never gets online.
We are upgrading from wheezy, and in the old weezy image it works nicel

[2020-12-09 18:06] narrieta commented on #2102
@scmdavid - This is an error in the Diagnostics extension. Could you open an issue on https://github.com/Azure/azure-linux-extensions?

The error is:

[code]

[2020-12-09 18:06] #2102 closed

[2020-12-09 18:11] narrieta commented on #2103
@anhvoms @trstringer Could you take a look at this one? Thanks!

[2020-12-09 18:14] narrieta commented on #2101
@yuxisun1217 Does this happen only on the files you created manually, or is it happening on zips created by the agent?

[2020-12-10 05:35] scmdavid commented on #2102
Created in https://github.com/Azure/azure-linux-extensions/issues/1274

[2020-12-10 07:10] yuxisun1217 commented on #2101
Hi @narrieta ,

I cannot hit this scenario by agent, so I tried to create a file to emulate the orphaned extension package. The package Microsoft.OSTCExtensions.VMAccessForLinux__1.5.10.zip is the real VMAccessForLinux extension package that was downloaded by the agent. I just rename it's version to become Microsoft.OSTCExtensions.VMAccessForLinux__1.0.1.zip. From the code I think it can emulate t

[2020-12-10 18:11] narrieta commented on #2101
@yuxisun1217 Thanks for pointing this out. If it is not causing issues with the files downloaded by the agent then we'll take a look at a later time.

[2020-12-10 18:11] #2101 closed

[2020-12-10 21:29] trstringer commented on #2103
This seems to be unrelated to walinuxagent entirely. I was able to repro it with your systemd mount unit and I see this in the cloud-init log:

[code]

cloud-init will copy `dhclient` to `/var/tmp`, which you have mounted with `noexec`. So the copy succeeds but it fails when trying to execute, and this is why you're seeing the failures.

[2020-12-11 11:13] lunarfs commented on #2103
Hi,
Thanks for sorting this out, think i will need to work on getting access to the cloud init log.
Sorry for reporting this on the wrong project.

[2020-12-11 11:13] #2103 closed

[2020-12-11 19:47] #2080 closed

[2020-12-14 18:09] picklesrein commented on #1971
I also discovered this broken mechanism when rolling out RHEL8. Our script that looks for `/mnt/resource` fails because it no longer exists. @trstringer, did we ever locate the changelog for this? From what I found for the [Waagent](https://github.com/Azure/WALinuxAgent) it still references `/mnt/resource`.

I also agree with @ziesemer. This is contrary to how I've understood how the `/mnt` direct

[2020-12-15 00:18] pgombar commented on #1546
Fixed with #1934

[2020-12-15 00:18] #1546 closed

[2020-12-15 11:01] yuxisun1217 opened #2110 "[Suggession] Deal with no-temporary disk sizes gracefully"
**Describe the bug: A clear and concise description of what the bug is.**
There are several new VM sizes that doesn't have temporary disk(Such as: E2s_v4). Perhaps we can find some way to deal with it more gracefully. Currently WALA reports error logs:
2020-12-15T04:20:40.373033Z ERROR Daemon Daemon Failed to mount resource disk [ResourceDiskError] unable to detect disk topology
2020-12-15T04:20:4

[2020-12-15 16:14] narrieta commented on #2110
@anhvoms @trstringer - could you take a look? thanks!

[2020-12-16 18:11] mhd196 opened #2113 "[Question]"
I have an application that send emails in batches. I have two reported incidents of "EMAIL SERVER CONNECTION FAILED" where no reason yet found to explain them. Just a handful number of emails were not sent. I found that both happened in same minute a heartbeat info message. These heartbeats happen every half hours (almost).  Is it a mere coincidence or there could be some kind of resource locking

[2020-12-16 18:47] pgombar commented on #2113
Hi, the `HEARTBEAT` message is a debug message from WALinuxAgent that is logged every 30 minutes. It shouldn't affect anything else on your system.

[2020-12-16 18:47] #2113 closed

[2020-12-16 22:48] mhd196 commented on #2113
According to description of WALinuxAgent  :
...
Networking
Manages routes to improve compatibility with platform DHCP servers
Ensures the stability of the network interface name
...
So I am wondering if this debug message is triggered after or before procedures that are locking a resource for a while which causing the mail sending interruption.

[2020-12-16 23:01] pgombar commented on #2113
The debug messages are not triggered by anything other than an internal timer in the agent (log every 30 minutes), so the timing is just a coincidence.

[2020-12-17 07:56] mhd196 commented on #2113
Thank you very much.

[2020-12-17 21:12] mabicca opened #2118 "[BUG] High CPU / Latency when adding/removing large number of routes"
Hi Everyone,

We are working on a reported behavior where a Linux VM is being used as a gateway and routes are being added/removed dynamically and in some cases, large numbers of routes at a time.

It was brought to our attention that when that happens, the waagent will spike on CPU usage and also cause a little bit of latency for a while, which sometimes last minutes until it goes back to a more

[2020-12-17 21:14] mabicca commented on #2118
And just to clarify, yes, the behavior is more severe with VM's that have less cores (single or dual cores).

[2020-12-29 14:49] johan-chassaing commented on #1804
Hi there!

I think that I found the same issue:

[code]

It's looks like, the waagent try to handle the log rotation for omsagent logs but omsagent has already a logrorate configuration:

[code]

Is waagent is legitimate to rotate the logs of other plugin/extension which are not populated by waagent ?

[2020-12-29 21:34] francescouk opened #2126 "Cannot start waagent"
Hi there,

I would like to know if someone had the same issue I´m having:

[code]
Looks something easy to spot but for some reason I could not find a solution.

Running on freebsd
[code]

Thanks for the attention.

[2020-12-30 18:23] larohra commented on #2118
@mabicca thanks for bringing this up. The Linux Agent does a periodic operation every minute to check if the network configurations changed in the VM and based on that reports the changes. Here's the snippet -

[code]

This so far seems to be the biggest contender that could be causing the latency (my guess is that due to the long list of routes, calculating the hashes is causing the CPU spikes).

[2020-12-30 19:27] mabicca commented on #2118
Hi @larohra , thanks for looking into this. Yes, that is definitely the reason. I can see the waagent.log going crazy when adding/removing the routes :) I can probably reproduce this again later, but if you want to run the script to add/remove routes, it is super easy to reproduce it too.

Just let me know if you want to reproduce it, otherwise I'll spin up a VM and do it later today.

[2020-12-30 19:33] larohra commented on #2118
@mabicca thanks for confirming, I think I'll just try to reproduce it on my own VM and see how we can optimize it. I'll definitely let you know if I need more help/info regarding this.

Thanks!

[2020-12-30 22:38] mabicca commented on #2118
Hi @larohra , of course, thank you. Yes, please, let me know if you need anything else and I'll gladly help.

Thanks again!
-Marco

[2021-01-08 22:13] lyan-git opened #2129 "WALinuxAgent bring down NIC with error: azurelinuxagent.common.exception.HttpError: [HttpError] [HTTP Failed] POST http://168.63.129.16/machine?comp=telemetrydata -- IOError timed out -- 6 attempts made"
WALinuxAgent bring down NIC with error: azurelinuxagent.common.exception.HttpError: [HttpError] [HTTP Failed] POST http://168.63.129.16/machine?comp=telemetrydata -- IOError timed out -- 6 attempts made

We have an Azure VM with the following config:
1. distribution:  Ubuntu18.04
2. Accelerated Network: enabled
3. waagent version:
WALinuxAgent-2.2.45 running on ubuntu 18.04
Python: 3.6.9
Goal stat

[2021-01-09 19:27] mabicca commented on #2118
Hi @larohra , please, let me know if you guys have any updates around this or need any further help.

Thank you,
-Marco

[2021-01-12 18:01] clund-nlg opened #2132 "[BUG] [Wireserver Exception] 'latin-1' codec can't encode character '\u2018' in position 545"
Errors are continuously logged by WALinuxAgent like this:

2021-01-12T17:59:18.614253Z ERROR SendTelemetryHandler ExtHandler Event: name=WALinuxAgent, op=ReportEventErrors, message=DroppedEventsCount: 1
Reasons (first 5 errors): [ProtocolError] [Wireserver Exception] 'latin-1' codec can't encode character '\u2018' in position 545: Body ('\u2018') is not valid Latin-1. Use body.encode('utf-8') if y

[2021-01-12 19:12] narrieta commented on #2126
It seems like your environment doesn't have a 'python3' link pointing to your python binary.

I'll close this issue since it is related to a specific environment, rather than to the agent itself.

[2021-01-12 19:12] #2126 closed

[2021-01-13 14:52] mrc0mmand commented on #2132
Can reproduce this as well in GitHub Actions simply by running a job:

[code]

OS Info:
[code]

[2021-01-13 16:24] dgsus commented on #1523
same

[2021-01-14 22:31] ZhidongPeng commented on #2118
@mabicca, I will follow up the history and get back.

[2021-01-14 22:33] ZhidongPeng commented on #1886
@NillsF, Thanks for your feedback, I will follow up and get back.

[2021-01-14 23:21] narrieta commented on #1817
Fixed by #2043

Output to console stops after provisioning is completes.

[2021-01-14 23:21] #1817 closed

[2021-01-15 00:19] mabicca commented on #2118
Thank you @ZhidongPeng !

[2021-01-15 17:18] ZhidongPeng commented on #1886
@NillsF , please help check this [Use Azure Policy to restrict VM extension installation (Linux) - Azure Virtual Machines | Microsoft Docs](https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/extensions-rmpolicy-howto-cli), does it fill your needs?

[2021-01-15 21:02] MatMoul opened #2135 "Release TAG is very hard to follow..."
I'm the maintainer of the ArchLinux walinuxagent package and I try to follow the release tag to update the package but it's very hard to follow it..
Looking at this page : https://github.com/Azure/WALinuxAgent/releases
At this time, V2.2.51 is the latest release but the title say "this release was not completed in all regions"
How can I be sure that a release is ready?

[2021-01-15 21:52] pgombar commented on #2135
Hi @MatMoul, we update the title as the release is completed in all product regions. I have just updated the [v2.2.35]( https://github.com/Azure/WALinuxAgent/releases/tag/v2.2.53) tag since we just completed the release. This is the latest stable version of the agent and you can update to this version.

Previously to this update, you would go to the release page and see the first release tag that

[2021-01-15 21:52] #2135 closed

[2021-01-15 23:18] MatMoul commented on #2135
@pgombar Thanks for the reply, package updated to 2.2.53 and the latest tag is verry clean ;-)
Watching for the next release...

[2021-01-18 12:30] Klaas- commented on #1971
I have created a support request for this 121011824003656

Basically I think you need to make a decision about how consistent you want to be in Azure :)

The two main issues:
* Do you want to use /mnt or /mnt/resource for rhel? I would stronly suggest to keep this in sync with CentOS (at least CentOS, but ideally also with other linux distributions
* Do you want to automatically create swap or do

[2021-01-20 23:45] larohra commented on #2132
Thanks for opening this issue @clund-nlg.

This is a known issue which was actually already fixed in #1937. Though due to some compatibility issues with some other components on the VM, we had to revert it out #2067.

That being said, we are working on bringing that PR back soon. I will keep this issue open until then and resolve it whenever we re-merge the PR.

Thanks!

[2021-01-21 00:30] larohra commented on #1905
Thanks for opening this issue @Logik78 and apologies for the delayed response.

From the logs above it looks like the agent is not able to identify the primary interface properly, and subsequently setting the wrong routes.

Could you share the `/var/log/waagent.log` file with me please? I can take a quick look.

Additionally, we identify the primary interface using this -

[code]

Could you verify

[2021-01-21 00:46] larohra commented on #1885
Thank you for this feature request @Klaas.

Currently we have no plans for adding support for this and since not a lot of customers are asking for it, I doubt its going to be prioritized anytime soon.

That being said, feel free to add the logic for it and send out a PR here, we will gladly take a look at it and can work with you from there.

Thanks!

[2021-01-21 00:46] #1885 closed

[2021-01-21 01:41] larohra commented on #1776
Thanks for the issue. Looks like CoreOS has reached End-of-Life - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros

Closing this issue

[2021-01-21 01:41] #1776 closed

[2021-01-21 02:08] larohra commented on #1670
Thanks for reporting the issue. Looks like redhat stopped using `dhclient` service starting RHEL 8 and started relying on their own `internal` implementation for DHCP.

Even though this is definitely wrong for rhel-8+ -
https://github.com/Azure/WALinuxAgent/blob/e3ecde432c0fd6968bdb6d2774e316a61b3289d2/azurelinuxagent/common/osutil/redhat.py#L74-L75

Simply changing the command to `pidof internal`

[2021-01-21 02:18] larohra commented on #1798
Closing the issue as there's been no activity on it for over 10 months

[2021-01-21 02:18] #1798 closed

[2021-01-21 07:50] Klaas- opened #2139 "[BUG] /etc/cloud/cloud.cfg.d/91-azure_datasource.cfg claims to be provided by WALinuxAgent package but is not part of it"
**Describe the bug: A clear and concise description of what the bug is.**
Hi,
on a recent RHEL Image the file /etc/cloud/cloud.cfg.d/91-azure_datasource.cfg claims in header that is is provided by the WALinuxAgent package, but it is not.

[code]

This particular machine is RHEL 8.2 with the microsoft build image:
[code]

**Distro and WALinuxAgent details (please complete the following information)

[2021-01-21 08:09] Klaas- commented on #2139
It's also the same on a current rhel 8.3 payg image.

[2021-01-21 16:45] trstringer commented on #1792
Thanks for looping me in, and apologies for the delay. No I do not have any other ideas how else this could be done. Closing this as "by design".

[2021-01-21 16:45] #1792 closed

[2021-01-25 16:02] neleshgoel opened #2144 "VM Provisioning Fails using RHEL 8 image created using AIB"
RHEL 8.3 image is created using AIB (Marketplace Image with some customisation on top , mainly CIS Hardening - RHEL8 - https://github.com/ansible-lockdown/RHEL8-CIS).

VM provisioning fails with OS Provisioning for VM did not finish in the allotted time , Below warning / error is within the Serial log.

INFO Daemon Waiting for cloud-init to copy ovf-env.xml to /var/lib/waagent/ovf-env.xml [1705 re

[2021-01-25 22:09] narrieta commented on #2139
@trstringer - could you take a look? thanks!

[2021-01-25 22:26] trstringer commented on #2144
Can you specify exactly what the customization on top of the marketplace image is? Most likely that is causing some issue, and to further troubleshoot the exact problem it would be best if we knew the specifics. Thanks!

[2021-01-25 23:24] trstringer commented on #2139
Thanks for bringing this to our attention! This will be fixed. Like you mentioned, this isn't part of walinuxagent so I will close this issue here.

[2021-01-25 23:24] #2139 closed

[2021-01-26 07:54] neleshgoel commented on #2144
@trstringer  - RHEL 8 CIS Hardening is done on top of marketplace image.

"source": {
                    "type": "PlatformImage",
                    "publisher": "RedHat",
                    "offer": "RHEL",
                    "sku": "8-LVM",
                    "version": "8.3.2020111909"

Below are customizations
{
                    "type": "Shell",
                    "name": "Install Ans

[2021-01-26 08:16] johanburati opened #2149 "OS.EnableFirewall=n does not take effect when restarting waagent"
If you change `OS.EnableFirewall=y` to  `OS.EnableFirewall=n` and restart *waagent* it does not remove the security rules.
One could expect the *waagent* to remove the security rules so that the firewall rules match the setting in */etc/waagent.conf*

[2021-01-26 14:59] anhvoms commented on #2144
CIS hardening usually includes blacklisting/removing the UDF driver, which is required for provisioning Azure VMs. Please make sure kernel support for mounting UDF filesystem is enabled.

[2021-01-26 16:29] neleshgoel commented on #2144
As per the CIS guideline, it should be disabled, i have same for RHEL7 and i have no issue in there..
Below is the CIS guideline for reference
 name: "SCORED | 1.1.1.4 | PATCH | Ensure mounting of udf filesystems is disabled"
  block:
      - name: "SCORED | 1.1.1.4 | PATCH | Ensure mounting of udf filesystems is disable | Edit modprob config"
        lineinfile:
            dest: /etc/modprobe.d/

[2021-01-26 18:32] narrieta commented on #2149
Thanks for the suggestion. We'll try to address it on a future release.

[2021-01-28 08:12] neleshgoel commented on #2144
Issue is fixed after enabling UDF driver... Closing the issue

[2021-01-28 08:12] #2144 closed

[2021-02-04 17:26] Klaas- commented on #1971
I would very much like to get a answer on the topic of use /mnt or /mnt/resource by default -- same for the swap created by default or not :) I know  that I can do all of this on my own via cloud-init custom data, but I'd rather not diverge from what I would consider "rhel defaults" and I would very much like centos/rhel to behave the same :)

highlighting @trstringer and @asinn826 for visibility

[2021-02-04 18:22] aarsan commented on #2118
Is this:

https://github.com/Azure/WALinuxAgent/pull/2156

the PR that is supposed to resolve the issue?

[2021-02-05 22:21] bureado commented on #1719
See https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/issues-using-vm-extensions-python-3

If it's not an image problem or an agent problem, is it an extension problem? If it's an extension WONTFIX, then extensions should graciously fail or ensure proper guardrails are applied to set user expectations accordingly.

[2021-02-08 10:50] ottfro1 commented on #1523
same, on ubuntu 18.04
howto fix?

[2021-02-10 01:17] johanburati opened #2170 "Error: join() argument must be str, bytes, or os.PathLike object, not 'NoneType'"
I am seeing this error on Debian 11:

[code]

[2021-02-10 01:30] johanburati opened #2171 "Consistency with uppercase and lowercase in the logs"
Sure it is a detail but on UNIX derived systems case matters, it would be good if there could be some consistency.

Sometimes the word `version` is capitalized, sometimes not.

Also you could put `version` after Python so that one can simply grep the log for the word `version` and retrieve the versions of the various components, just an idea.

[code]

[2021-02-10 01:47] johanburati opened #2172 "Second field is duplicated in logs since version 2.2.47 (Example: ExtHandler is repeated twice)"
The second field (Daemon/ExtHandler) is duplicated, It seems the issue was introduced in version 2.2.47:

## Linux Agent Version 2.2.46
[code]
## Linux Agent Version 2.2.47
[code]

## Linux Agent Version 2.2.49.2
[code]

[2021-02-10 16:41] narrieta commented on #2172
The second field should change when executing an extension.

Will close this issue, but let us know if that does not happen. Thanks!

[2021-02-10 16:41] #2172 closed

[2021-02-10 16:43] narrieta commented on #2171
The different "version" strings come from difference sources, it would not be worth make them the same case since grep -i can handle the different cases. Thanks for reporting this.

[2021-02-10 16:43] #2171 closed

[2021-02-10 16:44] narrieta commented on #2170
@johanburati   Could you share the full /var/log/waagent.log file? Thanks

[2021-02-11 23:20] johanburati commented on #2170
@narrieta Here it is: [Debian 11 waagent.log](https://gist.github.com/johanburati/c2a5257f8f59a7c9744e5080d95270b2)

[2021-02-12 09:18] axelgMS commented on #1801
similar issue = 224267350

[2021-02-12 09:44] jpbuecken commented on #1971
For your information, the choice for /mnt conflicts with some official AZURE / Micrsofot documentation.

For example, if you just follow the documentation [1] , the persistent mount of the Azure File is /mnt/$storageAccountName/$fileShareName

Since the resource disk is ephemeral, this will fail after reboot, at least after a deallocate, since the mount folder has vanished then

[1] https://docs.m

[2021-02-12 09:55] Klaas- commented on #1971
@jpbuecken that would be the same argument @N3WWN made why the ephemeral disk is mounted to /mnt/resource for (OpenLogic) CentOS on Azure. In any case if /mnt is a fixed decision for rhel (which it seems like it is) the docs should be updated and you can open an issue against that page in the microsoft-docs repository.

[2021-02-12 13:38] jpbuecken commented on #1971
@Klaas-  yes, I was just pointing out real life example.

Maybe you a right, we may need to open issues for the provider of the RHEL or Suse image (so, afaik this is Redhat and Suse themself?). They just depend on the cloud-init default, but the rougewave/openlogic approach makes more sence

[2021-02-12 14:00] Klaas- commented on #1971
the rhel images are built by microsoft. all rhel images, even the byos.

[2021-02-23 17:05] TuxInvader commented on #119
I think this is still an issue, at least for custom images. I'm using an Ubuntu 18.04 image created and provisioned by packer. After installing my software waagent is called with `-deprovision+user`.

The first machine deployed from this image in a new VNET will register with DHCP using `localhost`. The default config for provision.MonitorHostName in ubuntu is `no` so even if the hostname is chang

[2021-02-23 18:53] TuxInvader commented on #119
Actually `send host-name gethostname();` is in the original dhclient.conf, so waagent isn't adding it, it would have hardcoded the hostname if it had anyway.

For me, removing the send_hostname line from dhclient in my packer script stops localhost getting added to DNS, and modifying setting `Provisioning.MonitorHostName=y` in waagent.conf adds the hostname I set in cloud-init.

[2021-02-24 23:59] LarrySmith-1437 commented on #1852
If running the az cli in powershell, where will the key file be generated at?

[2021-02-25 15:39] TuxInvader commented on #119
More digging has revealed that this happens to me when the hostname of the instance is the same as the hostname used in building the image. It's because the the waagent process doesn't reset the set-hostname file when deprovisioning. This results in setting the hostname being skipped in cc_set_hostname.py during cloud-init:

https://github.com/canonical/cloud-init/blob/695c4f8f46585dd7feac2fdc0729

[2021-02-25 15:47] TuxInvader opened #2184 "Agent should remove/update cloud-inits set-hostname on deprovision"
On Ubuntu 18.04-LTS, a custom image can not be deployed using the same hostname as used when building the image, because deprovision leaves `/var/lib/cloud/data/set-hostname` configured.

This results in cloud-init choosing not to set the hostname on startup, because it believes the hostname has already been set. In reality the deprovision action has set the hostname to localhost. See:

https://gi

[2021-02-25 21:06] narrieta commented on #2184
@trstringer - could you take a look? thanks

[2021-03-03 23:09] trstringer commented on #2184
Thanks for reporting this issue, @TuxInvader! It appears as though this is a potential issue with cloud-init, and I've created a [bug report (launchpad)](https://bugs.launchpad.net/cloud-init/+bug/1917681) to engage upstream with.

[2021-03-05 12:15] balonik commented on #1523
just happened on RHEL8.3 :(

[2021-03-08 23:04] trstringer commented on #2184
Thanks again for raising this issue! Since this is not an issue with walinuxagent, I'm going to close this. Please follow the above launchpad bug report with cloud-init upstream to track the issue.

[2021-03-08 23:04] #2184 closed

[2021-03-11 00:16] #1383 closed

[2021-03-11 17:40] narrieta commented on #1804
Fixed by #2143

[2021-03-11 17:40] #1804 closed

[2021-03-11 17:43] narrieta commented on #1886
Please re-open if the link provided by @ZhidongPeng does not meet the requirements

[2021-03-11 17:43] #1886 closed

[2021-03-11 18:32] narrieta commented on #2118
@aarsan Yes, that is the fix

[2021-03-11 18:32] narrieta commented on #2118
Fixed by #2156

[2021-03-11 18:32] #2118 closed

[2021-03-12 17:33] narrieta commented on #1894
@byue - could you take a look at this issue? thanks!

[2021-03-12 17:34] narrieta commented on #1507
@byue - could you take a look at this issue? thanks!

[2021-03-12 18:07] byue commented on #1894
Sure, np. @ekrof when you migrated VMs, did you use "attach" semantics when attaching OS disk, instead of normal "FromImage" semantic? "Attach" semantics will let control plane know that the VM is fully provisioned, if "FromImage" was used then control plane will get stuck with Not Ready signal. The stamp version is on 1907 and is unsupported, recommendation is to move to 2002.

[2021-03-12 19:35] byue commented on #1507
There is a boolean in ovf-env.xml, ProvisionGuestAgent, that is missing here. From AzureStack side ProvisionGuestAgent is correctly put in OVF-env.xml, so possibly ovf-env.xml is corrupted since there was a problem with partition. @narrieta do you know more background behind this warning?
UDF-fs: warning (device sr0): udf_fill_super: No partition found

[2021-03-12 19:39] byue commented on #1507
@davemulford do you know what version of AzureStack this is on?

[2021-03-12 19:48] narrieta commented on #1507
`@narrieta do you know more background behind this warning?
UDF-fs: warning (device sr0): udf_fill_super: No partition found`

@byue No, no background on this. Looks like an error mounting the ISO where ovf-env.xml is located.

[2021-03-13 00:22] richjjoh commented on #1904
@manishrana2016 could you explain (in as much detail as possible) how you resolved the issue, like you're talking to a five year old (me?). Thanks.

[2021-03-17 14:48] antsok opened #2207 "[BUG] 'daemon cloud-init does not appear to be running' log messages in serial console"
**Describe the bug: A clear and concise description of what the bug is.**

The logs are being sent to the VM console, preventing from using it.

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: Ubuntu 20.04
 - WALinuxAgent version 2.2.46

**Additional context**
See screenshot
This is XenCenter for XenServer  #8.2

**Log file attached**
![Scree

[2021-03-17 16:57] Javy26 commented on #1904
@manishrana2016 how did you go about importing it manually? Facing the same issue

[2021-03-17 18:56] manishrana2016 commented on #1904
@richjjoh and @Javy26
Below are the steps:
Step 1: sudo nano /usr/lib/python3/dist-packages/azurelinuxagent/common/osutil/factory.py
Step 2: Find the line: ```from .debian import DebianOSModernUtil```
Step 3: Replace with: ```from .debian import DebianOSModernUtil,DebianOSBaseUtil```
Step 4: CTRL+X

[2021-03-17 18:58] richjjoh commented on #1904
Thank you! @manishrana2016 Really appreciate you taking the time.

[2021-03-17 19:12] Javy26 commented on #1904
Much appreciated @manishrana2016

[2021-03-18 10:13] ekrof commented on #1894
HI @byue thanks for the response. I can't recall anything that had to do with semantics when restoring back then. Since I opened the issue I did manage to restore the VMs some other way so It's all good now. 1907 was supported back in May 2020, so rest assured we have updated our AzS stamp v since then 😄

I'll be closing the issue and if anyone else is stuck on the same problem in the future, foll

[2021-03-18 10:13] #1894 closed

[2021-04-06 06:36] t-bzhan opened #2221 "Suggested way to disable "systemd-resolve" in ubutu 18.04"
We've provisioned an Ubuntu machine to host our own DNS service. But It seems the port 53 is already occupied by "system-resolve".

After some searching on the internet. We disabled the "system-resolve" following below steps:

To make the DNS resolution works again, we recreate the /etc/resolv.conf with below content copied from one old machine:

For now, the DNS resolution works on my machine, bu

[2021-04-07 09:04] robfordww commented on #2132
Still no fix on this log-filler bug?  I have the same issue with Ubuntu-20.04

[2021-04-07 15:31] larohra commented on #2132
@robfordww this error shouldn't really fill your logs unless the buggy event is being generated periodically by some extension. What extensions do you have on the box? If possible try removing them as a quick mitigation maybe?

[2021-04-09 13:15] robfordww commented on #2132
@larohra Seem that I have VMAccessForLinux, OmsAgentForLinux, and LinuxAgent.AzureSecurityCenter; though latter says "Provisioning failed"

[code]

approximately every one minute.

[2021-04-09 16:28] larohra commented on #2132
@robfordww from the snippet it does look like one of the extensions is producing some message periodically that needs UTF-8 encoding. As mentioned before, this is a known issue and we have a fix ready for it, we're just waiting for confirmation from the other components to ensure this change wont break them.

As a mitigation you can try removing the extensions if not needed. If they are needed, ma

[2021-04-13 09:39] yuxisun1217 opened #2223 "[BUG][2.2.54.2] waagent-network-setup.service failed"
**Describe the bug: A clear and concise description of what the bug is.**
waagent-network-setup.service failed because "can't open file '/var/lib/waagent/WALinuxAgent-2.2.54.2/bin/WALinuxAgent-2.2.54.2-py2.7.egg': [Errno 2] No such file or directory"
[code]

Note: Please add some context which would help us understand the problem better
1. Start a RHEL-8 VM with WALinuxAgent installed. firewalld s

[2021-04-13 10:10] yuxisun1217 opened #2224 "[BUG][2.2.54] "systemctl daemon-reload" is needed after setting waagent-network-setup.service"
**Describe the bug: A clear and concise description of what the bug is.**
There's a warning message if show waagent-network-setup.service status:
[code]
Seems after setting /usr/lib/systemd/system/waagent-network-setup.service file, it needs to run "systemctl daemon-reload".

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: RHEL-8.5
 - WALinux

[2021-04-14 18:31] larohra commented on #2223
Hey @yuxisun1217, thanks for reporting this. This error is mostly thrown when a VM is created off another VM image without properly deprovisioning it (and subsequently the agent). Can you confirm if -
- This is a custom image
- If the base image was deprovisioned properly? To deprovision a Linux VM you need to call this command - `sudo waagent -deprovision+user`

[2021-04-14 18:54] larohra commented on #2224
Hey @yuxisun1217, thanks for reporting this. This is a harmless warning thrown when the GuestAgent sets up the network-setup.service unit file. This service is mainly needed to run on service startup, apart from that this is not needed. Due to this the waagent doesn't exclusively call `systemctl daemon-reload` on the system.

This behavior is by design.

Could you please share how you got this mes

[2021-04-15 03:34] yuxisun1217 commented on #2223
Hi @larohra ,

Yes it's a custom image. And it was deprovisioned by running "waagent -deprovision+user" by root account. But the installed WALA package version is WALinuxAgent-2.2.49.2 which doesn't clear the agent_network_service_path.

Now I understand that perhaps the root cause is that the .egg file was removed during deprovisioning but waagent-network-setup.service is still enabled. IMO we ca

[2021-04-15 04:23] yuxisun1217 commented on #2224
Hi @larohra ,

Thank you for your reply! I see this message by running "systemctl status waagent-network-setup.service". I'm not quite sure if there's any feature impact, but I just think this warning message will confuse the customer. And actually IMO it should execute "systemctl daemon-reload" after modifying the .service file.

[2021-04-15 17:47] larohra commented on #2223
Hey @yuxisun1217, thanks for the deep dive into this and suggesting solutions for it. You are absolutely correct, the deprovision code removes the latest `.egg` file but this version of the deprovision does not clear the `agent_network_service_path` which causes this issue.

I really like this option, as this would also make sure that the latest daemon version is installed in the VM too. Though wo

[2021-04-15 17:58] larohra commented on #2224
Hey @yuxisun1217, there is no feature impact but I think you're right, it would definitely confuse customers. I'm going to do a fix for this and release it as part of the next release. I'll resolve this issue once the fix is merged.

Thanks for reporting this!

[2021-04-20 08:22] yuxisun1217 commented on #2224
OK thank you so much @larohra !

[2021-04-20 21:17] larohra commented on #2224
Fixed in #2225

[2021-04-20 21:17] #2224 closed

[2021-04-20 21:17] larohra commented on #2223
Fixed by #2225

[2021-04-20 21:17] #2223 closed

[2021-04-22 14:49] taoyama opened #2228 "[BUG] Ran into unexpected error when getting logs for waagent-network-setup.service service."
If system locale is other than English (ex. Japanese), ascii encoding fails because [command result of journalctl](https://github.com/Azure/WALinuxAgent/blob/f6a38c7403a6e40aef1ed183907e55ca345d6ffe/azurelinuxagent/common/persist_firewall_rules.py#L246) contains multibyte characters.

**repro steps**
1.  Create VM
[code]
2. SSH to the VM
3. Stop firewall and enable waagent-network-setup.service
[c

[2021-04-28 00:05] tfrederick74656 opened #2232 "Stateless VM re-provisioning fails due to missing ovf-env.xml DVD"
Hello Azure team,

I suspect this might be a platform issue, and apologies in advance if so, but I figured I would start here.

I've created a **stateless** custom Linux image based on Alpine Linux 3.13 for use in Azure. It's stateless in that `/` is a tempfs and all partitions are mounted read-only. As such, no data is persisted between reboots and the VM must re-provision on each boot.

The imag

[2021-04-28 16:15] narrieta commented on #2232
The DVD is mounted only at provisioning time and, I believe, it is not possible to mount it again, @trstringer may be able to confirm.

As far as all the partitions being read-only, once you get past the DVD issue, both the agent and vm extensions will malfunction if they can't write to /var.

[2021-04-28 16:17] narrieta commented on #2221
@t-bzhan this question seems unrelated to WALinuxAgent, will close the issue. Sorry, I do not know the answer to your question.

[2021-04-28 16:17] #2221 closed

[2021-04-28 16:18] narrieta commented on #2207
@trstringer could you take a look? thanks!

[2021-04-28 16:29] trstringer commented on #2207
Thanks for opening this issue! @antsok, could you please provide the cloud-init logs (`/var/log/cloud-init.log`) and redact any information that you don't want available publicly? Thanks!

[2021-04-28 16:32] trstringer commented on #2232
Thanks for opening this issue! That is correct, the DVD is removed and unable to be re-added. What exactly are you trying to do? You create an image and then your subsequent deployments are done in what way?

[2021-04-28 17:08] tfrederick74656 commented on #2232
Thanks for the responses! In short, I'm trying to combine the functionality of a "reimage" with the supervised "rolling reboot" capability of a scale set. My end goal is to have a completely stateless deployment in VM scale sets. At boot, waagent handles setting hostname/user/SSH keys, and our application grabs a configuration file from blob storage.

If I need to update the application configurat

[2021-04-28 22:46] larohra commented on #2228
Thanks for reporting this, I've sent out a PR for the fix for this - #2233

[2021-05-03 15:27] thomast1906 commented on #1359
Thank you @leifcr for referencing my blog post on the fix, glad it helped!

[2021-05-04 16:59] tfrederick74656 commented on #2232
Thanks for all the information. I'm closing this issue as it doesn't seem like there's presently a supported solution. In the meantime, I disabled provisioning in waagent (running as extension handler only) and threw a quick IMDS-based provisioner together. It's very rough but should work until I can write something more robust. Link to the code is below in case this helps anyone else.

https://gi

[2021-05-04 16:59] #2232 closed

[2021-05-04 17:01] julienym commented on #1971
Hi everyone,

Couldn't find anywhere else on the web except here the mention of temp-disk-swapfile.service
This service is WantedBy cloud-config, and therefore creates a swap file everytime you create a VM with custom-data (Azure word for cloud-init config)...

Is there a way to deactivate this ?

Thanks

[2021-05-11 17:12] larohra commented on #2228
Fixed in #2233

[2021-05-11 17:12] #2228 closed

[2021-05-12 16:08] TheKangaroo commented on #1673
This issue is open over a year now. Is this going to be fixed? We ran into this problem lately and it took us some time to figure out what's going on since some DNS queries succeeded and some failed (the lager ones e.g. TCP). Can you explain why it is considered a security issue to let non root users query DNS via TCP. After all this is the default behaviour for large queries.

[2021-05-12 17:09] larohra commented on #1673
Hey @TheKangaroo,

The firewall rules were added quite a while back (<2015) and back then either this scenario (DNS via TCP) was not too common or not considered. I'm not a security expert to comment on if it is viable to let non-root users query DNS via TCP but I will consult the experts and get back to you on that.

Currently we're planning a re-write of the agent and we were planning on taking

[2021-05-13 16:13] almalinux4all opened #2247 "[BUG] waagent-network-setup.service fails if /var is on a separate LVM volume"
If the `/var` partition is on a separate LVM volume, the `waagent-network-setup.service` is executed before the `/var` LVM volume is mounted. Therefore, the `waagent-network-setup.service` fails with the following error:

` python[595]: /usr/bin/python: can't open file '/var/lib/waagent/WALinuxAgent-2.2.54.2/bin/WALinuxAgent-2.2.54.2-py2.7.egg': [Errno 2] No such file or directory`

Currently I ha

[2021-05-17 21:27] fastlorenzo commented on #1904
Thanks for the hint @manishrana2016
In order to have it fixed in Debian repo (and thus Kali), I'll try to make a PR here (https://salsa.debian.org/waldi/waagent/-/blob/master/azurelinuxagent/common/osutil/factory.py#L25) - once my account is approved.

[2021-05-19 02:56] LiliDeng opened #2254 "[BUG] Canonical 0001-com-ubuntu-server-hirsute 21_04 21.04.202105111 see error message in waagent.log"
**Describe the bug: A clear and concise description of what the bug is.**
Provision VM using image Canonical 0001-com-ubuntu-server-hirsute 21_04 21.04.202105111
See below error log in waagent.log.
ERROR ExtHandler Command: [iptables -w -t security -L OUTPUT --zero OUTPUT -nxv], return code: [4], result: [iptables v1.8.7 (nf_tables):  CHAIN_ZERO failed (No such file or directory): chain OUTPUT

**

[2021-05-19 13:56] fastlorenzo commented on #1904
For reference: https://salsa.debian.org/waldi/waagent/-/merge_requests/3

[2021-05-19 23:27] narrieta commented on #2254
@LiliDeng - You can ignore that message, it is totally harmless. The agent is trying to collect some debugging information that is no longer needed; we will remove this code in our next release.

[2021-05-20 03:44] LiliDeng commented on #2254
thanks @narrieta

[2021-05-20 08:57] ThomasPiskol commented on #2132
Uninstalling all these extensions does not help. Even with no extension installed the error will show up continuously every minute:

[code]

[2021-05-20 16:11] larohra commented on #2132
@ThomasPiskol can you turn on verbose logging and restart the agent and send me the `/var/log/waagent.log` file after the restart if you see that error again? It will help me narrow down where the bad event is coming from.
Thanks!

[2021-05-21 03:03] narrieta commented on #2254
@LiliDeng Actually, it turns out some of that debugging info is still useful.

The error message can be ignored; this info is collected periodically and in your VM only the first call failed and subsequent calls succeeded.

In the current agent this message is no longer an error, but just a warning: https://github.com/Azure/WALinuxAgent/blob/develop/azurelinuxagent/common/osutil/default.py#L178

U

[2021-05-21 03:03] #2254 closed

[2021-05-28 16:13] narrieta commented on #1759
Fixed by #2258

[2021-05-30 16:08] indgarg commented on #2132
Is the issue solved? WALinuxAgent seems to be gone crazy. I am getting same error with below configuration

WALinuxAgent-2.2.45 running on ubuntu 18.04
Python: 3.6.9
Goal state agent: 2.2.54.2

**The error from waagent.log**
2021-05-23T06:25:26.472357Z ERROR SendTelemetryHandler ExtHandler Event: name=WALinuxAgent, op=ReportEventErrors, message=DroppedEventsCount: 1
Reasons (first 5 errors): [Prot

[2021-06-02 00:58] taoyama opened #2265 "[BUG] Unable to setup the persistent firewall rules: 'ascii' codec can't encode character"
This issue is similar to #2228

If system locale is other than English (ex. Japanese), ascii encoding fails because [command result of journalctl](https://github.com/Azure/WALinuxAgent/blob/develop/azurelinuxagent/common/persist_firewall_rules.py#L268) contains multibyte characters.

ex: ascii codec can't encode character '水'
[code]

**repro steps**
1.  Create VM
[code]
2. SSH to the VM
3. Stop fi

[2021-06-03 05:02] johanburati commented on #2132
It's been 5 months since the above comment, any idea when the PR will be re-merged ?

[2021-06-03 16:51] larohra commented on #2132
@johanburati sorry for the delay, we have a release going on right now with some big changes so we didn't want to lump this in with that. We're planning on adding this back in the next release. Will keep this thread posted.

[2021-06-03 16:57] larohra commented on #2132
2021-05-30T16:45:11.258716Z INFO MonitorHandler ExtHandler Stopped tracking cgroup: Qualys.LinuxAgent.AzureSecurityCenter-1.0.0.15, path: /sys/fs/cgroup/memory/system.slice/Qualys.LinuxAgent.AzureSecurityCenter_1.0.0.15_ad7c59f8-7b42-4c51-a34a-225d042ff6ee.scope

@indgarg these messages are just benign logs which we log when we stock tracking an extension's cgroup. That being said, these logs shou

[2021-06-07 14:14] g-spencer commented on #2132
Azure VM with RedHat 8.4-LVM /var/log/messages still being spammed every minute with these messages:-

"Jun  7 14:58:53 ... python3.6[1864]: 2021-06-07T13:58:53.252516Z ERROR SendTelemetryHandler ExtHandler Event: name=WALinuxAgent, op=ReportEventErrors, message=DroppedEventsCount: 1
Jun  7 14:58:53 ... python3.6[1864]: Reasons (first 5 errors): [ProtocolError] [Wireserver Exception] 'latin-1' cod

[2021-06-08 19:59] kevinclark19a commented on #2265
Some cursory debugging led me to some code in `azurelinuxagent.common.event:EventLogger.add_event`:
(( this code starts at `azurelinuxagent/common/event.py#L486` on current `develop` ))

[code]

The `str(...)` should instead use `azurelinuxagent.common.future.ustr` for compatibility with python2.

Should be a quick fix, and I already have a repro machine up and running, so I'll test it and update

[2021-06-08 20:43] kevinclark19a commented on #2265
Quick update: `str` -> `ustr` seems to fix the persistent firewall rules error; I applied a quick patch to my repro machine, and now get
[code]
instead of the above error. Unfortunately, this isn't quite the end of things, as we get
[code]

This is a previously known issue, I believe.

[2021-06-10 21:21] #2265 closed

[2021-06-16 13:06] 1lomeno3 opened #2274 "[INFO] Any reason why AutoUpdate.Enabled is N on SUSE images?"
Just a question why AutoUpdate.Enabled parameter is disabled on SUSE images? Is there any reason why it should be kept like this or can we enable automatic update?

Thank you!
Jan

[2021-06-21 11:18] dzsibi commented on #2132
Okay, so I went looking for a root cause. I looked at the actual message that is being encoded that contains the Unicode character that causes this exception, and found the following error message:
[code]
The latin-1 encoding chokes on the `‘` character `env` returns. The actual issue is that there is no Python 2 on the VM, so no `python` executable is present. So I installed the `python2-minimal`

[2021-06-21 16:19] larohra commented on #2132
Thanks for the deep dive @dzsibi, definitely helpful. For this though I just wanted to add some context, its the LinuxDiagnostic extension that has a dependency on `python2`, the agent itself can run on both python2 and python3. Not sure if the other users in this thread all have the same dependency on the LinuxDiagnostic extension.

[2021-06-22 06:03] johanburati commented on #1523
Seeing same error with Japanese characters:
[code]

[2021-06-22 06:26] btorsaldivar commented on #1523
This could be related to a missing `Python2` on the system, at-least that's what fixed my issue. It is specifically complaining that the Python interpreter is missing, fixed it following the steps here: https://github.com/Azure/WALinuxAgent/issues/2132#issuecomment-864952686

[2021-06-22 06:33] btorsaldivar commented on #2132
Following the steps from @dzsibi to get a minimal python2 interpreter solved the issue for me. In my case, the error specifically mentioned the missing Python as the problem, this is for the `Microsoft.OSTCExtensions.DSCForLinux` extension

[code]

[2021-06-23 17:56] larohra commented on #2132
Fixed in #2278

[2021-06-23 17:56] #2132 closed

[2021-06-25 14:26] g-spencer commented on #2132
that appears more a workaround than a fix.
there is no 'python2-minimal' (nor similar) for RedHat anyway, so that has only 'fixed' it for Ubuntu

[2021-06-25 14:37] dzsibi commented on #2132
I think that the two problems are distinct:
- Installing Python 2 (which is no longer maintained and really shouldn't be needed) is a solution to the problem that generates these error messages - Microsoft.OSTCExtensions.DSCForLinux would have to be ported to Python 3 for this to be resolved, since most modern distros don't really want to provide Python 2 anymore. (You can try `sudo yum install py

[2021-06-25 15:02] larohra commented on #2132
@dzsibi as you mentioned there are 2 different problems. The PR fixes the problem in the Guest Agent, where we were masking the real problem with some latin-1 encoding error message.

For the other problem with py3 compatibility, that is something outside the scope of the Guest Agent. I would suggest opening up an issue on the DSCForLinux Extension's repo and have them triage it further.

Thanks!

[2021-06-29 07:41] yuxisun1217 opened #2286 "[BUG] swapfile size is incorrect if value is not integer multiple of 64M in ext4 filesystem"
**Describe the bug: A clear and concise description of what the bug is.**
In exit4 filesystem, if set the swapfile size as non-integer multiple of 64M(e.g. 1025), the actual swapfile size is 1024. The remain sizes are not be added.

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: RHEL-8
 - WALinuxAgent version:
WALinuxAgent-2.3.0.2 running on

[2021-07-09 21:26] maburlik opened #2300 "[BUG] Ubuntu 20.04 - waagent does not install extensions - hitting 'latin-1' codec error"
**Describe the bug: A clear and concise description of what the bug is.**

For the Ubuntu 20.04 (focal) image:
[code]
WALinuxAgent is hitting unexpected exceptions in **call_wireserver**.

Errors:
[code]

ARM template that was used for the deployment:
https://gist.github.com/maburlik/55120692c0c544d9f4bde65a8a0ee543

**Distro and WALinuxAgent details (please complete the following information):**

[2021-07-09 21:42] narrieta commented on #2274
I believe that was a contribution/suggestion from SUSE a long time ago and it has stayed like that over time. We do recommend enabling AutoUpdate.

[2021-07-09 21:42] #2274 closed

[2021-07-09 21:43] narrieta commented on #2286
@anhvoms could you take a quick look at this issue? thanks

[2021-07-09 21:52] narrieta commented on #2300
@maburlik we will have a few changes to alleviate this issue in 1 or 2 releases. Most of the times this is caused by extensions producing telemetry data that includes characters outside the latin-1 range. The agent should delete those data once it fails to process them so if the error keeps popping up likely an extension is continuously producing more data like this. You could trying getting a ver

[2021-07-19 15:25] pavanchvk opened #2310 "ModuleNotFoundError: No module named 'azurelinuxagent' in SLES 15 SP1 - Backup is failing due to this azure linux agent issue"
I have two python(python2.7.18 and python3.6.12) versions installed in SLES 15 SP1 OS.

I have tried uninstalled and reinstalled the agent. That didnt work.
Tried pointing the python in waagent.service unit file to /usr/bin/python instead of /usr/bin/python3 and in /usr/sbin/waagent file changed she bang to #!/usr/bin/env python. Nothing worked.

Per log it says:
==================================

[2021-07-19 17:18] sanjaikumarkhola opened #2311 "The specified blob does not exist."
Hi All,

I am getting the Below Error while trying to SetMetadata into azure Blob, Could someone help me into this ?

The specified blob does not exist.
RequestId:2c5cb273-801e-0012-38c1-7c2e2d000000
Time:2021-07-19T17:13:46.8208200Z
Status: 404 (The specified blob does not exist.)
ErrorCode: BlobNotFound

Content:
<?xml version="1.0" encoding="utf-8"?><Error><Code>BlobNotFound</Code><Message>The

[2021-07-20 13:24] anamariaduta commented on #1398
Hi, I am seeing this bug again in waagent version 2.3.1.1, and Ubuntu 18.04, platform image.
The workaround of setting the hostname manually is doable, but is this bug being investigated?

[2021-07-20 14:17] anamariaduta opened #2312 "Ubuntu 18.04 --deprovision causes host name to become localhost"
We have the following scenario: we are deprovisioning an image deployed from the Portal and use it to create a new virtual machine that has the same hostname as the original one. Once it is deployed, the hostname of the virtual machine is changed to localhost, instead of the name that we have set in the Portal, which is the name of the original VM.

Here are more details:

1. Customer has a VM nam

[2021-07-20 19:04] narrieta commented on #2312
@anhvoms could you take a look? thanks!

[2021-07-20 19:07] narrieta commented on #2311
@sanjaikumarkhola your question seems unrelated to the Linux Agent, closing for now

[2021-07-20 19:07] #2311 closed

[2021-07-20 19:09] narrieta commented on #2310
@pavanchvk this seems particular to your installation, I am closing it for now, but if you have a repro using a marketplace image please do re-open this issue. Thanks

[2021-07-20 19:09] #2310 closed

[2021-07-21 14:03] anhvoms commented on #1398
@anamariaduta can you describe the exact steps you took so that we can try to reproduce this issue? Ubuntu 18.04 marketplace images in Azure should be using cloud-init to provision and waagent will yield provisioning to cloud-init. Hostname is set by cloud-init and not waagent.

[2021-07-23 09:53] yuxisun1217 commented on #2223
Hi @lagalbra ,

So sorry I didn't see your question for a long time. We don't have a regular schedule to rebase the WALA package. Usually we only rebase the package when MSFT open a request BZ for us. And sometimes when we didn't rebase for a long time, we'll discuss with MSFT if we should rebase it.

[2021-07-23 16:38] lagalbra commented on #2223
@larohra FYI on the above, as I believe @yuxisun1217 meant to tag you and not me :)

[2021-07-26 06:36] yuxisun1217 commented on #2223
Oops! Sorry @lagalbra ! Yes I meant @larohra :D

[2021-07-26 10:59] pholding commented on #2300
@maburlik I'm also seeing this issue on a VM running Ubuntu 20.04. Could you explain how to get a verbose log from waagent to see what is producing the data with invalid characters?

[2021-07-26 11:00] pholding commented on #2300
@narrieta I'm also seeing this issue on a VM running Ubuntu 20.04. Could you explain how to get a verbose log from waagent to see what is producing the data with invalid characters?

[2021-07-26 15:42] larohra commented on #2223
@yuxisun1217 thanks for the reply!

Do you know the process for this by any chance? We can proactively start reaching out to you whenever we have a new stable version is available for the repos.

Thanks!

[2021-07-27 19:48] narrieta commented on #2300
@pholding - to enable verbose logging, set Logs.Verbose to y in /etc/waagent.conf and restart the agent. Once you have the issue captured in the log (/var/log/waagent.log) revert the Verbose flag to n, since the verbose log can grow very fast.

[2021-07-27 22:22] pholding commented on #2300
@narrieta I've enabled verbose logging and have captured a few instances of the error but I can't see which extension is producing the bad data. The entry immediately before the error begins with `SendTelemetryHandler ExtHandler HTTP connection [POST] [/machine?comp=telemetrydata]` followed by a XML payload.

I don't know whether there is there is any sensitive information in the file encoded as b

[2021-07-27 22:32] narrieta commented on #2300
The XML payload consists of a list of Event elements. Each event will have a name similar to

`<Param Name="Name" Value="Microsoft.Azure.GuestConfiguration.DSCAgent" T="mt:wstr"
`
and a message similar to

`<Param Name="Message" Value="&lt;GCLOG&gt;[2021-07-15 05:49:29.535] [PID 30318] [TID 30320] [DSCEngine] [WARNING] [00000000-0000-0000-0000-000000000000] [/home/dscbuilder/DesiredStateConfigurat

[2021-07-27 23:05] pholding commented on #2300
@narrieta I can't see any characters in the message that might be causing the error. The unicode character referenced in the error message is \u2192 and there doesn't appear to be any occurrences of a rightwards arrow in the log.

There is an event created by the WALinuxAgent extension which contains the error message but I'm assuming this is simply reporting to Azure the error occurred rather tha

[2021-07-27 23:22] narrieta commented on #2300
@pholding Thanks for the gist. I can see that in this case it is an Event produced by the agent itself that is causing those errors. At some point an extension produced an invalid Event and the agent is trying to report it and it is including the incorrect character in its Message, which causes another error.

How is this impacting your VM? We are currently deploying version 2.4.0.1, which fixes t

[2021-07-27 23:53] pholding commented on #2300
@narrieta The only real impact on the VM is that /var/log/syslog is updated every minute with the error from waagent. Following your suggestion to delete the files in /var/lib/waagent/events the error has stopped (at least for the time being). Thanks for the workaround. I'll report back if it happens again and hopefully we can figured out which extension is causing the error in the first place.

T

[2021-07-28 00:06] narrieta commented on #2300
@pholding I'm sorry, UK South is one of the regions that will get 2.4.0.1 last. We use a mix of regions across different geographies and deploy the agent in "slices". UK South happens to be in the last slice... this is not something we can change easily.

I am not aware of any issue in those 3 extensions. If you have the old logs from the waagent from vm creation you could try to see if you can sp

[2021-07-28 00:40] pholding commented on #2300
@narrieta I've still got the waagent log from when the VM was created, so I've uploaded a redacted version to remove hostnames and IP addresses to gist. The link is https://gist.github.com/pholding/fa394fdae96760f64a1d3678fe2863b4

There doesn't appear to be any errors logged in waagent.log from the extensions prior to the incorrect character error. Is there anything else you can spot from the log

[2021-07-28 14:32] narrieta commented on #2300
@pholding Thanks for the log. Unfortunately, it did not provide additional information. This one is hard to debug with the current agent since the agent deletes the events that it fails to process so the only way to catch those event would be with a verbose log from the very beginning. That would require creating a custom image with verbose log enabled or installing the extensions after enabling v

[2021-07-30 14:51] anamariaduta commented on #1398
Hi Anh,

I am very sorry for the delay in answering to your email.

I am not able to reproduce the issue anymore. I think you can close the case.

Thank you,

Ana

From: Anh Vo ***@***.***>
Sent: Wednesday, July 21, 2021 5:04 PM
To: Azure/WALinuxAgent ***@***.***>
Cc: Ana Treanta ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/WALinuxAgent] Ubuntu 18.04 --deprovision causes host name to bec

[2021-08-03 21:57] jpveritone opened #2320 "waagent failing with custom-script-extension: Text file busy"
I'm running an azure govcloud environment with many VMSS using the CIS RHEL 7.9 image. About 70% of the time my extension scripts fail to run and looking in /var/log/waagent.log see the error
`The handler for VM extension type 'Microsoft.Azure.Extensions.CustomScript' has reported terminal failure for VM extension 'fastcore-proxy-MSILinuxExtension1' with error message: '[ExtensionOperationError] N

[2021-08-12 10:39] leongross opened #2326 "DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses"
I created an DCSV2 VM with an Ubuntu 20.04 Gen 2 in azure. I sshed into it and launched my provisioning script. After that I wanted to generalize it to use it as a base image for a shared image gallery definition. I launched this commnd:

[code]

And I got the following output:
[code]
I enterd y and pressed enter. I got back into my shell and nothing else happend.

Waagent version:
[code]

Not log

[2021-08-16 02:20] devszr opened #2331 "WAAGENT not updating hostname in DNS on CentOS 7.9"
When a new VM is created from a captured image, waagent doesn't seem to correctly set the VM hostname in Azure DNS.

Versions:
*waagent*
WALinuxAgent-2.3.1.1 (installed by auto-update)
*OS*
CentOS 7.9
*Cloud-init version:*
Name        : cloud-init
Arch        : x86_64
Version     : 19.4
Release     : 7.el7.centos.3

Additional description:

Once a VM from a captured image is deployed on Azure, the

[2021-08-16 12:33] leongross commented on #2326
UPDATE: When editing the script in /usr/bin/waagent and changing
[code]
to
[code]
it does not seem to break. Any comments on that?

[2021-08-18 18:54] narrieta commented on #2320
@jpveritone you log snippet shows that the error is in the extension, Could you open an issue in https://github.com/Azure/custom-script-extension-linux? I'll close this one.

[2021-08-18 18:54] #2320 closed

[2021-08-18 18:58] jpveritone commented on #2320
done.. https://github.com/Azure/custom-script-extension-linux/issues/188

[2021-08-18 23:10] narrieta commented on #2326
@leongross This was fixed by #1738, released on 2.2.48.1 (https://github.com/Azure/WALinuxAgent/releases/tag/v2.2.48.1).

It seems like the images published by Canonical are still using 2.2.46. Once they update the images the warning should go away.

[2021-08-18 23:10] #2326 closed

[2021-08-19 09:24] cjhoon1014 opened #2333 "Freebsd 12 mount issue.."
I try to install opnsense on freebsd 12 image.
so i try to install freebsd 12 with ms azure marketplace freebsd 12 image.
and then install opnsense after then, deprovisioning and capture image and create new vm with capture image.
but i found deploy error message how to solve this?

=====================

{
  "code": "DeploymentFailed",
  "message": "하나 이상의 리소스 배포 작업에 실패했습니다. 자세한 내용을 보려면 배포 작업을 나열

[2021-08-19 15:32] narrieta commented on #2331
@anhvoms could you take a look? thanks

[2021-08-19 15:33] narrieta commented on #2333
@anhvoms - could you take a look? thanks

[2021-08-19 15:40] narrieta commented on #1674
Fixed by #2258

[2021-08-19 15:43] narrieta commented on #2170
@johanburati current versions of the agent should not hit this error anymore.

[2021-08-19 15:43] #2170 closed

[2021-08-23 10:16] capncodewash opened #2336 "[BUG] WAAgent fills disk with log entries - error: "NameError: name 'get_python_cmd' is not defined""
On multiple Azure Linux VMs, the boot drives fill up to the point where the machine is unusable, because of the /var/log/waagent.log file becoming absolutely massive (~15GB on one machine). It seems that it cannot find a Python module, and re-attempts to run a process continuously.

**Distro and WALinuxAgent details**
WALinuxAgent-2.3.1.1 running on centos 8.4.2105
Python: 3.6.8
Goal state agent:

[2021-08-23 17:42] narrieta commented on #2336
@capncodewash what is the image you are using? thanks

[2021-08-23 17:48] narrieta commented on #2336
@capncodewash could you also paste the output of

waagent --version

thanks

[2021-08-23 18:28] pfernie commented on #2336
We have seen the same behavior on a Centos 8.4. Downgrading from `2.3.1.1` to a prior version (2.2.49.2) via `dnf` solves the issue. In our case, the package is installed from the `openlogic` repo.
[code]

As shown via `waagent --version`, the goal state agent successfully runs at version `2.3.1.1`, although the package itself is `2.2.49.2`.

[code]

And from `waagent.log`:
[code]

Upgrading the `

[2021-08-23 18:56] narrieta commented on #2336
There may be something wrong with those packages.

@capncodewash - on 2.2.49.2 there is indeed a call to get_python_cmd() on update.py at [line 156](https://github.com/Azure/WALinuxAgent/blob/v2.2.49.2/azurelinuxagent/ga/update.py#L156), but the function is defined earlier on the same file, at [line 85](https://github.com/Azure/WALinuxAgent/blob/v2.2.49.2/azurelinuxagent/ga/update.py#85).

could y

[2021-08-23 19:45] pfernie commented on #2336
@narrieta Thanks, I think you are correct; this seems like a mis-package. The `2.3.1.1` package available from `openlogic` repo is located [here](http://olcentgbl.trafficmanager.net/openlogic/8/openlogic/x86_64/) Examining the contents of that `rpm` reflect a `update.py` that looks to be a badly patched version; it refers to `get_python_cmd()` but lacks a definition for it:
[code]

On investigatio

[2021-08-23 20:11] narrieta commented on #2336
Thank you @pfernie... not sure if there is a way to submit feedback in that repo,,, they may want to fix it.

[2021-08-24 07:49] capncodewash commented on #2336
Thank you very much @narrieta and @pfernie for looking into this.

I've reported it as a bug to the CentOS project here:
https://bugs.centos.org/view.php?id=18287

In the meantime, since I don't really use the package, I've just stopped and disabled the services. Hopefully the CentOS team will update the package.

I'll close this issue.

[2021-08-24 07:49] #2336 closed

[2021-08-26 12:09] tejasd1990 opened #2341 "[BUG] Does the agent not pass http_proxy/https_proxy environment variables to the linux extensions?"
My team owns the TeamServicesAgent/TeamServicesAgentLinux vm extensions for windows and linux respectively. When I set the system level http_proxy/https_proxy environment variables on Windows machine, I can see them being passed to the extension. But when I set them on a linux machine(by setting in `/etc/environment` file), then I am not able to see them in the extension environment(the correspond

[2021-08-27 19:00] #2341 closed, assigned to nobody

[2021-08-29 06:55] yuriwoof opened #2343 "[BUG] stderr log of .NetworkWatcherAgentLinux come up until walinuxagent 2.4.0.2"
**Describe the bug: A clear and concise description of what the bug is.**

The following [stderr] was showed up in /var/log/waagent.log since walinuxagent was upgraded.
Could I mute this log? There seems to be no option to do this.

[code]

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: CentOS 7.9 / 7.2
 - WALinuxAgent version: 2.4.0.2

**Ad

[2021-08-30 20:29] kevinclark19a commented on #2129
@lyan-git, Hi, I'm working on this issue, and was wondering if you could give me some more information. Firstly, why do you believe that it was the agent that brought the NIC down? I see some driver logs in proximity to the agent exception, but was wondering if you had more information.
Secondly, do you have full logs showing this issue? The part of the code emitting the error logs might not be th

[2021-08-30 21:05] lyan-git commented on #2129
Hi Kevin,

We debug with Azure further and found that it was not the agent bring down the NIC, it was Azure had problem with the NIC. You can close the ticket for the agent.

Thanks.
Li

From: Kevin Clark ***@***.***>
Sent: Monday, August 30, 2021 1:30 PM
To: Azure/WALinuxAgent ***@***.***>
Cc: Li Yan ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/WALinuxAgent] WALinuxAgent bring down NIC

[2021-08-30 22:05] kevinclark19a commented on #2129
thanks, doing so now.

[2021-08-30 22:05] #2129 closed

[2021-08-31 20:10] narrieta commented on #2343
@yuriwoof the agent logs sections of the extension's stdout and stderr to help diagnose potential issues. Network Watched is running the enable script on verbose mode so the entire script gets output.

I could not find a public repo to report this issue, but I sent an internal email to them pointing out this issue.

For now, the only workaround I see is to remove the verbose option of the enable s

[2021-08-31 20:10] #2343 closed

[2021-08-31 20:48] kevinclark19a commented on #2247
Hi @almalinux4all, looking into this issue. Something you can do to fix this error manually in the meantime is to add a `RequiresMountsFor=/var` line in the `[Unit]` section of the `waagent-network-setup.service` file. You can find the path of this file with `systemctl status waagent-network-setup.service`, and it is likely to be `/usr/lib/systemd/system/waagent-network.setup.service`.

Note that

[2021-09-02 19:46] kevinclark19a commented on #1544
Hi @johanburati, I'm looking into this issue. Could you send me the log file as well? Or, potentially, could you upload them privately here on github so they aren't easily lost? I think you might be able to use a github gist for this, but I'll admit I'm not very experienced with them. If you are more experienced with them, that should work, I think.

[2021-09-02 23:43] johanburati commented on #1544
@kevinclark19a Sorry it was 11 months ago, don't have those logs anymore.

[2021-09-07 19:31] kevinclark19a commented on #2247
Closing this issue for now.

[2021-09-07 19:31] #2247 closed

[2021-09-07 19:33] kevinclark19a commented on #1544
No problem. From what I can tell, this bug should be fixed in our newest release, 2.4 (via #2278), so I'll close this issue for now. If you run into it after updating, feel free to reopen.

[2021-09-07 19:33] #1544 closed

[2021-09-11 17:31] almalinux4all commented on #2247
Thanks for your feedback, that is exactly what we did. We also configured dnf to not allow the WALinuxAgent package to be updated...

Is there any plan to make this fix part of the main package?

[2021-09-13 20:56] kevinclark19a commented on #2247
@almalinux4all, we are not planning on adding any more dependencies on boot order as of today. We may consider it when we remove our hardcoded dependency on /var, but there is no timeline for that.

[2021-09-15 17:13] mabicca commented on #2031
Hi Folks,

Just wanted to check on something, what was the change that we did for this behavior?

I still see this on a fairly new VM:

drwxr-xr-x  3 root root      4096 Jan  8  2021 WALinuxAgent-2.2.52
-rw-r--r--  1 root root    553571 Jan  8  2021 WALinuxAgent-2.2.52.zip
drwxr-xr-x  3 root root      4096 Mar 18 18:17 WALinuxAgent-2.2.53.1
-rw-r--r--  1 root root    598486 Mar 18 18:17 WALinuxAge

[2021-09-15 17:18] narrieta commented on #2031
No changes in the agent itself, the cleanup is on the back end. We have a cleanup scheduled within the next couple of days.

[2021-09-15 17:27] mabicca commented on #2031
@narrieta Could we have this documented? We always have customers asking why they see all these files and it's always not easy to determine how the cleanup works.

[2021-09-16 06:16] edwardshao opened #2355 "`ExtHandler Exception retrieving extension handlers: [ProtocolError] Exceeded max retry updating goal state` in syslog"
I saw `WALinuxAgent` wrote some error in syslog.
Could this be an issue?

The agent is "WALinuxAgent-2.2.45".

Thanks.

[code]

[2021-09-17 20:37] nagworld9 commented on #2355
@edwardshao This is expected behavior. Guest agent reports as error log type if the request fails to fetch goal state after retries.

[2021-09-22 02:42] edwardshao commented on #2355
Hi @nagworld9,
Thanks for your reply.
Is it normal?
Should I ignore the error logs?
Or I should check my environment? network connectivity issue?

[2021-09-27 20:17] nagworld9 commented on #2355
@edwardshao My understanding is that this is normal if the requested resource gone from the host. If you see it consistently I may need full local logs to investigate further.

[2021-10-04 04:36] johanburati opened #2374 "[BUG] logrotate error"
I have deployed a new RHEL VM connected to an OMS workplace, **logrotate** returns an error because of duplicate entries, in the **logrotate** config associated with **OmsAgentForLinux**  extension and the one associated with **WALinuxAgent**.

## Error
[code]
## Distro
[code]
## WALinuxAgent Version
[code]

## OmsAgentForLinux Version
[code]

[2021-10-04 04:39] johanburati commented on #2374
Also open this issue https://github.com/microsoft/OMS-Agent-for-Linux/issues/1386

[2021-10-05 19:37] narrieta commented on #2374
Thanks for reporting this. Fixed by #2143, but the agent on the base image needs to be updated for the fix to propagate.

[2021-10-05 19:37] #2374 closed

[2021-10-27 08:58] nicolaibaralmueller opened #2388 "Linux [CentOS 8] readiness 'Not configured'"
Update agent readiness says not configured.

Python2 and Python3 are installed.

I tried several installation attemps, including manual installation and purging.

The troubleshoot update agent shows the following issues:

`Hybrid runbook worker status | Failed | Hybrid runbook worker is not running. current_mof file: (/etc/opt/omi/conf/omsconfig/configuration/Current.mof) is missing.`

`Operations

[2021-10-29 18:15] narrieta commented on #2388
Seems unrelated to the VM Agent. Re-open if needed.

[2021-10-29 18:15] #2388 closed

[2021-11-02 21:50] brianandrus commented on #2247
This is terrible.
I have found that ANY nfs mount in /etc/fstab will cause waagent-network-setup to hang indefinitely on boot.
If disable the service, things work, but waagent seems to re-enable it every time, so doing 'reboot' will always result in a hung vm

[2021-11-12 20:45] stowen-msft opened #2410 "[Question] Change in behavior of reporting VM ID / VM UUID in Linux Agent?"
Hi!

  I have an Azure Service which needs to retrieve information about Linux VMs in Azure.

  When we gathered the VM ID field from Azure Linux VMs and noticed that previously, the VM'd ID field, shown as `properties.vmId` in InstanceView, was reported in reverse, with a different endianness than we would see on the VM.

  For instance, we'd run `dmidecode` on an Azure Linux VM and see a UUID of

[2021-11-15 22:40] narrieta commented on #2410
@stowen-msft given the internal email thread on this subject, this is unrelated to the linux agent. closing this issue.

[2021-11-15 22:40] #2410 closed

[2021-11-17 21:50] ma-armenta commented on #1938
Good workaround but this should be fix, or allow extension sequencing for customScript extension.

[2021-11-18 06:51] fredflev commented on #1673
This is still an issue in November 2021 and took me ages to troubleshoot since there also seems to be a parallel bug in systemd-resolved related to EDNS0 and large UDP packets and I thought that was the root cause.

CF:

https://github.com/systemd/systemd/issues/20993
https://github.com/systemd/systemd/pull/20528

As many mentioned here,  it would make a lot more sense to let the azure VM users se

[2021-11-19 18:42] dhivyaganesan commented on #1673
We have completed the code to add the new iptables to allow DNS TCP requests to all users. It will be released as a hot fix shortly.
We are in the middle of a high priority release and the hotfix  release will be started once the current release reaches a significant load. Current ETA early to mid December.

Thanks!

[2021-11-24 08:50] GurliGebis opened #2423 "[BUG] Waagent does not shut down when it detects that it is not running in Azure"
**Describe the bug: A clear and concise description of what the bug is.**

When running a VM locally in Hyper-V where the waagent service is installed, it keeps trying to connect to the Azure backend.
Instead, it should detect that it is not running in Azure, and shut down.

Note: Please add some context which would help us understand the problem better
The easy way to reproduce it is to install T

[2021-11-24 08:54] sonicaj commented on #2423
To clarify TrueNAS Scale is based off on debian bullseye stable. The same should be easily reproducible on a standard debian bullseye stable installation.

[2021-11-24 17:27] strimpak commented on #2031
Running version:
`WALinuxAgent-2.2.45 running on ubuntu 18.04
Python: 3.6.9
Goal state agent: 2.5.0.2`

still found zip files and folders under `/var/libwaagent` :

`drwxr-xr-x  5 root root 4.0K Oct  6 02:20 Microsoft.Azure.RecoveryServices.VMSnapshotLinux-1.0.9187.0
-rw-r--r--  1 root root 1.6M Oct  6 02:20 Microsoft.Azure.RecoveryServices.VMSnapshotLinux__1.0.9187.0.zip
drwxr-xr-x  8 root root 4

[2021-11-24 17:50] strimpak opened #2424 "[BUG] /var/lib/waagent keep growing in size"
Hi Everyone,

I know there were some fixes for similar issues in the past:
#1730
#2031 , added comment https://github.com/Azure/WALinuxAgent/issues/2031#issuecomment-978083118

We still see cases where there's lot of old zip files and folder under /var/lib/waagent and recently I noticed that specifically the WALinuxAgent install files are still there?

In our case we have very limited space of /va

[2021-11-30 20:00] narrieta commented on #2423
@GurliGebis

`Is there a way for the agent to detect if running in Azure, or should it only be installed when running in Azure?`

It should only be installed on Azure VMs, or it should be disabled on non-Azure VMs.

[2021-11-30 20:00] #2423 closed

[2021-12-01 11:28] larohra commented on #2424
We're going to manually delete the older versions to avoid this and are also working on a long term fix for this problem where we'll only keep the current agent version in the `/var/lib/waagent` directory.

If this is the primary concern, then the biggest file in the snippet pasted above is coming from the OMS extension (137Mb) as compared to the smaller file sizes for the agent zips/directories (

[2021-12-18 20:47] ziesemer commented on #1971
I'm now finding a need to fix this on an Azure VM that has already been provisioned, in-use, and not otherwise easily re-created - while ensuring the fix will remain even after a redeploy, etc., and receiving a new temporary disk from Azure.

https://docs.microsoft.com/en-us/azure/virtual-machines/custom-data#can-i-update-custom-data-after-the-vm-has-been-created mentions that "For single VMs, cus

[2022-01-03 14:05] spauka opened #2455 "[BUG] waagent fails after hostname change"
After changing the hostname on a VM using the hostname command, waagent encounters a repeated error every 3 seconds leading to unbounded log file growth.

**Steps to reproduce**
1. Change hostname using the `hostname` command, like `hostname host.example.com`
2. `waagent` logs a consistent failure to the systemd journal every 3 seconds. This is visible by running `journalctl -f`

**Temporary Fix**

[2022-01-04 23:42] kevinclark19a commented on #2455
Looks like this is a fixed bug in later goal state agent versions. Could you try turning on agent auto-update on this VM and let me know if that doesn't fix the issue?

[2022-01-05 14:48] spauka commented on #2455
@kevinclark19a Thanks, I can confirm that this bug no longer occurs after update.

[2022-01-05 14:48] #2455 closed

[2022-01-06 14:15] yuxisun1217 opened #2460 "[BUG] System crash may cause waagent exception"
**Describe the bug: A clear and concise description of what the bug is.**
After system crash and reboot, sometimes there are exceptions in waagent.log:
[code]

**Steps:**
1. Create a RHEL-8 VM on Azure. Enable kdump.
2. Trigger crash:
`echo c > /proc/sysrq-trigger`
3. Wait for the VM reboot, check /var/log/waagent.log
Usually trigger crash 2-3 times can see these exceptions.

**Distro and WALinuxA

[2022-01-12 13:39] Baryczka commented on #1673
@dhivyaganesan Could you tell what is the current status of this issue? I saw some merges closed https://github.com/Azure/WALinuxAgent/pull/2368/ and some merged: https://github.com/Azure/WALinuxAgent/pull/2429
but not sure if this issue was addressed?

[2022-01-12 16:06] narrieta commented on #1673
@Baryczka The fix is merged and will be included in release 2.7, which we will start deploying in a few days.

[2022-01-19 01:11] nagworld9 commented on #2460
@yuxisun1217 Thanks for reporting. This is by design of not waiting for threads to join when system crash and thus reporting if any exceptions raise in the thread. Looks like events stopped flushing and have an empty file while processing it in telemetry thread. Besides, I'm unable to repro this, could you share `waagent.log` to confirm few other details. Thanks!

[2022-01-21 09:24] Klaas- opened #2481 "[BUG] Unexplained crash of RHEL on Azure -- last life signs are problems in waagent to connect to 168.63.129.16"
I am seeing multiple crashes of Virtual machines in Azure, I can not pinpoint to a cause but the last life signs of the Virtual machines is always in /var/log/messages:

[code]

This also makes azure think that the VM was stopped from the guest OS ("user initiated")

**Distro and WALinuxAgent details (please complete the following information):**
 - Red Hat Enterprise Linux release 8.5 (Ootpa)
 -

[2022-01-22 00:52] narrieta commented on #2481
@Klaas- The VM Agent is not the reason of the crash. Likely these messages from the Agent are just a symptom of the actual issue that is causing the crash. You may want to open a support case from the Azure portal.

[2022-01-22 00:52] #2481 closed

[2022-01-24 07:41] Klaas- commented on #2481
@narrieta at least the "was stopped from within the guest" should be a waagent problem, right? I mean without waagent input Azure Platform can't distinguish between a user initiated shutdown and a crash inside the OS?

[2022-01-24 15:11] narrieta commented on #2481
@Klaas- No, waagent is not involved in initiating shutdowns or reporting them to the platform

[2022-01-29 21:47] carlosporter opened #2489 "[BUG] waagent downloads updates to /var/lib/waagent but doesn't removes the old .zip files"
Description: Any Linux OS running waagent for a few months will have at least a few .zip files at /var/lib/waagent that corresponds to older versions of the WALinuxAgent file that is downloaded every time Azure pushes a new update.

Over time these files start to pile up and add up to unnecessary space utilization on the root file syste or /var if LVM is in use.

The idea is to include a log rotat

[2022-01-31 00:18] johanburati commented on #2489
How many zip files do you see ?

FYI Marco already reported the issue in the past for WALinuxAgent https://github.com/Azure/WALinuxAgent/issues/2031 and I did for the extensions https://github.com/Azure/WALinuxAgent/issues/1730

[2022-01-31 08:50] larohra commented on #2489
Hey @carlosporter, thanks for reaching out to us.

We already have a similar logic like this in the Linux Guest Agent service where we periodically (~1hr) check for the zips and delete any of the ones that were deleted from the upstream server. This should delete all the older versions that are no longer in use. In addition to this, a new feature is being added in the Guest Agent which will only d

[2022-01-31 08:53] larohra commented on #2031
@strimpak unfortunately deleting them won't help, the agent will end up downloading them again. We're working on a fix that will only keep the current version on disk and will delete everything else. The feature is already implemented but will be released in a couple of months due to pending dependencies on the upstream services. Once that's enabled end-to-end, you should not see any extra zips in

[2022-02-03 04:33] carlosporter commented on #2489
@johanburati

I already deleted the ones I saw on my old server, but on my last recent deploy from today I can see some files that started to acumulate

[code]

@larohra

Yes, I can see the file on /var/lib/waagent ( it's my answer to @johanburati )

I have also uploaded the log file for the waagent.

Let me know if you need anything else.

[vm3372gesmd3302_waagent.log.zip](https://github.com/Azur

[2022-02-03 11:30] larohra commented on #2489
@carlosporter

I meant you shouldn't see any `WALinuxAgent-2.*.zip` files less than `v2.3.1.1` (which I see is the case as you pointed it out in the contents for `/var/lib/waagent`).

This is by design. As mentioned above, we've made a change recently where we'll only keep the zip of the version that's currently executing, others will be deleted automatically. Since that fix has some external depe

[2022-02-03 14:51] carlosporter commented on #2489
Thanks @larohra

I appreciate your help with this

:-)

[2022-02-04 08:53] Klaas- commented on #2481
Just for reference if anyone tries to google the sympoms as I did, Microsoft acknowledge a major issue with a lot of recent VM types:
Health Tracking ID: STKX-NSZ
[code]
So indeed no direct relation to waagent.

[2022-02-05 00:18] #2460 closed

[2022-02-07 23:41] picklesrein commented on #1971
@saimsh-msft thanks for clarifying the suggested best practice. I think one reason this issue exists is that in my ~20 years of Linux administration it has been "not recommended" to clobber the entire /mnt directory with a single filesystem.

going forward on the next build, would your team consider following established practices and mount the ephemeral disk at /mnt/resource like it used to be?

[2022-02-08 03:15] luke-fu opened #2497 "[BUG] /var/lib/waagent/events will produce a lot of files"
waagent --version
WALinuxAgent-2.2.46 running on centos 7.9.2009
Python: 2.7.5
Goal state agent: 2.2.46

cat /etc/redhat-release
CentOS Linux release 7.9.2009 (Core)
Document content：
[code]

[2022-02-08 09:36] danboid opened #2498 "Is it safe to uninstall walinuxagent from an Azure Ubuntu VM?"
We use an Azure VM to run Ubuntu 18.04. For the first year or two of use it was running fine and booted in a reasonable amount of time but then an update caused a boot delay of 25 minutes or so to occur on every reboot following an error like this in the kernel boot messages:

[code]

I was going to just remove `cloud-init` which would be OK under normal Ubuntu (if you're not using `cloud-init`) b

[2022-02-15 19:05] anhvoms commented on #2498
@danboid can you upload the whole log - that usually indicated that cloud-init failed when it tried to perform DHCP.
I believe the VM should still function without cloud-init and walinuxagent but it's not a scenario that we actively test for. Cloud-init is responsible for applying network config changes on boot (if you add a network interface, or adding secondary IP addresses to existing interface

[2022-02-15 20:00] danboid commented on #2498
OK, I will probably remove cloud-init and walinuxagent unless you spot something in my boot log which might fix it.

Here is the boot log up until the point where it pauses for ~25 minutes:

[code]

[2022-02-15 23:14] nagworld9 commented on #2497
@luke-fu These files are for processing telemetry events. We keep them temporarily and not persisted. As soon as we process events, these will be deleted. Wrt to having lot of files, this is expected since we create one file for each event.

[2022-02-22 02:12] luke-fu commented on #2497
But I found that there is a machine that will always exist, I need to clean it every ten days.

[2022-02-23 19:17] nagworld9 commented on #2497
@luke-fu That's weird. Do you see any warning/errors in the agent log? Based on agent version this machine had very old agent, in genral we recommend having latest version.

can you run `ls -lt `under events directory and share it here to know the timestamps? do you see same content of `Microsoft.Azure.GuestConfiguration.DSCAgent` in all these files?

[2022-02-28 21:37] Hardstl opened #2521 "[BUG] Agent breaks when deploying template with VM and runCommand"
When using a Bicep template to deploy an Ubuntu VM while also doing a runCommand in the same template after the VM has been deployed, the agent completely breaks and doesn't seem to be able to repair itself. It's as if the agent never finishes setting up to begin with. Removing the runCommand resource from the template will make sure the agent is properly installed, and deploying the same template

[2022-03-01 04:10] narrieta commented on #2521
@Hardstl This is was fixed some time ago. The agent version on your vm (2.2.45) is pretty old. I'd recommend you enable agent autoupdates to get the latest version (see AutoUpdate.Enabled https://github.com/Azure/WALinuxAgent)

[2022-03-01 14:09] Hardstl commented on #2521
@narrieta thanks for the information. Is it possible to upgrade the agent to the latest version for the image on the marketplace?

I will try using the Ubuntu 20.04 image for some tests.

[2022-03-01 14:29] narrieta commented on #2521
@Hardstl The images in the marketplace are updated by their publishers, and they normally due it regularly. In the case of the Ubuntu base image the update would need to come from Canonical. If you enable AutoUpdate you would get the latest agent Azure publishes.

[2022-03-01 14:46] Hardstl commented on #2521
@narrieta I believe the AutoUpdate.Enabled is set to true as default, but please correct me if I'm wrong. However, the VM is never able to update the agent as it just breaks down before that happens.

[2022-03-01 15:58] narrieta commented on #2521
@Hardstl your output of waagent -version indicates the agent is not autoupgrading, but regardless of that, you are right, this message is coming from the agent in the image. This makes the issue harder to debug. One thing you could do is to create a custom image with verbose logging enabled, or adding more information (a stack trace) to that that error message. If this is something you want to try

[2022-03-01 16:05] narrieta commented on #2521
@Hardstl I can try some queries on the backend that _may_ provide more info about the issue. For that I'd need you to post the resource group name, vm name, and time of the failure. Do not post those if they are considered confidential.

[2022-03-01 16:08] narrieta commented on #2521
@Hardstl Another thing you could try, if you enable the serial console on your VM, is to login to the console, enable verbose logging and restart the agent. If the issue persists we could get more info from the log.

[2022-03-01 20:41] Hardstl commented on #2521
@narrieta  I did some additional tests using 20.04 and getting the same issue. I enabled verbose logging in `/etc/waagent.conf` and restarted the service. Attached the log, verbose starts at around row 586.

[waagent.log](https://github.com/Azure/WALinuxAgent/files/8164624/waagent.log)

[2022-03-01 22:20] narrieta commented on #2521
@Hardstl Thank you, I downloaded your log. I see the request that is causing the issue. Can you hold this machine? I can post a command line to replicate that request in this VM tomorrow morning. There is something in the response that is causing the error.

[2022-03-01 22:22] narrieta commented on #2521
@Hardstl feel to stop the agent on this VM. The verbose log may grow too long.

[2022-03-01 22:57] narrieta commented on #2521
@Hardstl This would be the request (you need to issue it as root)

[code]
you can get the full URL from your log, just 3 lines before the error message ("[the JSON object must be str, bytes or bytearray, not NoneType]"), it's the one that contans "extensionsConfig". Just be sure to decode the URL in the log.

This would return a piece of XML with some embedded json, do not post that here, since it

[2022-03-01 22:58] narrieta commented on #2521
@Hardstl BTW (that json is generated from the extension settings in your template, there may be a subtle issue in your template that I can't spot from the text you posted above)

[2022-03-02 15:12] narrieta commented on #2521
@Hardstl Looking at the code for 2.2.45, likely the RuntimeSettings element in the XML document is empty. Could you verify that?

[2022-03-02 15:31] Hardstl commented on #2521
@narrieta this is the response from running the wget command. The VM is just a test VM in a MSDN subscription, so nothing really important.

[code]

How do I check if the RuntimeSettings is empty, which document?

[2022-03-02 16:00] narrieta commented on #2521
@Hardstl Actually the request failed. 410 means the parameters to the request are no longer valid, likely the state of your VM has changed after the original failure. I think I saw "incarnation=3" in the request that failed on your VM. You would need to either try with the most recent error in your log, or try to reproduce the issue again and retry the request with the URL in the last error. If wg

[2022-03-02 16:07] narrieta commented on #2521
@Hardstl I just noticed the url you used is not fully decoded, I am not sure if wget will try to decode it for you, but if it doesn't then that may explain the 410 error.

Instead of

`http://168.63.129.16/machine/b056350c-03a1-4efc-9ef8-584053087d59/b6324691%2D6ee6%2D45f0%2Da84c%2D7002f3fc6459.%5FVmTestRun2004?comp=config&type=extensionsConfig&incarnation=3`

you can try

`http://168.63.129.16/ma

[2022-03-02 16:15] Hardstl commented on #2521
Just tried with the most recent error from the log.

[code]

The template is based on the latest image of Ubuntu 20.04 from the marketplace in this case. It's just the most basic standard VM. If I however don't execute runCommand in the same template the agent is installed as it should. Could it be that the runCommand interferes with the initial setup of the agent?

[2022-03-02 16:25] narrieta commented on #2521
@Hardstl The response was saved to
`
Saving to: ‘5e9212ff-09c2-4da4-8dbe-cb54d99d2e00._VmTestRun2004?comp=config&type=extensionsConfig&incarnation=1’
`
What is value of RuntimeSettings (don't post any confidential info)

[2022-03-02 18:35] Hardstl commented on #2521
@narrieta here's the content.

[code]

[2022-03-02 18:47] narrieta commented on #2521
@Hardstl - that looks good to me. This will require more debugging. From code inspection it seems to me that this is the same issue we already fixed in the current agent, the entire parsing of that json is now done differently. I'll leave this issue open and add it to our bug backlog, but it may take some time before we can get to it.

[2022-03-02 20:27] Hardstl commented on #2521
Sounds good. Thanks for your help!

[2022-03-03 20:57] #2497 closed

[2022-03-03 20:58] kevinclark19a commented on #2498
The logs don't look like an issue with the agent and the titular question has been answered.

Will close this issue now.

[2022-03-03 20:58] #2498 closed

[2022-03-08 16:47] etcetc commented on #1730
Does this also apply to files for SiteRecovery such as Microsoft.Azure.RecoveryServices.SiteRecovery__Linux__1.0.0.9119.zip ?  OK to manually delete all .zip files?

[2022-03-08 17:28] larohra commented on #1730
@etcetc is this the only `Microsoft.Azure.RecoveryServices.SiteRecovery__Linux__*.zip` file in your VM? Or do you have multiple versions installed in there? Having 1 is by design, having multiple is wrong. If you have multiple, you can keep the latest one and delete the older ones. If you just have one, you can delete it but the guest agent might re-download it somewhere down the line as per desig

[2022-03-08 18:11] etcetc commented on #1730
oops - already deleted them.  Most had dates pre 2019 so I suspect they were leftovers from pre-resolution

[2022-03-28 22:46] kai4785 commented on #1764
Apparently you can get past this if you create a default route on 127.0.0.1:
[code]

[2022-03-31 08:39] mrventerj commented on #1335
@L0g0ff

I am fairly new to this issue, is the solutions above to provide the ability to only take snapshots of disks manually or does this solution provide the ability to run the pfsense VM backups through Azure Recovery services vault?

[2022-03-31 08:45] eduardcloud commented on #1335
VM backups works wel too.

Regates.

[2022-03-31 09:37] eduardcloud commented on #1335
Hi @mrventerj  I have FreeBSD 12.2-STABLE and it works. But when I upgraded it from the previous version I need to repeat the steps again to get backups running again.
I don't know if there are any issue with 12.3

Regards

[2022-03-31 09:39] mrventerj commented on #1335
Thanks @eduardcloud , did you repeat the steps you posted or the steps L0g0ff posted?

[2022-03-31 09:46] eduardcloud commented on #1335
Yes @mrventerj  I did. The symlinks were lost and the python version changed.

[2022-04-01 07:33] mrventerj commented on #1335
For each of the symlinks I get the following:
ln -s /usr/local/bin/python3.7 /usr/bin/python
ln: /usr/bin/python: File exists

In my bin directory, I have python and python3 folders, should I rather install 3.7 or change the sym link command to:
n -s /usr/local/bin/python3 /usr/bin/python?

[2022-04-01 11:42] stephenw10 commented on #1335
Python 3.8 is installed by default in pfSense 22.01 so your symlinks should look like:
[code]
Remove the links to 3.7 and replace them.

[2022-04-01 16:49] stephenw10 commented on #1335
You should have symlinks in /usr/bin named python and python3. They should both point at the binary /usr/local/bin/python3.8.

I'm not actually sure you need both since the script appears to search for the binary under various names:
[code]

[2022-04-05 23:55] g-psantos commented on #2333
@cjhoon1014 Were you able to figure this out?

[2022-04-09 15:36] mrventerj commented on #1335
@stephenw10 Thanks Stephen, I have fixed the following:
"You should have symlinks in /usr/bin named python and python3. They should both point at the binary /usr/local/bin/python3.8."
Python3 was still pointing

Alas, I still cant backup xD - error log contains:
`2022/03/19 19:29:44.551184 INFO ExtHandler WireServer endpoint is not found. Rerun dhcp handler
2022/03/19 19:29:44.552620 INFO ExtHandl

[2022-04-09 21:15] stephenw10 commented on #1335
I also saw warnings but it still completed. That looks like a network issue though. Maybe unrelated to the script?

[2022-04-10 15:32] mrventerj commented on #1335
@stephenw10  Aye it was unrelated, turns out I had my WAN IP address on static, when I switch it to DHCP it started working, I maybe had an incorrect default gateway, after switching to DCHP it started working, thanks for your and everyone else's help on here. <3

[2022-04-19 15:43] simratsatia opened #2557 "Provisioning any Azure VM Extension runs Enable Function of all other extensions previously provisioned"
**Describe the bug: A clear and concise description of what the bug is.**

Issue Description:
When I execute RunShellCommand on the VM, I notice that 'enable' function specified in HandlerManifest.json of ALL the previously existing extensions are executed again. I'm not sure if this is an intended behaviour but not sure why it would be intended to begin with.

Repro Steps:
1. Provision the VM wit

[2022-04-20 12:28] uppalapativinaysai commented on #2102
HI @scmdavid @narrieta If you know solution for the above problem please let me know.. I trying harder but I am not getting.
Thanks in Advance..!!!

[2022-04-26 16:15] narrieta commented on #2557
@simratsatia Yes, this is the intended behavior. All the extensions in the Model of the VM need to be executed when anything changes in the VM.

[2022-04-26 16:15] #2557 closed

[2022-04-27 18:43] sabman3 opened #2568 "Failure in RPM Build"
On RHEL 8 during RPM build an error occurs because "/usr/lib/rpm/redhat/brp-mangle-shebangs" requires that /bin/waagent and /bin/waagent2.0 require the specific python version for the shebang line. So instead of "#!/usr/bin/env python" it should be "#!/usr/bin/env python2".  The change to the shebang should be backwards compatible to RHEL 7, since that version if the OS recognizes python2 as a val

[2022-04-27 22:41] sabman3 commented on #2568
Okay. Actually just tested the RPM I created on RHEL 8 and using python2 in the shebang forces it to have a dependency on python2. I redid the RPM using python3 in the shebang an all worked well. Now I don't know if the problem is with Red Hats rpmbuild package and /usr/lib/rpm/redhat/brp-mangle-shebangs, or with python ez_setup. Maybe someone else has input into this issue.

[2022-04-28 22:45] thedarksage opened #2573 "[BUG] Systemd services aren't created after installation for DEBIAN machines with python3"
setup.py script tries to create systemd service after copying packages for DEBIAN, for which it has a check at line 220

[code]

[code]

The function return type is different for python3 and python (b'systemd' and 'systemd') , hence the check fails, causing setup to wrongly assume systemd is absent, t therefore the guest agent service is not created.

![image](https://user-images.githubusercontent

[2022-05-05 04:35] yuxisun1217 opened #2582 "[BUG] WALA provisions VM failed because of no "ifdown/ifup" commands in RHEL-9.0/8.6"
**Describe the bug: A clear and concise description of what the bug is.**
* If use WALA as provisioning agent(without cloud-init), it provisions VM failed because of no "ifdown/ifup" commands in RHEL-9.0/8.6.

* Another impact is if use cloud-init as provision agent and waagent.service is running, when change hostname, waagent.service prints some error logs in waagent.log, but the hostname can be

[2022-05-05 21:38] jofrance commented on #1971
This also breaks functionality with other Azure products, like ADE that still uses /mnt/azure_bek_disk and assumes that the resource drive needs to be mounted on /mnt/resource when it is encrypted, which overrides and sometimes duplicates the entries on /etc/fstab, which at the same time causes systemd to try to mount everything without having dependencies between those mount points.

Quoting FSHS

[2022-05-11 13:13] pmdci opened #2588 "Support for Rocky Linux and/or Alma Linux?"
Due to CentOS changing to Stream, alternatives like Rocky Linux and Alma Linux have been introduced. Any chance we can get the WA Linux Agent to work with Rocky Linux and/or Alma Linux?

[2022-05-11 15:28] alexey-nikolov-basemark-com commented on #1938
Still no progress? What a shame

[2022-05-12 21:54] nagworld9 commented on #2573
Fixed the issue.

[2022-05-12 21:54] #2573 closed

[2022-05-13 09:19] serefacet opened #2589 "[BUG] Python 3.8.13 Platform module does not have supported_dists attribute"
**Describe the bug: A clear and concise description of what the bug is.**

Note: Please add some context which would help us understand the problem better
1. Section of the log where the error occurs.
2. Serial console output
[code]
4. Steps to reproduce the behavior.
- Install Ubuntu LTS (18.04.1) from Azure and upgrade Python version from 3.6 to 3.8.13

**Distro and WALinuxAgent details (please

[2022-05-13 09:23] serefacet commented on #2589
It seems that `UbuntuLTS` image comes with WALinuxAgent 2.2.45. I will try to update the agent.

[2022-05-14 12:46] trogper commented on #1565
For me, clearing the walinuxagent's `/var/lib/waagent` folder solved the issue. But you need to keep the `ovf-env.xml` file
[code]

[2022-05-16 23:54] narrieta commented on #2588
@pmdci We already have internal work items to add Rocky Linux and Alma, but presently we are working on another features, so we do not have an ETA. I'll post any updates here.

[2022-05-16 23:59] narrieta commented on #2568
@sabman3 sorry, i did not quite get what the issue is.

As a note, we are using now bin/py3/waagent for distros in which only Python 3 is installed

[2022-05-17 20:22] narrieta commented on #2589
@serefacet thanks for reporting this. We will add support for Python 3.8 at a later date. In the meanwhile, as a workaround, you could set the python version to use in the service file:

[code]

[2022-05-17 21:45] nagworld9 commented on #2582
@yuxisun1217 thanks for reporting this. We fixed it now. The fix would go in v2.9

[2022-05-18 18:16] #2582 closed

[2022-05-19 09:19] johanburati opened #2593 "[BUG] deprovision cause exception on RHEL 9.0 Beta"
Working on an image for RHEL 9.0 Beta, when I try to deprovision I get a expection:

[code]

[2022-05-19 09:27] johanburati commented on #2593
Looks like the network configuration is stored in  `/etc/NetworkManager/system-connections/eth0.nmconnection` in this release.

[2022-05-20 03:06] johanburati commented on #2593
Just in case I tried with the latest release v2.7.0.6, but same issue:
[code]

[2022-05-20 07:05] johanburati commented on #2593
I tried also with the develop branch since you've posted a fix https://github.com/Azure/WALinuxAgent/pull/2592

[code]
but still have the issue:
[code]

[2022-05-23 17:50] #2568 closed

[2022-05-24 23:20] nagworld9 commented on #2593
@johanburati I'm unable to repro this. I tested in cloud-init provisioning agent and it's working fine and file is present. File content says

[code]

when do you see this exception? are you validating waagent provision/deprovision path? can share repro steps?

[2022-05-25 06:18] johanburati commented on #2593
I just built the image on my workstation using the DVD from Redhat, upload the VHD to Azure and create a VM by attaching the VHD. From there I was planning to run `waagent -deprovision` and then create an image.

I was planning to use waagent for provisioning so I did not install cloud-init.

I did not install cloud-init as I was planning to use

[2022-05-25 08:11] johanburati commented on #2593
If I install the *cloud-init* package it works because *cloud-ini* creates the file in *network-scripts* but shouldn't *waagent* handles that situation without depending on *cloud-init* ?

[2022-05-25 22:24] nagworld9 commented on #2593
The marketplace images seems working. We don't know what custom image that you are using. I couldn't repro issue. What type of image is this "DVD from Redhat". Is it marketplace version of image or something else?

[2022-05-26 00:08] johanburati commented on #2593
It means you download the DVD  iso for RHEL9 from Redhat website -> https://developers.redhat.com/products/rhel/download

I download the DVD from Redhat as described above, and build a VM from it.
Only difference with the marketplace images is that I don't install the cloud-init package.

If cloud-init is installed it will create the files under network-scripts folder and WALinuxAgent will not thr

[2022-05-26 14:21] narrieta commented on #2593
@johanburati The main purpose of the "deprovision" option in waagent is to help prepare a generalized image from an image in the marketplace where the agent has already been installed. The images in the marketplace use cloud-init and that case seems to be handled correctly.

If you can provide detailed instructions to reproduce the problem you are seeing, we may be able to help.

[2022-05-26 23:27] johanburati commented on #2593
The instructions are the one you can find in:
- [Prepare a Red Hat-based virtual machine for Azure](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create-upload-vhd)
expect you use the DVD iso for RHEL9 from  https://developers.redhat.com/products/rhel/download

In that doc, It is specified one need to deprovision the VM:

When you do **waagent** throw an expection:

Is it ex

[2022-05-31 08:16] yuxisun1217 commented on #2593
Hi @narrieta ,

I also see this issue in RHEL-9.0. This issue is happened when there's no /etc/sysconfig/network-scripts/ifcfg-eth0 in the image. The ifcfg-eth0 is not a necessary file in both RHEL-9 and RHEL-8 now, and the network-script . I think missing this file should not block the WALA provisioning.
Besides, if there's no ifcfg-eth0 file, `wagent -deprovision` command will also through an ex

[2022-05-31 09:37] yuxisun1217 opened #2600 "[BUG][RHEL-9] Failed to decrypt certificate if FIPS is enabled"
**Describe the bug: A clear and concise description of what the bug is.**
In RHEL-9, if use WALA as provision agent(no cloud-init) and FIPS is enabled in the image, the VM provision failed because `Failed to decrypt /var/lib/waagent/Certificates.p7m`.
[code]

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: RHEL-9.1
 - openssl-3.0.1-27.el9_0.x

[2022-06-02 09:13] yuxisun1217 opened #2603 "[BUG] The description of "Logs.Collect" is incorrect"
**Describe the bug: A clear and concise description of what the bug is.**
In the config/waagent.conf, the description of the "Logs.Collect" is "# Enable periodic log collection, default is n". Actually the default is y in the code
[code]

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: RHEL-9.1
 - WALinuxAgent version
WALinuxAgent-2.7.0.6 run

[2022-06-06 17:56] narrieta commented on #2331
@anhvoms could you take a look? thanks

[2022-06-06 18:12] kevinclark19a commented on #2603
Thanks for bringing this to our attention, will make the change and add the PR # here.

[2022-06-06 18:35] narrieta commented on #2593
@johanburati cloud-init is the recommended/supported way to provision RHEL9. We provide limited support for other scenarios. I'll leave this issue open, but it may takes us some time to get to it.

We don't produce the RPM package. If Red Hat's package is missing the dependency on cloud-init, this should probably be reported to them.

[2022-06-07 03:37] yuxisun1217 commented on #2593
@narrieta No. I hit this issue when I test WALA feature in RHEL(without cloud-init).

[2022-06-08 14:26] FladoToo opened #2607 "SUSE: sysconfig values may get clobbered"
https://github.com/Azure/WALinuxAgent/blob/76f769cb53eced67609b3c2f9c758afc96be9934/azurelinuxagent/common/osutil/suse.py#L113

Looking at wicked's source, this is buggy. Wicked accepts values with single quotes, double quotes, and no quotes at all, so this code should be prepared to react to all those variants ("AUTO", 'AUTO', and AUTO) and not clobber them if the wrong quotes are used.

https://

[2022-06-08 19:11] narrieta commented on #2331
Thanks @FladoToo. This was fixed by #1951, and the issue should be resolved once the SUSE images are updated

[2022-06-08 19:11] #2331 closed

[2022-06-08 19:13] #2607 closed

[2022-06-09 12:55] FladoToo commented on #2607
@narrieta, do you mean  #2583? Because #1951 is from January 2021...
Anyway, the fix in #2583 is very welcome, but not enough. It only repairs the damage done by the buggy agent and that only while de-provisioning. Meanwhile any hostname change would clobber any value that uses the wrong quotes or no quotes at all. Since AUTO, "AUTO" and 'AUTO' are all valid entries for _wicked_ I don't think any

[2022-06-09 17:06] #2603 closed

[2022-06-10 00:21] graemefoster commented on #1938
Have this issue as-well. According to the readme this used to work so feels like a introduced bug at some point (bold text for emphasis of previous behaviour): Is there a plan to fix this?

Provisioning.UseCloudInit
Type: Boolean Default: n

This options enables / disables support for provisioning by means of cloud-init. When true ("y"), **the agent will wait for cloud-init to complete before inst

[2022-06-15 10:56] peter9370 commented on #1843
Just to mention that this issue is now resolved - I forked the repo and added support for devuan, and this has now been merged (#2553).

[2022-06-15 11:02] FladoToo opened #2614 "[BUG] SUSE: Valid values for DHCLIENT_HOSTNAME_OPTION can get clobbered"
wicked accepts AUTO, 'AUTO', and "AUTO" as valid values for DHCLIENT_HOSTNAME_OPTION in /etc/sysconfig/network/dhcp. However, when the agent detects a hostname change, it recognizes only one of these values (the newest version in the SLES repository python-azure-agent-2.2.49.2-150100.3.23.1 recognizes only AUTO, the version here on GitHub - only "AUTO") and replaces any of the other with the actua

[2022-06-16 00:56] dorssel commented on #2589
Had the same on 22.04, which comes with python 3.10. The code in `future.py` already handles this. As an alternative, it will use the `distro` library, which you don't seem to have installed.

Flow is, 1) it tries to use `supported_dists`:

The exception is caught. But then it fails with 2) it tries to use `distro` instead:

Solution:
[code]

[2022-06-19 17:06] AntonioSun commented on #1938
_"waagent now auto-detects cloud-init as a provisioning agent"_ and the effect is that they both will/can work together?

I'm still having this issue though.

[2022-06-19 17:13] AntonioSun commented on #1938
This is what I got when trying it:

[code]

Just to confirmed that I've done it properly:

[code]

[2022-06-20 10:06] yuxisun1217 opened #2618 "[BUG] Cgroup monitoring doesn't support RHEL-9"
**Describe the bug: A clear and concise description of what the bug is.**
In RHEL-9, the logs collector cannot be enabled because cgroup monitoring cannot be enabled. It seems there're 2 reasons:
1. Cgroup monitoring is not supported on ['rhel', '9.1', 'Plow', 'Red Hat Enterprise Linux']. The distro_name is 'rhel' but not 'redhat' so that cannot match the condition in the following function:
[code

[2022-06-25 15:13] dczaretsky opened #2619 "[BUG] Waagent history files consuming all inodes"
I'm running a number of Azure VMs with Centos linux servers and noticed this issue permeating across a number of them. It seems the inodes have been consumed entirely, although memory usage is relatively low.

[code]

It seems there were some 1.5M files generated under /var/lib/waagent/history/ that were consuming much of the inodes.
[code]

I noticed some errors in the waagent.log file noted belo

[2022-06-27 17:27] dczaretsky commented on #2619
Further investigating, I found that if I restart the waagent service, it seems to remove all of the subdirectories and replaces with a zip file. However, after several days the number of files seem to grow constantly. In only about 2 days it consumed about 18% of the inodes.

Perhaps the waagent process needs to run more regularly (e.g. hourly or daily). Any ideas how to manage the waagent schedul

[2022-06-28 00:49] nagworld9 commented on #2618
@yuxisun1217 Do you happen to know why cgroup v1 support was removed from these distros? Is this specific to rhel images or anything after particular Kernel version don't have cgroup v1?

[2022-06-28 21:27] nagworld9 commented on #2618
@yuxisun1217 since you pointed out distro name change, we wonder how the Agent packaged into RHEL image when agent setup required a change to copy agent files. Don't you use agent setup when packaging? Do you guys modify/customize the agent to have necessary files. If so, we would like to have those changes in the upstream so that it won't break for customers who build it from the source.

[2022-06-29 00:20] nagworld9 commented on #2614
@FladoToo you mean agent should support all three types ("AUTO", 'AUTO', and AUTO). If it matches, agent shouldn't the update the hostname.

[2022-06-29 06:55] FladoToo commented on #2614
@nagworld9 yes, exactly.

[2022-06-29 08:01] yuxisun1217 commented on #2618
@nagworld9 About the distro name change, perhaps it's because in RHEL-9.0 the python version is 3.9, and the "linux_distribution" function is removed from platform. So it calls the distro.linux_distribution function to get the distro name.
And here is the distro id list:
[code]

[2022-07-08 22:15] maxwolffe commented on #2040
[trstringer](https://github.com/trstringer) - No chance you actually remember what this issue was? We've seen this pretty recently in our customized Ubuntu 18.04 VMs in Azure.

[2022-07-10 04:48] soyfrien opened #2628 "[BUG] The show-configuration flag will report `ResourceDisk.EnableSwapEncryption = True` on Ubuntu"
**Describe the bug: A clear and concise description of what the bug is.**
If running `waagent --show-configuration`, by default you will see an option, that doesn't appear in `/etc/waagent.conf`, as disabled.

[code]

It sounds useful when using swap on the resource disk, as it seems possible that these drives may wind up on VMs of other users, so you manually add it to `/etc/waagent.conf`.

[code

[2022-07-11 02:19] AndyX-Net commented on #485
Please check python/pip environment:
	whereis python
	whereis python3
	whereis pip
	whereis pip3
	ls -al /usr/bin/python* && ls -al /usr/bin/pip*

If python3 (or 3.6) exists, please try to run command:
	sudo python3 setup.py install
	or
	sudo python3.6 setup.py install

If the module is still doesn't existed:
    pip install setuptools
	or
	pip3 install setuptools

Observe whether the installation

[2022-07-12 01:12] narrieta commented on #2619
@dczaretsky do you still see this issue?

[2022-07-22 23:29] NatiSayada commented on #2040
Same here...
building an 18.04 image with packer and having the same issues.
I haven't nailed this down yet, but I think there is something to do with python.

any advice?

[2022-07-25 16:20] MattGal commented on #2040
I can definitely comment what we did to cause this, which was system-wide updating Python 3 to the latest version.  The moment we didn't do that, this problem went away and never came back.  It's sub-ideal but we've adopted the strategy of "leaving python 3 alone" for any supported Linux distro we run on.

[2022-07-25 17:42] NatiSayada commented on #2040
Agreed.
We moved all servers that's need python 3.8 to 20.04.
From python and pip perspective, it's work much better and you don't need to manage pip by python version.

It's more work to manage 2 versions.. but the plan is to upgrade (redeploy) all servers to 20.04.

[2022-07-27 19:46] rwagnergit opened #2636 "[BUG] Incomplete regex in get_mount_point()"
**Describe the bug: A clear and concise description of what the bug is.**

On at least one of our Azure Linux VMs, we are seeing waagent is incorrectly identifying the mount point of the ephemeral disk.  In our particular case, the ephemeral disk is present at /dev/sda, the OS disk is present ad /dev/sdac, the boot partition is /dev/sdac1 and is mounted at /boot.  When waagent starts, get_mount_po

[2022-08-02 19:23] narrieta commented on #2636
@anhvoms could you take a look?

[2022-08-02 19:24] narrieta commented on #2628
@anhvoms could you take a look?

[2022-08-04 23:27] soyfrien commented on #2628
Slightly related: Compliance Policy assignment/benchmark might lead someone to enabling the encryption flag to get the policy to pass:

[Virtual machines should encrypt temp disks, caches, and data flows between Compute and Storage resources](https://portal.azure.com/#blade/Microsoft_Azure_Policy/PolicyDetailBlade/definitionId/%2Fproviders%2FMicrosoft.Authorization%2FpolicyDefinitions%2F0961003e-5

[2022-08-04 23:29] soyfrien commented on #2628
Slightly related: Compliance Policy assignment/benchmark might lead someone to enabling the encryption flag to get the policy to pass:

Docs: [Virtual machines should encrypt temp disks, caches, and data flows between Compute and Storage resources](https://docs.microsoft.com/en-us/azure/governance/policy/samples/cis-azure-1-1-0#ensure-asc-default-policy-setting-monitor-disk-encryption-is-not-disab

[2022-08-05 11:53] nagworld9 commented on #2614
Address the issue.

[2022-08-05 11:53] #2614 closed

[2022-08-11 17:25] jithinjosepkl opened #2645 "Question: Ubuntu waagent config - Provisioning.MonitorHostName"
https://github.com/Azure/WALinuxAgent/blob/76f769cb53eced67609b3c2f9c758afc96be9934/config/ubuntu/waagent.conf#L23

Provisioning.MonitorHostName is disabled in the default config for Ubuntu.
Is there a specific reason for this?

[2022-08-11 18:43] kirancheparthi opened #2646 "Question: waagent does not automatically start upon VM reboot"
2.7.0.6 version of waagent does not start automatically after VM reboot in Azure. Is this expected?
This is seen on Oracle Linux 7.9 and 8.6 with WALinuxAgent-2.7.0.6-1.el7.noarch.rpm.

With [v2.6.0.2] that is not the case, waagent starts automatically upon VM reboot.

[2022-08-15 12:57] benmordaunt opened #2648 "[Q] Yocto Integration"
Hi,

I am trying to write a Yocto/BitBake recipe which wraps WALinuxAgent. Therefore, I need to ensure that the build honours all paths and distro features of a cross-build, instead of querying native Python paths.

At the moment, I am using the `--lnx-distro`, `--lnx-distro-version` and `--lnx-distro-name`, as well as maintaining a fork which identifies my particular Yocto-based Linux distro.

Th

[2022-08-16 13:30] narrieta commented on #2648
@benmordaunt Sorry, at this point we don't have any plans to upgrade to Python3 weeks. I'll leave this issue open so that we can get to it at a later date.

[2022-08-16 13:58] narrieta commented on #2646
@kirancheparthi No, this is not expected. Please check the system logs for errors.

@Jithinjosepkl How does #2647 address this issue?

[2022-08-16 14:48] jithinjosepkl commented on #2646
@narrieta - Sorry, it was a typo. Right one is  #2645. Can we get some eyes on the PR? Is that the right approach?

[2022-08-16 14:51] narrieta commented on #2646
@jithinjosepkl thanks for correcting the link. But how does that PR address the issue of the agent not starting on Oracle Linux?

[2022-08-16 14:52] narrieta commented on #2645
@jithinjosepkl  We'll look at this PR at a later date, since we need to investigate if this is needed/correct.

[2022-08-16 16:11] kirancheparthi commented on #2646
I don't see any error messages related to waagent in syslog. When I check the status, it shows loaded and inactive.
# systemctl status waagent
● waagent.service - Azure Linux Agent
   Loaded: loaded (/usr/lib/systemd/system/waagent.service; disabled; vendor pr>
   Active: inactive (dead)

[2022-08-17 09:34] utkarsh2102 opened #2653 "[BUG] Tests failures when build WALinuxAgent with Python 3.10 in Ubuntu Kinetic (devel)"
Hello,

Whilst trying to build WALinuxAgent v2.7.0.6 in Ubuntu Kinetic with Python 3.10, there were a bunch of test failures during build time. Here are the logs: https://launchpadlibrarian.net/618354025/buildlog_ubuntu-kinetic-amd64.walinuxagent_2.7.0.6-0ubuntu1_BUILDING.txt.gz.

Do you have any idea how to fix them?

OTOH, when building the same version in Ubuntu Focal (20.04), there are fewer f

[2022-08-23 21:08] kirancheparthi commented on #2646
Is there a status on the resolution of this issue?

[2022-08-23 21:25] kirancheparthi opened #2657 "[BUG] WALinuxAgent rpm removal does not remove udev rpm on OL7"
On Oracle Linux 7, removal of WALinuxAgent-2.7.0.6-1.el7.noarch.rpm does not automatically remove WALinuxAgent-udev-2.7.0.6-1.el7.noarch.rpm.

This is seen on Oracle Linux 7.9 with WALinuxAgent-2.7.0.6-1.el7.noarch.rpm.

On Oracle Linux 8 behavior is correct, or removes the dependency as well. Note that, this is the first time we have WALinuxAgent-udev-2.7.0.6-1.el7.noarch.rpm for OL7. For the pre

[2022-08-29 17:57] narrieta commented on #2646
@kirancheparthi from the status you posted, it looks like the waagent service is disabled on your VM, so it won't start on boot. Try enabling the service,

[2022-08-29 18:04] #2646 closed

[2022-08-30 11:47] JvDrunen commented on #2521
Hi @narrieta Any update on this bug?

[2022-09-05 13:17] vittyvk commented on #2286
@narrieta Could you please take a look at https://github.com/Azure/WALinuxAgent/pull/2601 ? Thanks!

[2022-09-06 09:30] utkarsh2102 commented on #2653
Aaah, thanks.

But what about this? Do you happen to know what's wrong with these tests?

[2022-09-08 14:34] narrieta commented on #2653
@utkarsh2102 No, sorry .We don't see those errors in our automation.

[2022-09-16 19:04] mfortin commented on #2207
I ran into this issue as well.
I was able to identify 2 causes.
1. `udf` filesystem was disabled
2. `noexec` on /tmp prevented the agent from running properly.
As the agent is part of cloud-init process and this caused it to crash, cloud-init could not complete, no IP were available from DHCP and the `ovf-env.xml` file could not be parsed.

[2022-09-21 12:51] piyush94 opened #2670 "WALinuxAgent Version"
When I run `waagent --version`, I get the below output.
[code]

So what is the current agent version, 2.2.45 or 2.8.0.11 ?

In Azure Portal as well I see the version as,
![image](https://user-images.githubusercontent.com/11614204/191508272-a9ca1c24-4d20-45a1-8ff9-9ec3cde4d8b1.png)

**Thanks**

[2022-09-27 23:42] narrieta commented on #2670
We have some info in our FAQ: https://github.com/Azure/WALinuxAgent/wiki/FAQ

[2022-09-27 23:42] #2670 closed

[2022-09-27 23:44] narrieta commented on #2657
@kirancheparthi We do not create the deb/rpm packages for the WALinuxAgent. You would need to track where to open issues for Oracle Linux, sorry.

[2022-09-27 23:44] #2657 closed

[2022-09-30 06:40] Klaas- opened #2674 "[BUG][RHEL7.9] walinuxagent hang"
**Describe the bug: A clear and concise description of what the bug is.**

Note: Please add some context which would help us understand the problem better
1. there are no logs, the process simply hangs in a very uninterruptable state. I tried to gcore it even that hangs.
2. Last sign of life in journal/waagent.log: `INFO ExtHandler ExtHandler All extensions in the goal state have reached a termina

[2022-10-04 13:50] #2619 closed

[2022-10-05 19:34] vpidatala94 opened #2681 "RHEL 8 The GoalState.1.xml file is empty and Extensionsconfig.1.xml file is not created."
**Describe the bug: The GoalState.1.xml file is empty and Extensionsconfig.1.xml file is not created.

1. No error reported in the log files
2. Machine has Rhel8 linux distribution.
[root@redhat-rhel8 waagent]# waagent -version
WALinuxAgent-2.3.0.2 running on redhat 8.2
Python: 3.6.8
Goal state agent: 2.8.0.11

[root@redhat-rhel8 waagent]# cat /etc/waagent.conf | grep "Extensions"
Extensions.Enabl

[2022-10-05 20:07] narrieta commented on #2681
@vpidatala94 The agent does not create those files anymore. They were part of an internal cache that is no longer needed, you should not take dependencies on those files.

[2022-10-05 21:16] #2681 closed

[2022-10-05 21:38] vpidatala94 commented on #2681
Thank you for the prompt response!

[2022-10-06 02:30] narrieta commented on #2674
@Klaas- what is the urn for the azure marketplace image you are using? thanks

[2022-10-06 05:07] vpidatala94 commented on #2681
Our product code requires Plugin Name information which we parse from ExtensionsConfig XML file. Could you please suggest alternative location where we can get this information?

[2022-10-06 06:31] Klaas- commented on #2674
Hi @narrieta ,

I have one VM that has seen this behaviour at least two times and one where it happened once.
[code]
is what metadata tells me.

I can tell you they've been installed on 20210218 and on 20210412 so it should be the then current RHEL LVM Image.

Greetings
Klaas

[2022-10-06 07:38] Klaas- commented on #2674
And this is what happens when I restart it via systemctl:
[code]

[2022-10-07 04:16] narrieta commented on #2674
@Klaas- Thanks for the info. I create a VM using RedHat:RHEL:7-LVM:latest and I did not see the hang. The status of the service is running and when I tried to execute an extension everything worked just fine.

[code]

If you can get a core dump or stack trace of the hang, we may be able to help you.

[2022-10-07 05:53] Klaas- commented on #2674
@narrieta I tried to coredump the processes, but gdb is hanging, so I am unsure how to proceed with generating a coredump:
[code]

So I can only provide stack from proc:
[code]

Also I can't reproduce this behavior, I got hundred+ RHEL7 VMs only two have shown this, but one of them twice. So I am not surprised you didn't get an error with the VM you tried.

[2022-10-12 12:23] piyush94 commented on #2670
@narrieta Thanks for the info. Looking at my output and releases in this git repository, how do I update the waagent version to 2.8.0.11 ?

[2022-10-12 13:45] narrieta commented on #2670
It should update automatically, unless autoupdate is disabled

https://github.com/Azure/WALinuxAgent#autoupdateenabled

[2022-10-12 19:46] smartpcr opened #2683 "[BUG] Don't backlist agent version when fetching goalstate failed"
**Describe the bug: A clear and concise description of what the bug is.**

In azure stack environment, we observed that when agent find new version of agent, and run new agent to fetch goalstate/config during network outage window, the failure would put new agent version in backlist, and never try agent update again.

Current retry logic (maxretry=6) doesn't account for network outage, we would li

[2022-10-12 22:03] narrieta commented on #2683
Talked with @smartpcr offline. The blacklisting logic is problematic and we are planning on removing it in a later version of the agent.

[2022-10-12 22:03] #2683 closed

[2022-10-14 19:49] galinangelov opened #2684 "[BUG] [RHEL 7.9] WALinuxAgebt - STR_COPY:variable has no value"
**Describe the bug: A clear and concise description of what the bug is.**
The WALinux agent is stuck in a reboot loop and won't connect to Azure.

Note: Please add some context which would help us understand the problem better
1. Section of the log where the error occurs:

[code]

2. Serial console output:
**No console output**

3. Steps to reproduce the behavior:
**The VM was restored from a snap

[2022-10-21 09:40] Klaas- commented on #2674
https://bugzilla.redhat.com/show_bug.cgi?id=2136769

[2022-10-21 09:41] Klaas- commented on #2674
Workaround:
echo "-1" > /sys/fs/cgroup/cpu,cpuacct/azure.slice/waagent.service/cpu.cfs_quota_us

[2022-10-21 13:51] baelter opened #2687 "[BUG] Host certificate file suddenly removed"
Something causes the agent to remove our host cert.
[code]

That file is suddenly gone.

Ubuntu 20.x
waagent 2.8.x

Can send waagent.log privately, but I can't see anything interesting that looks related.

[2022-10-24 08:25] dentarg commented on #2687
This pattern would match the key

https://github.com/Azure/WALinuxAgent/blob/04ded9f0b708cfaf4f9b68eead1aef4cc4f32eeb/azurelinuxagent/common/conf.py#L331-L332

Used in these places https://github.com/Azure/WALinuxAgent/search?q=get_ssh_key_glob

[2022-10-24 08:37] baelter commented on #2687
But we have `Provisioning.RegenerateSshHostKeyPair=n` is the config :thinking:

[2022-10-24 13:48] baelter commented on #2687
Turns out that `cloud-init` regenerates to keys for some reason

[2022-10-24 13:48] #2687 closed

[2022-10-26 14:32] narrieta commented on #2521
@Hardstl @JvDrunen

We have identified the issue and are working on a mitigation and fix.

The issue is in the interaction of the Run Command extension (version 2) and older agents in the base VM images. To mitigate, you can remove Run Command from the VM.

For the time being, do not use Run Command from the CLI (which uses V2). Using it from the portal (which uses V1) is OK

[2022-10-26 16:13] almalinux4all opened #2692 "nothing provides WALinuxAgent-udev = 2.7.3.0-1_ol001.el8"
Hello,

I am using a Rocky Linux 8 box, with the OpenLogic repo configured to download packages from http://olcentgbl.trafficmanager.net/openlogic/8/openlogic/x86_64/RPMS/

Doing an "yum update WALinuxAgent", I get the following error:

Error:
 Problem: cannot install the best update candidate for package WALinuxAgent-2.5.0.2-1_ol001.el8.noarch
  - nothing provides WALinuxAgent-udev = 2.7.3.0-1_ol

[2022-10-26 16:20] almalinux4all commented on #2588
+1 for the AlmaLinux and Rocky Linux support.

[2022-10-26 16:28] almalinux4all commented on #2110
+1 for the graceful deal of the missing resource disk.

Also, the swap file if enabled, is created on the resource disk, and therefore if the resource disk is missing, the error looks even nicer...

In a cloud environment, it is expected that the end user changes the instance type of the VM from time to time. If by chance he picks one new instance type that has a missing resource disk, a more mean

[2022-10-27 06:12] miqm commented on #2521
I'm hitting same problem with CustomScript Extension (V2)

[code]

[2022-10-27 13:35] narrieta commented on #2521
@miqm The issue you see is different. Custom Script is not affected by the issue in Run Command. If you can give us some repro steps we can take a look. Please open a new issue for that.

[2022-10-27 20:13] bpkroth commented on #2521
Seeing this issue as well.  Just a repeated mess of these:
[code]
Ubuntu 18.04, gen 2 image.

I tried downgrading to the 2.2.32-0ubuntu1~18.04.2 version of the package via the serial console, but same issues.
Note: this renders the machine unusable since that service then fails to launch, the boot process stalls, ssh doesn't seem to load, and the serial console gets flooded with these messages.
Ha

[2022-10-27 20:17] miqm commented on #2521
@narrieta - I tried to reproduce but it seems to be working now. If I experience this error again I'll submit a new ticket.

[2022-10-27 20:21] narrieta commented on #2521
@bpkroth was this with RunCommand? this particular issue should not affect SSH. I can post a possible mitigation if you are using RunCommand, but it does require SSH access.

[2022-10-27 20:24] bpkroth commented on #2521
No, we didn't do anything so far - just tried to boot the VM, but somehow the waagent service is getting stuck and preventing other things from making progress.

[2022-10-27 20:26] narrieta commented on #2521
@miqm The call stack of the initial error is interesting...

` os.environ[CONTAINER_ID_ENV_VARIABLE] = self.container_id
`

if  the error happens again could you capture the contents of GoalState.*.xml under /var/lib/waagent and check it is a valid XML file and has a valid ContainerID element? (it should be a GUID)

[2022-10-27 20:29] narrieta commented on #2521
@bpkroth if you did not execute RunCommand, then it is a very different issue. The issue in this thread is very particular to executing RunCommand from a template or from the CLI. You should probably open a support case for your machine.

[2022-10-27 20:35] bpkroth commented on #2521
We may have during the VM setup process. I was taking this over from someone else.  Is there a way to clear pending RunCommands?

[2022-10-27 20:40] narrieta commented on #2521
you can check if you executed runcommand on this vm by fetching the instance view

 az vm get-instance-view --name vmName --resource-group resourceGroupName

the mitigation is a little elaborate and requires SSH to the vm. i can summarize here once you confirm

[2022-10-27 20:53] narrieta commented on #2521
@bpkroth the issue on your vm is unrelated... the error message is encoded in the log snippet you posted. here it is

[code]

If you have SSH access you could try running the agent from the command line, which may give you more information (or /var/log/waagent.log may have more useful info). Command line

`python3 -u /usr/sbin/waagent -run-exthandlers
`

[2022-10-27 20:54] bpkroth commented on #2521
What am I looking for in that `az` output?
I have `ssh` access atm, but I had to boot single user without `wagent.service` running and start `ssh.service` manually, so the `az` output isn't showing much for the agent atm.

[2022-10-27 20:55] narrieta commented on #2521
@bpkroth you would look if RunCommand shows up in the instance view, but your issue is unrelated, see my previous post

[2022-10-27 21:05] bpkroth commented on #2521
[code]

[2022-10-27 21:13] narrieta commented on #2521
OK, seems like agent is not properly installed on this VM. The agent is installed by the publisher of the image, is yours Canonical's?  You could try browsing thru the agent logs and spot when this started happening and then try to see if something was done to the agent installation on that VM, or maybe a new Python was installed or something like that. You can also try opening a support case.

[2022-10-27 21:27] bpkroth commented on #2521
It was a fresh VM setup this morning.  I tried reinstalling via apt, but it didn't seem to help.  Wonder if the package got corrupt somehow.  Anyways, working on creating a new one.

[2022-10-31 10:10] miqm commented on #1905
I stumbled on this problem also.
I followed the setup as described here https://github.com/fluffy-cakes/azure_egress_nat - If I add the route to `168.63.129.16` to flow traffic through the private nic - waagent cannot connect to wire server and is reporting VM in VMSS as unhealthy. Once the traffic flows through eth0 (public nic) the waagent is able to connect to wire server but load balancer prob

[2022-11-02 08:52] fifinonz commented on #2692
Hello,
Experienced the same error today. Using CentOS stream and running
`dnf update`

Error message:

[2022-11-02 09:28] kinneko opened #2695 "[BUG] python3 errors flooding logs (Ubuntu 22.04.1)"
**python3 errors flooding logs.**
I've observed that the syslog file is very bloated.
The amount exceeded 1GB in 6 days, and most of them were python3 errors.
Most of the errors were coming from /usr/sbin/waagent.
I was getting the same error once a second.

**Distro and WALinuxAgent details:**
 - Ubuntu 22.04.1
 - WALinuxAgent version 2.2.46-0ubuntu5.1

**Log file attached**
Oct 30 00:00:12 recbo

[2022-11-02 10:40] stanislavrupec commented on #2692
Hello,
as I was trying to solve an issue with intense logging by waagent to /var/lib/waagent/events/ on one of our CentOS VMs (CentOS Stream release 8). Because of that I tried to update the WALinuxAgent to the latest version and got the same error:
![image](https://user-images.githubusercontent.com/117273606/199468747-7170c8a2-6802-41ef-a67b-b2f49cae3477.png)

[2022-11-03 18:09] almalinux4all commented on #2692
So it seems the dependency is broken for WALinuxAgent version 2.7.3.0-1_ol001.el8 in the OpenLogic repository, since the corrsponding WALinuxAgent-udev package is missing.

So as a temporary workaround, I have disabled the OpenLogic repo as below:

`sudo  dnf config-manager --set-disable openlogic`

You can find out the openlogic repo name in your box by running `dnf repolist`

[2022-11-03 21:30] nagworld9 commented on #2695
@kinneko  If you still see this, could you capture the contents of GoalState.*.xml under /var/lib/waagent and check it is a valid XML file and has a valid ContainerID element? (it should be a GUID) or share it if you have full agent logs.

[2022-11-04 14:37] almalinux4all commented on #2692
The WALinuxAgent-udev package version 2.7.3.0-1_ol001.el8 is now available in the repo, and I was able to update the WALinuxAgent package to latest version.

[2022-11-04 14:59] almalinux4all commented on #2692
The WALinuxAgent-udev package version 2.7.3.0-1_ol001.el8 is now available in the repo, and I was able to update the WALinuxAgent package to latest version.

[2022-11-05 18:54] almalinux4all opened #2699 "WALinuxAgent fails to start after update to latest version 2.7.3.0-1_ol001.el8"
Hello,

After updating WALinuxAgent to latest available version 2.7.3.0-1_ol001.el8 on a RHEL 8 VM, the waagent.service did not start correctly, and throws the following in the logs:

Nov 05 18:37:24 test-rhel8-vm systemd[35838]: waagent.service: Failed at step EXEC spawning /usr/bin/python: No such file or directory

The environment is the following:

WALinuxAgent-2.7.3.0 running on redhat 8.6
Py

[2022-11-05 19:00] almalinux4all commented on #2699
As a side note, I am using the latest WALinuxAgent RPM package from here:
http://olcentgbl.trafficmanager.net/openlogic/8/openlogic/x86_64/RPMS/

[2022-11-07 05:26] Mebare opened #2700 "[BUG] Bug Title# AutoUpdate.Enabled=y AutoUpdate.Enabled=y"
**Describe the bug: A clear and concise description of what the bug is.**

Note: Please add some context which would help us understand the problem better
1. Section of the log where the error occurs.
2. Serial console output
3. Steps to reproduce the behavior.

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: [e.g. Ubuntu 16.04]
 - WALinuxAge

[2022-11-08 23:38] nagworld9 commented on #2699
Yes, we had a bug earlier and fixed in latest version. https://github.com/Azure/WALinuxAgent/pull/2532.

Please upgrade to latest version is 2.8.0.11

[2022-11-10 14:10] paulliu10 opened #2703 "[BUG] /var/lib/waagent/history large number of files are generated in the directory, causing disk space to become unavailable"
**/var/lib/waagent/history large number of files are generated in the directory, causing disk space to become unavailable**

Note: Please add some context which would help us understand the problem better
1. Section of the log where the error occurs.
![d7b3510a19084ecf8fa949034cdabbaf](https://user-images.githubusercontent.com/32628891/201112893-57ec1731-ad44-4a2a-b9e1-556215bfd420.png)

**Distro

[2022-11-12 00:54] narrieta commented on #2703
@paulliu10 The Agent requires openssl. Is it installed on your VM?

`/bin/sh: 1: /usr/bin/openssl: not found`

[2022-11-12 00:56] narrieta commented on #2700
@Mebare Maybe this issue was opened by mistake? there is no description of the issue so I'm closing it. Please open a new issue with details if needed.

[2022-11-12 00:56] #2700 closed

[2022-11-12 00:58] narrieta commented on #2695
@kinneko Closing this issue since there is no reply (if you still see this, removing /var/lib/waagent/GoalState.1.xml may help)

[2022-11-12 00:58] #2695 closed

[2022-11-12 01:06] narrieta commented on #2674
fixed by #2685

[2022-11-12 01:06] #2674 closed

[2022-11-15 07:21] paulliu10 commented on #2703
Hi Narrieta,

Thanks for reply, the issue has been resolved, please close this issue.

[2022-11-28 11:11] itsafire commented on #2031
Any info on the current status of this issue? I currently have a client with a /var/lib/waagent of 13GB in size claiming 50% of the filesystem.

[2022-11-28 14:24] narrieta commented on #2031
@itsafire This should be resolved. In case the agent did not remove old ZIPs, please go ahead and remove them manually.

[2022-11-28 21:31] anhvoms commented on #2636
@rwagnergit
RHEL 8.1+ and RHEL 7.7+ on Azure should be using cloud-init for provisioning and the resource disk formatting/partitioning should be handled by cloud-init. Cloud-init does a better job at discovering the resource disk by looking at the alias /dev/disk/cloud/resource instead.

[2022-11-29 22:00] rwagnergit commented on #2636
Is waagent being deprecated?  If not, you should fix it.  I gift wrapped the solution

Rob