[2019-02-05 01:44] jasonzio commented on #1457
Proper telemetry should be emitted when this error occurs so we can more easily see which distros and scenarios lead to it.

[2019-02-06 01:07] vrdmr commented on #1447
@johanburati - I've also created an issue in the extensions repo for the OMSAgent team to take a look at. I'll close this issue from our end. Thanks.

[2019-02-06 01:07] #1447 closed

[2019-02-06 01:19] fegu commented on #1243
I am also having this problem on FreeBSD 11.2 using waagent v2.2.35. Logs say missing /proc/net/route. Enabling /procfs and/or installing linux compatibility does not fix it. This makes backup in azure fail for FreeBSD.

[2019-02-06 11:20] DamianFlynn opened #1459 "[BUG] Update on Ubuntu failes"
**Describe the bug**
On Azure Ubuntu Linux VM; with custom-script extension; running `apt-get update && apt-get upgrade` hangs the deployment

Checking the STDOUT log we can see the package being unpacked

[code]

then in the STDERR log we observe the issue

[code]

Adding the string to the custom script has no effect on debconf; and thus remains blocked

[code]

Manually running the commands in a

[2019-02-06 11:21] DamianFlynn commented on #1459
I have a sample template you can use to repo this issue posted here: https://github.com/DamianFlynn/arm/tree/master/Reference/Striesand

[2019-02-06 15:23] fegu commented on #1243
I just put a text file in the correct format in /proc/net/route. This made the waagent continue, but it now complains about missing the utility iptables. The backup job still fails. A quick grep shows some use of iptables in common/osutil/default.py. I am considering just making an iptables shell script to fake the necessary values.

[2019-02-09 21:13] tangentToNothing opened #1461 "[BUG] /proc/net/route failure to find primary interface leads to unhelpful error about second DVD mount attempt"
**Describe the bug**

Getting `None` for the primary interface of a Linux VM can lead to an unhandled error attempting to load `/etc/sysconfig/network-scripts/ifcfg-` (should trail with primary interface identifier, such as `eth0`). See [primary interface detection code](https://github.com/Azure/WALinuxAgent/blob/f3df4f33fb95583e8e1c34921f0ed82a15d18000/azurelinuxagent/common/osutil/default.py#L91

[2019-02-12 02:58] projectje commented on #1393
Cool. Cant login anymore to my system. "Login" ... when trying to type something the message spams and login incorrect. Impossible to get through this. Is there any way to suppress this to at least login ?

[2019-02-12 16:01] narrieta commented on #1459
@DamianFlynn - Thanks for reporting this.

This is a known issue - The VM Agent cannot be updated using an extension, including CustomScript. We will fix this issue in a future release, but in the meanwhile the workaround is to first upgrade the Agent using other means (not using an extension)

`apt-get upgrade walinuxagent`

After this, apt-get can be used again within an extension.

[2019-02-13 04:53] boostnest commented on #1393
Having this problem also, our Moodle server now cannot be accessed major issue. We might need to move platforms with this continuing to be a problem.

[2019-02-13 05:04] boostnest opened #1464 "Can't login from Serial Console Azure hosted Bitnami Moodle VM"
Can't login as ExtHandler Command [pidof system-networkd] seems to submit password before the user can finish entering the password.

![vm error2](https://user-images.githubusercontent.com/45469298/52688095-b2661300-2fb9-11e9-871e-af6fbda7435b.jpg)

[2019-02-13 05:04] boostnest opened #1465 "Can't login from Serial Console Azure hosted Bitnami Moodle VM"
Can't login as ExtHandler Command [pidof system-networkd] seems to submit password before the user can finish entering the password.

![vm error2](https://user-images.githubusercontent.com/45469298/52688095-b2661300-2fb9-11e9-871e-af6fbda7435b.jpg)

[2019-02-13 12:28] wobeng opened #1466 "How do you uninstall or remove WALinuxAgent from custom installation"
I used ```sudo python setup.py install --register-service``` to install WALinuxAgent. how would I remove or uninstall it?

[2019-02-21 00:25] vrdmr commented on #1466
The following steps remove the agent from the box.

[code]

I've added them to the [FAQs](https://github.com/Azure/WALinuxAgent/wiki/FAQ#how-to-remove-agent-from-the-box). Let me know if you face any issues.

[2019-02-21 00:25] #1466 closed

[2019-02-21 00:26] vrdmr commented on #1464
Duplicate of #1465

[2019-02-21 00:26] #1464 closed

[2019-02-21 20:05] #1409 closed

[2019-02-22 05:49] vrdmr opened #1470 "[CodeCleanup issue] Write error codes for ExtensionError codes."
In extensionHandler, we need better documentation of extension error codes. Refer #1469 and bring it back.

[2019-02-22 14:52] jeking3 commented on #1449
Needs a better title.

[2019-02-23 22:22] nunoplopes commented on #1342
@vrdmr Is there an ETA for deploying the new version? I'm still stuck on 2.2.32.2 (the latest) and with high CPU utilization.

[2019-02-24 00:41] vrdmr commented on #1342
@nunoplopes The version 2.2.36 (The latest) has been deployed and it has the fix. Which region is your VM in?

[2019-02-24 10:35] nunoplopes commented on #1342
@vrdmr North Europe (CentOS / OpenLogic VM)

[2019-02-25 07:04] johanburati opened #1473 "[BUG] Warning: the imp module is deprecated in favour of importlib"
Getting a warning on Ubuntu 19.04

**details:**
[code]

[2019-02-26 09:50] nunoplopes opened #1475 "WALinuxAgent not being updated on CentOS VMs"
**Describe the bug**
My CentOS VMs haven't upgraded to the new version (2.2.36).
According to #1342, it was supposed to be deployed already.

**Distro and WALinuxAgent details**
$ waagent --version
WALinuxAgent-2.2.32.2 running on centos 7.6.1810
Python: 2.7.5
Goal state agent: 2.2.36

These are CentOS 7 (OpenLogic) VMs, both in West Europe & West US.

[2019-02-26 13:19] iamshital commented on #1413
@narrieta  Any updated on this?

[2019-02-26 16:47] narrieta commented on #1475
There are 2 versions of the agent ([details here]( https://github.com/Azure/WALinuxAgent/wiki/FAQ#what-does-goal-state-agent-mean-in-waagent---version-output)).

The version you see (2.2.32.2) is updated by each distro owner.

[2019-02-26 16:47] #1475 closed

[2019-02-26 19:43] ChadNedzlek commented on #1151
It seems like this fix is explicitly only for 18.04. 18.10 is broken the same way.

[2019-02-26 21:48] ChadNedzlek opened #1476 "No name resolution on new Ubuntu 18.10 vm"
I can't reopen https://github.com/Azure/WALinuxAgent/issues/1151, but this is just that bug again, but on 18.10 instead of 18.04. The fix for this issue hard codes a 18.04 version check into the files, so it's broken for every Ubuntu image going forward.

[2019-03-01 00:46] narrieta commented on #1436
This is not supported.

I'll leave this issue open to add some documentation about 1 & 3 above.

[2019-03-01 18:09] dops0 opened #1477 "Unable to initiate Azure Backup on SLE 15"
We are having problems initiating a backup of our VM running SLE 15.

The error message we get on Azure portal is **ExtensionSnapshotFailedNoNetwork**
We've set NSG rules allowing outbound access to Azure storage but still end up with this error. Logs on the VM itself give some information, but don't know if that helps pinpoint the problem.

[code]

From
/var/log/azure/Microsoft.Azure.RecoveryServ

[2019-03-01 22:01] vrdmr commented on #1477
Hi @dops0 - Thanks for reporting the issue. I'll forward this to the extension owner. Thanks.

[2019-03-05 21:40] narrieta opened #1479 "FreeBSD 11.2 : 'cannot read route table [[Errno 2] No such file or directory: '/proc/net/route'"
The freebsd based on the marketplace image is returning a large amount of errors such as the one below:
$ tail waagent.log
2019/03/04 13:51:35.200690 ERROR ExtHandler Cannot read route table [[Errno 2] No such file or directory: '/proc/net/route']
2019/03/04 13:52:35.312408 ERROR ExtHandler Cannot read route table [[Errno 2] No such file or directory: '/proc/net/route']
[...]

[2019-03-05 22:20] minusbat commented on #1479
I looked at this, and started working on a fix for it actually. All it is trying to do is to read the routing table to see if it has changed. As such it should be enough to replace that code with the output of 'netstat -rn' I would thing. Just need to understand how to add a FreeBSd specific bit of code there in the way its done everywhere else. I don't do python really though (more of a C / Obj-C

[2019-03-06 18:39] MattGal commented on #1476
@narrieta could I get some kind of rough estimate when this might get addressed?

[2019-03-07 00:48] jasonzio commented on #1476
Looks like systemd is here to stay, so the fix is pretty obvious. Not sure why @ChadNedzlek couldn't have done the one-line PR themselves, but... whatever. Here it is.

[2019-03-12 06:47] #1470 closed

[2019-03-13 23:16] dkguru commented on #1393
Just wanted to return here and say yes, it works to restart the service with:

`service systemd-networkd restart`

It's still a bug though, and will reoccur when rebooting the server (at least for me)

We can close this thread, however, if it's already in the bug repo.

[2019-03-14 00:05] colmerts commented on #1247
Hi Jim, what was the result of this please?  I'm dealing with the same issue.

Thanks,
Colin

[2019-03-14 13:51] jimbeauh commented on #1247
Colin,

The issue turned out to not be related to the waagent, but some other Azure infrastructure change that made it so that our VM/application was unable to access storage. We worked closely with the Azure Linux team but never found the root cause.

jim

From: colmerts <notifications@github.com>
Sent: Wednesday, March 13, 2019 8:06 PM
To: Azure/WALinuxAgent <WALinuxAgent@noreply.github.com>
Cc:

[2019-03-14 14:58] colmerts commented on #1247
Many thanks Jim.

On 14 Mar 2019, at 13:51, jimbeauh <notifications@github.com> wrote:

Colin,

The issue turned out to not be related to the waagent, but some other Azure infrastructure change that made it so that our VM/application was unable to access storage. We worked closely with the Azure Linux team but never found the root cause.

jim

From: colmerts <notifications@github.com>
Sent: Wednes

[2019-03-20 06:36] jgallucci32 opened #1487 "Add ability to grow XFS partition automatically in CentOS"
One of the nice benefits of cloud-init is its ability to automatically grow an XFS filesystem upon first boot. This makes it so you can start with a small base image and deploy VMs with larger filesystems as needed.

The WALinuxAgent does not appear to support this, but these are the following steps I followed in order to grow the XFS file system of a CentOS image after growing its disk in Azure.

[2019-03-20 07:08] jgallucci32 commented on #1153
For reference purposes:
https://cloudinit.readthedocs.io/en/latest/topics/datasources/azure.html

[2019-03-21 11:28] xenalite opened #1488 "Temp drive writable by root only"
**Describe the bug**
A new machine has a temp drive mounted to `/mnt/resource`. This directory is only usable by `root` user. This is contrary to Windows machines, which allow any user to write to it by default.

[code]

I put this script into `/etc/init.d` to set permissions to the drive after boot. The script runs, but the drive is still only writable by root.

[code]

If you do not want to add

[2019-03-21 15:18] narrieta commented on #1476
fixed by #1483

[2019-03-21 15:18] #1476 closed

[2019-03-21 21:55] xenalite commented on #1488
I solved the problem by sticking the script into `crontab` instead of `init.d` with:
`sudo crontab -e` and adding `@reboot /etc/set_temp_drive_permissions.sh`.

[2019-03-21 21:55] #1488 closed

[2019-03-22 03:45] kbinghamnetfoundry commented on #246
This is still a problem. The agent attempts to mount with UDF which is intentionally disabled to conform with CIS hardening guidance. Our custom image upstream is CentOS 7.6 offered by OpenLogic in Azure Marketplace. The result is that a VM can be created, but cloud-init fails because it depends upon the ovf-env.xml file provided by the first-boot (per-instance) mount.

[2019-03-27 10:08] coin8086 opened #1495 "[BUG] Failed uninstalling VM Extension when the installed version of VM Extension's image is deleted"
**Describe the bug**
When uninstalling a VM Extension and the version of the Extension image has been deleted, then it always failed, and it keeps writing error to `/var/log/waagent.log` about every second, like

[code]

Here, the Extension image of version 1.0.33.0 was deleted later after it had been installed on the VM. Now uninstalling 1.0.33.0 is impossible due to the issue!

Note: Please add

[2019-03-27 20:00] vrdmr commented on #1495
Hi @coin8086 - Can you please remove this specific extension from the portal? It should get you out of the loop for the time being. We'll take a look at why this extension was removed from our image repository. Thanks.

[2019-03-28 01:45] coin8086 commented on #1495
Hi @vrdmr , it just can't be removed from the Azure portal, neither by PowerShell with Az module. We're the publisher for the VM Extension and the extension image of old version(1.0.33.0) was deleted by us. We need to delete the old version of image to make room for the new one.

[2019-03-28 04:43] jithinjosepkl opened #1497 "[BUG/Question] CPU/Memory limit for WALinuxAgent"
**Describe the bug**

We are seeing nearly 20% of performance improvement for HPC applications if we disable WALinuxAgent.

I notice that there is a cpulimit of 10% (azurelinuxagent/common/cgroups.py), but even this limit is impacting our workloads. A few questions here:

- Can this limit (cpu/memory) be made configurable?
- Is it safe to disable WALinuxAgent before job execution, and turn it on a

[2019-04-01 13:03] kailashmsft opened #1499 "Ubuntu 18.04 unable to start the walinuxagent service"
Hello All,
we have customer using ubuntu18.04 VM and he is facing issues with starting walinuxagent service  and viewing waagent version
PFB outputs

 #cat /etc/*release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=18.04
DISTRIB_CODENAME=bionic
DISTRIB_DESCRIPTION="Ubuntu 18.04.1 LTS"
NAME="Ubuntu"
VERSION="18.04.1 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.1 LTS"
VERSION_ID="18.

[2019-04-03 14:43] coin8086 commented on #1495
Hi @vrdmr, could I know how it's going, please? The bug matters to us.

[2019-04-04 15:59] nopjmp opened #1500 "[BUG/Question] HyperV Entropy doesn't appear to be consumed through new agent system"
**Describe the bug**
Per the README, `Consume Hyper-V entropy for /dev/random` this appears to only be done through the waagent2.0 script. The waagent script will only run the waagent2.0 script when `__name__ == 'waagent'`.

https://github.com/Azure/WALinuxAgent/blob/4c7c8925cb2a4109e9e7ba05800fe53f0b93596e/bin/waagent2.0#L5680-L5684

Unless I'm missing some other way that HyperV Entropy is being

[2019-04-10 17:33] vrdmr commented on #1497
Hi @jithinjosepkl,

The CPU limit you are referring to is not enabled by default and `"CGroups.EnforceLimits"` flag is False by default.

We are working on such a feature to make in configurable for both extensions and agent. #1496 is the first attempt to do it.

You can disable the WALinuxAgent service and enable it once your job is completed.

In the past, we have observed cases such as AntiViru

[2019-04-10 18:45] vrdmr commented on #1473
@roiyz-msft  - It is imported by the `waagent` file in Ubuntu's new VMs (which only have Py3 by default)

[code]

Deprecation warning.
[code]

[2019-04-10 20:04] vrdmr commented on #1139
#1342 is fixed. The fix (#1431) went in to 2.2.35 and is deployed.

Closing this issue.

[2019-04-10 20:04] #1139 closed

[2019-04-11 15:25] jithinjosepkl commented on #1497
Thanks @vrdmr for the details and making the limits configurable.
@pgombar , @narrieta , please share your findings.

[2019-04-11 16:08] DwayneNeed opened #1502 "[BUG] Broken dependency on WireProtocol implementation"
**Describe the bug**
When the agent is using the MetadataProtocol it encounters errors when looking for extension cgroups.  The reason is that the code has incorrectly taken a dependency on the "client" field of the concrete WireProtocol implementation of the abstract Protocol class, and this field is not available on the MetadataProtocol class.

For VMs running on Azure Stack (which currently use

[2019-04-12 16:49] adepue commented on #1502
@narrieta Proposal to address here:  https://github.com/Azure/WALinuxAgent/pull/1503

[2019-04-13 15:44] jim-minter opened #1505 "[BUG] WARNING ExtHandler Fetch failed from [http://168.63.129.16:32526/extensionArtifact]: [HTTP Failed] [400: Bad Request]"
**Describe the bug**

Custom script extension failed to run on VMSS instance startup

Full journal at https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_openshift-azure/1464/pull-ci-openshift-openshift-azure-master-e2e-azure/3567/artifacts/internal-e2e/infra-1555167065-000001-early-journal

I think this is the interesting snippet:
[code]

**Distro and WALinuxAgent details:**
 - R

[2019-04-15 14:52] davemulford opened #1507 "[BUG] waagent on AzureStack shows warnings mounting sr0 and "ProvisionGuestAgent not found" errors"
WALinuxAgent on AzureStack shows warnings when mounting the DVD to copy `ovf-env.xml` and errors that the **ProvisionGuestAgent** configuration is not found.  This seems to result in the network not coming up properly.

Here is the `sr0` mount warning and the **ProvisionGuestAgent** failure:

    2019/04/10 16:11:27.856511 INFO Daemon Running default provisioning handler
    2019/04/10 16:11:27.88

[2019-04-15 17:06] jim-minter commented on #1505
@amanohar fyi

^ above happened in subscription id 225e02bc-43d0-43d1-a01a-17e584a4ef69, resource group e2e-create-mjudeikis-1464-pmqtan, eastus region; timestamps in link above are in UTC.

[2019-04-15 18:53] jim-minter commented on #1505
In this case, the error happened to one node in the infra scaleset - the other nodes in the scaleset, and in the other scalesets booted fine

[2019-04-19 14:00] philwinder commented on #246
In addition to @imjoseangel and like @kbinghamnetfoundry, I'm using both dev-sec and CIS. This is my workaround.

With an `ansible-galaxy` `requirements.yaml` of:
[code]

You will need a top level `playbook.yaml` of:
[code]

[2019-04-19 21:54] jasonzio commented on #246
There are no plans to remove the requirement for UDF at initial provisioning to enable the Azure control plane to provide provisioning information to the VM. Once initial provisioning is complete, the UDF driver is no longer required; the ovf-env.xml file, initially obtained from the mounted volume, is redacted and cached in /var/lib/waagent.

[2019-04-24 20:00] rifrankl opened #1511 "[BUG] Failure to send provision complete signal in case of restart after provisioning completes"
Currently, if WAAgent is unable to report to WireServer that provisioning completed and the VM restarts, WAAgent will never again send the provisioning complete signal. The flow is something like:
1. Do provisioning work (ProvisionHandler.run())
2. Write provisioned file to filesystem (ProvisionHandler.write_provisioned())
3. Notify WireServer (ProvisionHandler.report_ready())
4. Provisioning comp

[2019-04-24 20:08] rifrankl opened #1512 "Add logging when sending ready signal to WireServer"
After the call to ProvisionHandler.write_provisioned(), there is no more logging until the "Provision complete" message. It would be nice if there was some additional logging within the ProvisionHandler.report_ready() call.

[2019-04-25 08:54] heyconnor opened #1513 "Which python does waagent depend on earth?"
Python2.6? Nope. Python3.6? Nope. The doc is a mess.

[2019-04-25 17:04] MattGal commented on #1476
This problem is still reproducing in the following Azure gallery images:
SKU: 18.10, Version: 18.10.201903200
SKU: 18.10-DAILY, Version:  18.10.201904190

I don't seem to be able to reactivate this issue though, should I open a new one?

[2019-04-29 01:21] bobsun0917 opened #1514 "ERROR ExtHandler Exception processing goal state, giving up: ['-----BEGIN PUBLIC KEY-----<key>-----END PUBLIC KEY-----\n']"
**ISSUE**
Image: Ubuntu 16.04 LTS
Waagent version: 2.2.32 | 2.2.40

waagent.log is filled with following messages,

INFO ExtHandler WireServer is not responding. Reset endpoint
INFO ExtHandler Protocol endpoint not found: WireProtocol, [ProtocolError] Exceeded max retry updating goal state
INFO ExtHandler Protocol endpoint not found: MetadataProtocol, [ProtocolError] 404 - GET: http://169.254.169.

[2019-04-29 13:50] johncrim opened #1515 "WARNING ExtHandler Could not parse dependencyLevel for handler Microsoft.Azure.ServiceFabric.ServiceFabricLinuxNode."
This warning is filling up the logs (reported every minute), and is also written to stdout every minute:

[code]

I'm not clear on the right way to diagnose or fix this, but it's quite verbose to the point of being overbearing. The warning appears to be non-critical (the SF extension is working as expected), so the first bug IMO is the verbosity/frequency of the warning, and the fact that it's wri

[2019-04-29 17:05] johncrim commented on #1515
Now that I've submitted this issue, I'm no longer seeing the warning on new VMs (created today). Note that I'm using the same version of WALinuxAgent and the ServiceFabric extension.

In spite of the fact that the warning has gone away, I think it's worth considering the potential problem with the warning verbosity.

[2019-05-04 01:49] carlosporter commented on #1378
It seems that your change went away after an agent auto-update

[2019-05-04 18:11] pivotalguru opened #1519 "Opting out of cgroups enforcement"
The wiki has this to opt out of cgroups enforcement.

You set enforce limits to true to disable it?  That doesn't make sense.

Secondly, I've set it to both y and n but I still see activity from waagent.  I see lots of these messages:
WARNING ExtHandler CGroup Microsoft.Azure.Extensions.CustomScript: Crossed the Memory Threshold. Current Value: 33683439616 bytes, Threshold: 16919.0 megabytes

How

[2019-05-05 11:07] rcarmo commented on #1393
I've been finding this across pretty much all the Linux VMs I touch, and am wondering if it's actively being worked on or just queued up...

[2019-05-05 21:35] boostnest commented on #1393
We have had to move to a new solution as this seemed to create a number of other issues within the VM and made it impossible to troubleshoot.

[2019-05-06 10:29] firemanxbr commented on #1513
Hi @heyconnor Can you check our README.md in the main page of this repository:
https://github.com/Azure/WALinuxAgent#requirements

For more specific you can check also:
https://github.com/Azure/WALinuxAgent/blob/develop/requirements.txt

I hope you can found all dependencies in both links.

[2019-05-06 10:40] firemanxbr commented on #1519
Hi @pivotalguru I believe you can check the latest update of our 'waagent.conf' here: https://github.com/Azure/WALinuxAgent/blob/develop/config/waagent.conf#L129 that have a better description regarding this flag of this configuration. To make sure 'y' == True/Yes and 'n' == False/No. The default config is 'n'. You can set both options because it is boolean, 'y' or 'n'. To disable it just flag as

[2019-05-06 10:58] heyconnor commented on #1513
@firemanxbr I saw it. But actually it only runs OK with python3.5.

[2019-05-06 11:05] firemanxbr commented on #1513
@heyconnor good to know. The WALinuxAgent expect "Python 2.6 **+**" Can you close this issue? based in your request I believe you have all info regarding requirement/dependency, right? if you want to help us with our documentation, suggestions you are welcome.

[2019-05-06 11:26] pivotalguru commented on #1519
Thanks.  So the wiki page is incorrect.  Can this get updated?

Enabled

Disabled

As it is right now, it looks like it says to set the value to y to disable it.

Under heavy load, I see this in /var/log/messages:
WARNING ExtHandler CGroup Microsoft.Azure.Extensions.CustomScript: Crossed the Memory Threshold. Current Value: 18487123968 bytes, Threshold: 16919.0 megabytes

Why would activity in the

[2019-05-06 11:28] heyconnor commented on #1513
@firemanxbr Do you think it's ok that walinuxagent can only works in python3.5? If you think it's ok, I will close it. Anyway I don't use it. I would commit a support request in azure portal when walinuxagent couldn't work again.

[2019-05-06 11:32] pivotalguru commented on #1519
I also see this process consuming a lot of CPU during heavy load:

[2019-05-06 12:07] firemanxbr commented on #1519
Sorry, but the documentation it is right, as I mentioned to Disable you have to use 'n'. Just to make clear:

To Enabled:
CGroups.EnforceLimits=y

To Disabled:
CGroups.EnforceLimits=n

I believe you don't know how it works. If you configure to Enable you are enforcing the limits, in this case, you want that the agent and your extensions have limited use of resources. If you DISABLE you are saying

[2019-05-06 12:12] pivotalguru commented on #1519
https://github.com/Azure/WALinuxAgent/wiki/CGroups-support

It literally says to set the value to y to opt-out (disable).

[2019-05-06 12:13] firemanxbr commented on #1513
@heyconnor I have more than 1000k VMs with a bunch of different versions of python running without any issues regarding it. The "minimal" requirement is Python 2.6+, I believe you forget the specific version declared into the 'https://github.com/Azure/WALinuxAgent/blob/develop/requirements.txt':

**python_version >= '3.8'**

I'll send a PR to adjust this version in our [README.md](https://github.c

[2019-05-06 12:22] #1513 closed

[2019-05-06 12:24] firemanxbr commented on #1519
Sorry but you are interpreting wrong the concept and the phrase in this doc, don't have in any place wrote it as DISABLE. If you read again, with calm you will translate it from:

**If cgroups limits cause any issues, you can opt-out by updating the following config in /etc/waagent.conf:

CGroups.EnforceLimits=y**

If you are getting PROBLEMS when you are using cgroup limits your can disable it, b

[2019-05-06 12:39] firemanxbr commented on #1513
PR Added: https://github.com/Azure/WALinuxAgent/pull/1520

[2019-05-06 12:39] pivotalguru commented on #1519
Enable "enforce limits" to disable the cgroup limits.

Maybe the configuration should be "CGroups.limits" to avoid this odd setting something to true to disable and false to enable.

[2019-05-07 17:19] johncrim commented on #1519
I can create another issue if needed, but the ability to opt out of cgroups enforcement really should be configurable at the ARM template level. For our VMs, cgroups enforcements prevents automatic VM setup from completing. I believe I can work around this with cloud-init (I'll try), but I certainly can't work around it with a custom script extension, b/c the cgroups enforcement is preventing exte

[2019-05-08 17:30] narrieta commented on #1519
@pivotalguru - I agree that the description in the wiki doesn't read well. I'll update it. To disable enforcement, set the value to 'n' (which is the current default).

Currently enforcement is disabled by default. We are using the Warnings you see in the log to gather data, but they only point out that a limit was exceed and there is no enforcement of the limit at all (unless EnforceLimits is set

[2019-05-08 17:34] narrieta commented on #1519
@johncrim - Currently enforcement of cgroup limits is disabled by default. We are still working on the enforcement logic and we will indeed expose this flag in ARM when we are ready to enable this feature.

We will enforce limits in collaboration with the authors of each extension. At this point we are not enforcing limits on any extension. Since Custom Script can execute arbitrary code we will no

[2019-05-08 17:46] narrieta commented on #1519
updated wiki... enforcing limits is experimental and is disabled by default

[2019-05-08 17:46] #1519 closed

[2019-05-13 10:46] chvalean opened #1523 "ERROR [Wireserver Exception] 'latin-1' codec can't encode character '\\u2192' in position 1431"
Seeing these errors in waagent.log on latest RHEL 8.0 RTM image in Azure.
Don't see this impacting functionality, but it might be worth a fix.

Agent got upgraded automatically to latest version:

[2019-05-15 06:45] LiliDeng commented on #1523
not only RHEL8.0 but also Ubuntu 18.04, after VM running for a while, the error shown up, I updated the waagent code locally encode('latin1') => encode('latin1', 'ignore'), deprovision then provision, still hit this error message.

[2019-05-17 11:46] jpbuecken opened #1529 "[BUG/Question] RHEL / CentOS 7 connection issue after hostname change if not using networkmanager"
**Describe the bug**
We manage our RHEL / CentOS based instances without networkmanager. E.g. RHEL 5 (ELS), RHEL/CENTOS 6, RHEL/CENTOS 7.
We manage them OnPremise and in other private and public clouds beside AZURE in a great quantity.
Now the azure agent rpm has a dependency to the networkmanager on RHEL based instances.
We would like to use CentOS 7 from OpenLogic without networkmanager. So we s

[2019-05-18 07:19] justyu commented on #1342
I am stuck this issue on Ubuntu 16.04 and can NOT update.

My VM is in Southeast Asia and I have tried the following steps:
0)$waagent -version
WALinuxAgent-2.2.32.2 running on ubuntu 16.04
Python: 3.5.2
Goal state agent: 2.2.40
1) sudo apt-get  update
2) sudo apt-get install walinuxagent

But it shows :
walinuxagent is already the newest version (2.2.32-0ubuntu1~16.04.2).
0 upgraded, 0 newly inst

[2019-05-18 07:27] justyu opened #1531 "Failed to update on Ubuntu 1604"
I am stuck this issue #1342 #1139 and want to update WALinuxAgent to 2.2.40, but failed.

Current Version:
$waagent -version
WALinuxAgent-2.2.32.2 running on ubuntu 16.04
Python: 3.5.2
Goal state agent: 2.2.40

What I have tried:
1) sudo apt-get update
2) sudo apt-get install walinuxagent
but is shows:
$sudo apt-get install walinuxagent
Reading package lists... Done
Building dependency tree
Readin

[2019-05-19 00:02] justyu commented on #1531
update: finally I update to 2.2.40 by source code, but still hope to use apt-get to updata.

[2019-05-20 19:07] narrieta commented on #1531
@justyu --- there are 2 versions of the agent installed on each vm (more details here: https://github.com/Azure/WALinuxAgent/wiki/FAQ#what-does-goal-state-agent-mean-in-waagent---version-output)

Your VMs should have auto-updated to 2.2.40 automatically (unless auto-update is disabled)

[2019-05-20 19:07] #1531 closed

[2019-05-21 15:37] szarkos commented on #1362
Ping on this - it seems we lost sight of this issue.  Mv2 series is GA, and Gen2 VMs are now public preview.  Unfortunately this bug means that the ephemeral disk remains NTFS formatted for Gen2 systems that use the Azure Agent to provision.

[2019-05-21 23:09] jithinjosepkl commented on #1497
@vrdmr - Curious if there are any more updates on this.

Couple of follow up questions:
- Was there any reason why "CGroups.EnforceLimits" was not enabled by default?
- Can the WAAgent polling interval be made configurable?

Appreciate your thoughts on these.

[2019-05-31 14:02] frode opened #1540 "[BUG] Unable to run deprovision on Debian 9.6"
**Describe the bug**
Unable to run the process for deprovisioning:

username@machine:~$ sudo waagent –force -deprovision

usage: /usr/sbin/waagent [-verbose] [-force] [-help] -configuration-path:<path to configuration file>-provision|-deprovision[+user]|-register-service|-version|-daemon|-start|-run-exthandlers||-resourcedisk-show-configuration]

Note: Please add some context which would help us u

[2019-05-31 21:21] vrdmr commented on #1497
Hi @jithinjosepkl -

- We are currently working on rolling out the Enforcing of limits and currently planning to get it to release in the coming releases. I'll update once that release is out.

-  With polling interval, I assume you mean the cgroup performance metrics collection interval. It is not configurable currently, but you can create a new issue and we can take that in the backlog.

Apologi

[2019-06-03 18:00] jithinjosepkl commented on #1497
Thanks @vrdmr for the details.

Yes, i meant the collection interval. I will create a new issue for that.

[2019-06-03 18:03] jithinjosepkl opened #1542 "[FeatureRequest] Make performance collection interval configurable"
It would be nice to have a configurable performance collection interval for sensitive workloads such as HPC. Please see #1497 for more details.

[2019-06-04 15:18] MikeLangley68 opened #1544 "[BUG][Wireserver Failed] URI http://168.63.129.16/machine?comp=telemetrydata"
When deploying the ARM Template for Elasticsearch 7.0 I'm not able to connect using the https public ip

WALinuxAgent version 2.2.40

Ubuntu 16.04.6 LTS dev-kibana ttyS0
[code]

[2019-06-05 22:09] larohra commented on #1505
The fix for this issue has been merged with the develop branch.
PR - [](https://github.com/Azure/WALinuxAgent/pull/1510)
Pending deployment.

[2019-06-05 22:42] vrdmr commented on #1421
travis, CodeCov and most of the fixes for py3.8 have been added. I'll close the issue now. Thanks for the help @jeking3.

[2019-06-05 22:42] #1421 closed

[2019-06-05 22:49] #1505 closed

[2019-06-06 01:08] jasonzio commented on #1540
@frode can you add "-verbose" and remove "-force" from your invocation of "waagent -deprovision" and retry the operation? Add any output from waagent to this issue. Also, please check /var/log/waagent to see if there are logged messages from the time period when you run the deprovision command; if there are such entries, please attach them to this issue as well.

[2019-06-06 22:31] mkozioro opened #1546 "[BUG] Changing hostname and dns resolution on other host in subnet does not work on Ubuntu 18.04"
**Describe the bug**
Walinuxagent is configured to monitor hostnames:
[code]

After changing hostname on Ubuntu 18.04, new hostname is not published and is not visible to other hosts in same network.

In /var/log/waagent.log I see following error:
[code]
Installing any of ifupdown, ifupdown2, netscript-2.4 packages does not solve problem.

Changing hostname on Ubuntu 16.04 works and gives followin

[2019-06-07 05:01] johanburati commented on #1447
Anyone interested, please refer to the report at microsoft/OMS-Agent-for-Linux#873, I will keep posting update there.

[2019-06-11 03:31] johncrim commented on #1514
I'm experiencing this exact same issue. This is a blocker for me/my company - we're unable to add new servers to our VM Scaleset. Any ideas for troubleshooting?

[2019-06-11 04:35] johncrim commented on #1514
Upon further review, I'm getting a slightly different error message - logged every 10 seconds. Again, this is new, didn't happen in deploys a month ago:

[code]

If this is a distinct issue, I'm happy to create a new bug.

This is on standard Azure VM Scalesets using Ubuntu 16.04. Needless to say, none of the other VM extensions are being run.

[2019-06-11 05:05] johncrim opened #1550 "walinuxagent fails to start when host is using EC keys [BUG]"
We're seeing the following error messages every 10 seconds on new Ubuntu hosts. Needless to say, none of the VM extensions are running, so we're unable to create new hosts.

[code]

The change is that the new hosts have ECDSA certs in their cert store, configured via an ARM template.

The use of (non-walinuxagent related) elliptic curve certs appears relevant because the listed command fails:

[co

[2019-06-11 05:08] johncrim commented on #1550
Btw, I would very much appreciate some guidance to patch our setup ASAP, eg "use sed to replace /usr/bin/openssl rsa with /usr/bin/openssl ec in file XXX".

[2019-06-11 05:49] johncrim commented on #1514
Initially I thought I was seeing the same issue, but after investigation it appears distinct, so I created a new issue: #1550

[2019-06-11 15:33] johncrim commented on #1550
This PR provides a fix for the issue: c5c9c39897427e153964592d72e3894dc9654518

My sticking point now is: **How can I update the /usr/sbin/waagent2.0 in an Azure VM instance?** If I could patch it, even manually, I would be able to unblock myself. But when I make this fix to the file, it doesn't seem to get picked up, and I keep getting the error message showing the use of `openssl rsa`.

Any poin

[2019-06-11 21:21] johncrim commented on #1550
For anyone else looking for a way to patch walinuxagent on VMs, I found a way using cloud-init, which (I think/appears to) run before walinuxagent on setup.

The initial sticking point is that even if you patch the `waagent2.0` file, the systemd service runs the `waagent` file, which loads a pre-compiled version of waagent2.0 from somewhere in `/usr/lib/python3/dist-packages/azurelinuxagent/`, so

[2019-06-13 01:17] jasonzio commented on #1362
Steve, the images for Ubuntu 18.04, 18.10, and 19.04 have all been updated to include cloud-init 19.1, which includes the fix for this issue; those distros all use cloud-init to handle provisioning (rather than waagent). Does this problem repro with the current published official Ubuntu images?

[2019-06-13 02:20] szarkos commented on #1362
@jasonzio, we can follow up offline and loop in Simon from our test team for this info.  I don't think it's relevant for this bug report.

The target for this issue is every other distro that uses walinuxagent for provisioning.

[2019-06-13 23:41] litchfield commented on #1092
Experiencing similar issues on Ubuntu `walinuxagent 2.2.32-0ubuntu1~16.04.2` it's a production server and has dropped out three times now.

Same pattern every time- CPU usage spikes up, disk usage goes bananas, then it dies- network traffic flatlines.

Will open ticket with Azure support also.

[2019-06-14 17:49] jayninja commented on #1455
master branch built just fine for me on CentOS 6.10. Attached buffer.
[test-6.10.txt](https://github.com/Azure/WALinuxAgent/files/3291662/test-6.10.txt)

[2019-06-17 21:37] u6006 opened #1559 "Waagent cannot handle gzipped CustomData prep'd by Terraform"
One of our deployment failed with the following error in waagent.log and the reason is that the CustomData passed in is generated by Terraform and it's gzipped before base64 encoded. Both our version (v2.2.25) and the latest have no capability to handle it since it tries to decode UTF-8 after base64 decoding.

Please ignore it if there's the same issue previously reported.

2019/06/17 11:09:40.519

[2019-06-19 06:55] mindcurv-vishnu commented on #1544
Hi Team,

We are also facing this issue. IS there a fix available for this.

Thanks

[2019-06-19 08:09] frode commented on #1540
Sure @jasonzio here is the output:

user@hostname:~$ sudo waagent -verbose -deprovision

WARNING! The waagent service will be stopped.

WARNING! All SSH host key pairs will be deleted.

WARNING! Cached DHCP leases will be deleted.

WARNING! root password will be disabled. You will not be able to login as root.

WARNING! /etc/resolv.conf will be deleted.

Do you want to proceed (y/n)y

2019/06/19 1

[2019-06-19 11:16] stawo opened #1561 "[BUG] walinuxagent does not read environment variable PATH"
I updated the PATH variable on my VM, but the walinuxagent seems not to pick up the changes, and uses and odd value for it.
Steps followed:
- update system-wide PATH by modifying `/etc/environment`
- restart the VM

If I ssh into the machine and perform the following commands:
- `sudo su` (to impersonate the user `root`)
- `echo $PATH`
the returned value is correct.

If I execute `echo $PATH` in A

[2019-06-19 14:26] mrevros commented on #1544
Hi All,

Any update for this?

Many thanks,

[2019-06-19 14:55] vrdmr commented on #1544
@MikeLangley68, @mindcurv-vishnu, @mrevros -

We are investigating the issue of telemetry not being sent from the agent (` ERROR ExtHandler [ProtocolError] [Wireserver Exception] [ProtocolError] [Wireserver Failed] URI http://168.63.129.16/machine?comp=telemetrydata [HTTP Failed] Status Code 400`) currently and will try to update this issue once we get the issue resolved. This error should not imp

[2019-06-19 19:53] depperson commented on #1205
This was fixed in the agent in #1176.  Recent BIG-IP versoions (read: 13+) use a newer waagent with this fix.  Older BIG-IP versions deployed via recent ARM templates also have a workaround for this.  Deploying BIG-IP v12.x via Marketplace while also using custom DNS on your vNet is currently the only way to run into this problem.

[2019-06-19 20:36] jasonzio commented on #1540
That would seem to indicate that `-force` and `-deprovision` cannot be specified at the same time, which matches my intuition. I'm surprised it worked with an earlier version of waagent, assuming it did work with 9.4.

In any event, just don't use `-force` when deprovisioning.

[2019-06-19 20:36] #1540 closed

[2019-06-20 12:23] gpenin opened #1562 "[Linux] Extensions log files rotation"
As extensions log files keep growing indefinitly in /var/log/azure, would it be possible to add log rotation for the extensions in /etc/logrotate.d/waagent.logrotate ? Something like :

[code]

Thanks in advance.

[2019-06-20 13:37] johncrim commented on #1550
[This PR is ready go, IMO](https://github.com/Azure/WALinuxAgent/pull/1552) - it's a one line fix. It works in our environment (though it was difficult to figure out how to install). Please consider merging it for the next version of waagent.

If there's any way to get and test a hotfix version of waagent, I would be happy to help test it.

[2019-06-21 09:36] yuxisun1217 commented on #1529
Hi @buec011 ,

I followed your steps and saw error in network.service:
After "hostnamectl set-hostname walachecka" then "systemctl status network -l" I saw this message:
'''
Jun 21 17:26:09 walachecka dhclient[903]: receive_packet failed on eth0: Network is down
'''

This is the network service info:
'''
# systemctl status network -l
● network.service - LSB: Bring up/down networking
   Loaded: loa

[2019-06-25 15:09] dops0 opened #1565 "VM stays in Updating state for very long time, possibly due to issue with WALinuxAgent"
Hi,

We are facing an issue where a CentOS 7.4 VM stays stuck in the Updating state for a long time. Logs on the machine show WALinuxAgent continuously emitting the following error. I'm suspecting that this error is what is causing the VM to be stuck in Updating state, since WALinuxAgent hasn't yet started fully.

[code]

[2019-06-25 15:18] dops0 commented on #1565
Some additional information. This seems to happen right after WALinuxAgent tries to update the CustomScriptExtension

[code]

[2019-06-25 18:08] dops0 commented on #1565
Some more info.

So, even after trying to restart waagent, we kept getting that error in the log file, however, removing the directory
`/var/lib/waagent/Microsoft.Azure.Extensions.CustomScript-2.0.7/`

and then restarting the agent fixed the issue.

Log info from handler.log:

This is what was happening when waagent kept reporting the ExtHandler error:

[code]

This is what happened after we delet

[2019-06-26 23:02] narrieta commented on #1423
Fixed by #1472

[2019-06-26 23:02] #1423 closed

[2019-06-27 08:15] buec011 commented on #1529
Hello @yuxisun1217

Maybe I explained it badly, but curl hits the issue. So please use curl to test.

But we already found that it has been fixed in latest kernel:
kernel-3.10.0-957.21.3.el7.x86_64 fixed,
kernel-3.10.0-957.10.1.el7.x86_64 issue reproducable.

We believe this commit of the changelog fixed our bug:
- [netdrv] hv_netvsc: Fix a network regression after ifdown/ifup (Mohammed Gamal) [16

[2019-06-28 06:50] yuxisun1217 opened #1569 "[BUG]Some vm sizes have 2 partitions in ephemeral disk"
**Describe the bug**
I notice that the new VM sizes Standard_M208s/ms_v2 vm sizes have 2 partitions in /dev/sdb:
[code]
It seems that WALA uses partition 1 to create swap file. In this case it might be failed.
* The M208s/ms_v2 are gen2 only VM sizes. Currently there is another bug  #1362 so I didn't hit this issue actually. But I think it is a risk. Could you please have a look? Thanks!

**Distro

[2019-07-01 08:34] ishmaelen opened #1571 "[BUG] waagent is flodding serial port"
Hello

I see waagent flooding irq4 serial with more than 115200 bauds for some reason.

I do not know exactly what causes it as I do not trigger anything through the portal and I don't have a serial sniffer installed. Installing a VM using the latest Debian Stretch image w/ backports will give you the issue below. Disabling the agent will cause the messages in dmesg to disappear.

    VM Size: Sta

[2019-07-02 23:48] wilpatest commented on #1465
Is there an update on this?

[2019-07-03 01:16] vrdmr commented on #1571
@ishmaelen - Can you please upload the walinuxagent logs (/var/log/waagent.log)? We'll need to investigate what are we flooding into the serial port.

[2019-07-03 08:23] ishmaelen commented on #1571
Thanks for investigating. Here is the log you are after : https://pastebin.com/1KNmGktg

[2019-07-03 19:54] vrdmr commented on #1550
Fixed in #1552. Closing the issue.

[2019-07-08 15:58] johncrim commented on #1550
Thank you for your help on this, @vrdmr . Do you know about how long it will be before this fix works its way to new Azure VMs? I'm trying to evaluate whether I should try to automate the patch process in our VMs, or just wait.

[2019-07-09 00:53] vrdmr commented on #1550
This would be released as a part of the next agent release (hopefully 2.2.42), but the issue you pointed is in the agent embedded in the distro images itself, and that has a slower cadence.

[2019-07-09 19:40] vrdmr commented on #1465
@wilpatest - I've opened a PR to fix this issue.

In the meantime, you can add a new config `Logs.Console=n` in /etc/waagent.conf (if it is not present) and restart the agent.

Restart waagent service, for most of linux distributions:
[code]

For Ubuntu, use:
[code]

For CoreOS, use:
[code]

[2019-07-10 00:47] vrdmr commented on #1393
Hi, We are currently working on fixing this issue (for both reducing the verbosity of the systemd-networkd (#1577) logs as well as reducing the console logging - #1575 fixing #1465).

For resolving the serial console flooding issue, you can change the config `Logs.Console=n` in `/etc/waagent.conf` (or add, if it is not present) and restart the agent.

Restart waagent service, for most of linux dis

[2019-07-11 15:57] maccas777 opened #1578 "[BUG] WARNING ExtHandler Failed to decode event file: not well-formed (invalid token): line 1, column 1"
Error log have been having logs as above

 - Distro and Version: CentOS Linux release 7.6.1810 (Core)
 - WALinuxAgent version WALinuxAgent.noarch  2.2.38-1.el7

 waagent.log
2019/07/11 15:09:15.634147 WARNING ExtHandler Failed to decode event file: not well-formed (invalid token): line 1, column 1
2019/07/11 15:14:19.218500 WARNING ExtHandler Failed to decode event file: not well-formed (invalid t

[2019-07-11 21:00] hestolz commented on #1578
FYI not distros-specific; seen on RedHat 7.3, SLES12 SP3, etc as well.

[2019-07-11 22:49] vrdmr commented on #1578
@nitinbps @zjalali Could you please take a look at this issue?

[2019-07-12 19:53] vrdmr commented on #1393
Merged #1577 to reduce the verbosity of the logs and will reduce the spamming of the console.

[2019-07-12 19:53] #1393 closed

[2019-07-13 00:23] vrdmr commented on #1465
#1577 fixes the systemd-networkd verbosity issue and would be released in the next release.

Closing this issue.

[2019-07-13 00:23] #1465 closed

[2019-07-15 09:50] maccas777 commented on #1578
Hi any idea if there is any fix for this ? Much appreciated if there could be a way to fix this thank you in advance

[2019-07-15 15:11] AHPanna commented on #269
i had the same issues it was the env PATH en centos, pidof is on /usr/sbin and i believe your path was on /usr/bin. sorry for the late. for fixe just add the correct path on env.

[2019-07-16 10:25] dops0 opened #1584 "Azure RDMA drivers for H-Series running updated kernel with TCP SACK vulnerability fix"
Hi,

Due to CVE-2019-11477, CVE-2019-11478 & CVE-2019-11479, we need to upgrade the kernel on H-Series RDMA VMs running the CentOS 7.4 HPC image.

Unfortunately, we haven't been able to figure out if the RDMA drivers for H-Series are automatically set up by WAAGENT for newer kernel versions ?

If not, is it possible for us to manually compile msft-rdma-drivers for H Series machines on Azure ?

An

[2019-07-18 07:08] johanburati opened #1586 "Getting an error when installing any extension"
## Issue
Cannot run any extension.

## Version
[code]
This is a custom image and a lot of packages are missing.

## waagent.log

[code]
## CommandExecution.log

[code]
## Additional notes
I can see the extension zip file (*Microsoft.CPlat.Core__RunCommandLinux__1.0.1.zip*) in the waagent directory but the extension folder is missing.

## Question

Any idea what could be missing on that image that

[2019-07-18 13:02] tboatman commented on #1586
Packages installed on the system -

acl-2.2.51-14.el7
apr-1.4.8-3.el7_4.1
apr-devel-1.4.8-3.el7_4.1
apr-util-1.5.2-6.el7
apr-util-devel-1.5.2-6.el7
audit-2.8.4-4.el7
audit-libs-2.8.4-4.el7
authconfig-6.2.8-30.el7
autogen-libopts-5.18-5.el7
avahi-libs-0.6.31-19.el7
basesystem-10.0-7.el7.centos
bash-4.2.46-31.el7
bind-libs-32:9.9.4-74.el7_6.1
bind-libs-lite-32:9.9.4-74.el7_6.1
bind-license-32:9.9.4-

[2019-07-18 15:32] narrieta commented on #1586
The extension install is failing with error "Permission Denied". You can decode the message in the ERROR using this:

`echo '<encoded data>' | base64 -d | pigz -zd`

In this case the message is

You could try debugging why "bin/run-command-shim install" fails. The code is here: https://github.com/Azure/run-command-extension-linux/blob/master/misc/run-command-shim

[2019-07-19 00:06] vrdmr commented on #1578
Hi @maccas777 - There is a new deployment in progress of the OMSExtension with the fix. It should be completed within a few days.

FYI - @zjalali, @simathih, @hestolz

[2019-07-19 00:06] #1578 closed

[2019-07-19 00:23] johanburati commented on #1586
Thanks @narrieta, you can close this issue, the problem was that /var was being mounted with noexec.

[2019-07-19 15:16] flyinprogrammer commented on #1019
Here to report this is still a bug, with no exponential backoff/retry - or obvious signals to an administrator until you implement your own out-of-band monitoring. l.o.l.

[2019-07-19 18:26] pgombar commented on #1514
Hi @bobsun0917, please make sure only one openssl library is installed on the system. To confirm if this is causing the issue, try this command:
`/usr/bin/openssl x509 -in /var/lib/waagent/{thumbprint}.crt -fingerprint -noout`

If you see something like this in the output of the command, it means there is more than one reference to openssl and they are conflicting:
[code]

[2019-07-19 19:38] vrdmr commented on #1019
@flyinprogrammer - We are working on the fix for the extension issues. And the re-download issue has already been fixed.

ref. @larohra

[2019-07-19 19:39] #1586 closed

[2019-07-19 20:08] flyinprogrammer commented on #1019
ok i was running v2.2.40 on bionic today, from the proposed repo, and it wouldn't stop flapping until i cleared out all the old downloads of OmsAgent. https://github.com/Azure/WALinuxAgent/issues/1393 was also an issue until i used your advice.

[2019-07-19 20:51] #1514 closed

[2019-07-19 20:51] pgombar commented on #1514
Feel free to re-open if the issue persists after the proposed fix.

[2019-07-22 08:21] gpenin commented on #1562
Removing the "RFE" label as we start having issues with file systems being full and we now have impact on production services.

[2019-07-22 09:48] dbcloudbin-dev opened #1590 "WAagent is not provisioning user when deploying VM from Azure Portal"
Hi,
We have tested to deploy from Azure Portal a standard 'OpenLogic:CentOS:7.6:7.6.20190708' setting up an arbitrary admin user and password from the VM provisioning form and it works OK (as expected, we are able to connect to the VM with that user and password successfully).

However, if we create a new image (programatically) based on the same Centos image with no changes and we repeat a deploy

[2019-07-22 15:20] othmanaljundi-microsoft commented on #1562
First ensure that WALinuxAgent and omsagent are up to date :

	# yum update WALinuxAgent
	# yum update omsagent

Then; we will be adding a new entry to logrotation service for this log file :

	# touch /etc/logrotate.d/omsagentextensions
	# vi /etc/logrotate.d/omsagentextensions

		LogFileFullPath
		{
			rotate 10
			hourly
			missingok
			notifempty
			delaycompress
			compress
			size 100M
		}

[2019-07-23 03:40] johanburati opened #1591 "Memory leak in 2.2.41"
Memory leak in 2.2.41 on a custom Ubuntu 18.04 VM.

## Issue
RSS  keeps growing,  it grew from 29 MB to 258 MB:

[code]
## Log
Can see some memory error in waagent.log:
[code]

## Info
Kernel, openssl, waagent, python version:
[code]

[2019-07-25 00:36] johanburati commented on #1591
Removing some packages from that image solved the issue, cannot reproduce the issue on the Marketplace image so will close this and follow up internally.

[2019-07-25 18:52] pgombar commented on #1591
Hi @johanburati, could you share which packages were removed in order to reduce the memory footprint of the agent? It would help us with future investigations and to possibly understand why other packages were resulting in us seemingly using more memory.

[2019-07-29 00:40] johanburati commented on #1591
Reopening the issue here, because someone just closed the one I had cut internally.

@pgombar, the packages I removed are ib-agent (proprietary agent) libcurl3-nss and libnss3

[2019-07-29 21:56] ZhidongPeng commented on #1512
Provisioning part.

[2019-07-30 22:28] anhvoms commented on #1590
Before you stopping/deallocating the VM so that it can be captured for image creation, the step "sudo waagent -deprovision+user" need to be run from within the VM. In a typical image building process using a script you should put that step as the last action in the script.

If you build your image with Packer or Azure Image Builder this step can be skipped because that step will be added automatic

[2019-07-31 06:55] Mangaleshwar opened #1596 "HostGA plugin issue with waagent in Linux VMs"
Waagent is unable to report back to portal because of which the extensions are not working.

Waagent is running in the guest OS level but we are seeing below errors because of which the VMs are not reporting back to the portal.

Waagent version: 2.2.38
Goal state version: 2.2.41

**Waagent Logs:**
2019/07/22 12:36:56.449403 ERROR ExtHandler HostGAPlugin: Exception Get API versions: [HttpError] [HT

[2019-07-31 19:49] narrieta commented on #1591
I'm following up with @johanburati using the internal ticket.

[2019-07-31 19:49] #1591 closed

[2019-07-31 20:05] narrieta commented on #1502
This is fixed in 2.2.41

[2019-07-31 20:05] #1502 closed

[2019-07-31 20:13] narrieta commented on #1390
In our latest release (2.2.41) errors in cgroups should not be blocking and extensions should execute correctly. Please re-open this issue if the problem is still there.

[2019-07-31 20:13] #1390 closed

[2019-08-01 15:14] plessisa opened #1597 "Error during Waagent update due to lower methode not existing"
When trying to update to 2.2.41, we got the following error:

We got the following logs:
2019/08/01 14:02:22.247601 WARNING ExtHandler Agent WALinuxAgent-2.2.41 failed with exception: 'NoneType' object has no attribute 'lower'
]
2019/08/01 14:02:22.267883 WARNING ExtHandler Traceback (most recent call last):
  File "build/bdist.linux-x86_64/egg/azurelinuxagent/ga/update.py", line 278, in run
    s

[2019-08-01 15:15] plessisa commented on #1597
I will submit a review shortly

[2019-08-01 20:52] pgombar commented on #1597
Hi @plessisa, thanks for your contribution. That part of the code is actually unnecessary and we had planned to clean up the method `is_cgroups_supported`. This will be done in #1599.

[2019-08-01 22:04] pgombar commented on #1597
The fix is merged in #1599 and will be shipped in the next agent release. Closing the issue.

[2019-08-01 22:04] #1597 closed

[2019-08-07 10:02] MaxMelcher opened #1605 "[BUG] debian 9 package is outdated"
**Describe the bug**
The debian 9 waagent package is outdated and stuck during installation with apt-get install.

* apt-get install waagent installs version 2.2.34 and is stuck during installation

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: Debian 9.5
 - WALinuxAgent version: 2.2.34

**Additional context**
I installed debian based on an

[2019-08-13 21:39] mries opened #1608 "[BUG] Documentation"
Update needed for document in
https://github.com/Azure/WALinuxAgent/wiki/FAQ

**How to remove agent from the box?**
Depending on the distro - You'll need to stop the agent service.
systemctl stop walinuxagent # Or service walinuxagent stop
waagent -deprovision -force
rm -rf /var/lib/waagent

waagent -deprovision -force prepares the VM for generalization and creating an image. It strips out all uni

[2019-08-16 17:26] deathcat05 commented on #178
I too, am running into this issue with CentOS.

Properties for Image are as such:
[code]

[2019-08-16 18:02] pgombar commented on #178
Hi @deathcat05, as of today the mitigation is still to exclude the agent package from the upgrade command, or to issue the upgrade command from an SSH session, not from an extension.

This is due to the design of dependencies between the agent and the extensions, like mentioned above:

[2019-08-16 18:15] deathcat05 commented on #178
@pgombar Thanks for the quick response. Will skipping this upgrade of the waagent affect provisioning "under the hood" at all, besides the fact that the agent won't get updated?

[2019-08-16 18:47] pgombar commented on #178
@deathcat05 the agent has an auto-update functionality. Your snippet from /var/log/messages shows that the agent already self-discovered an update (2.2.42) being the latest available version and updated itself, so there is no need to update it from an extension.

There are two agent handlers running on any VM, extension handler and daemon. More info on that here: https://github.com/Azure/WALinuxAg

[2019-08-20 20:00] raykimsey opened #1610 "Error messages to syslog and waagent.log every 5 seconds"
**Describe the bug**
A clear and concise description of what the bug is.

Note: Please add some context which would help us understand the problem better
1. Section of the log where the error occurs.
2. Serial console output
3. Steps to reproduce the behavior.

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: [e.g. Ubuntu 16.04]
 - WALinuxAgen

[2019-08-20 20:14] raykimsey commented on #1610
I know this has been reported in the past #1393, but not sure if it is being resolved or not. It is still occurring. I just upgrade a VM from ubuntu 16.04 to 18.04 and started having the message:
2019/08/20 06:59:45.813486 ERROR ExtHandler Command: [pidof systemd-networkd], return code: [1], result: []
added to the syslog and waagent.log file.  Manually starting systemd-networkd (after the system

[2019-08-20 20:46] narrieta commented on #1610
@raykimsey - we will have a fix for this issue in our next release, thanks for pointing it out.

[2019-08-22 15:51] mikkoc opened #1612 "[BUG] Installing ubuntu-desktop with Packer breaks the VM"
**Describe the bug**
Installing ubuntu-desktop on 18.04 LTS with Packer, creates a broken image that is not able to boot. I'm not sure this is an issue with WALinuxAgent / Cloud-Init / Azure.

It seems like network interface `eth0` is unable to go UP, and everything else breaks.

Packer file:

[code]

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Ve

[2019-08-22 22:55] dsa8345784935 opened #1615 "2.2.42 agent constantly calls xtables-multi/iptables --version"
Since upgrading to 2.2.42 my logs are filled with constant (every 5s) xtables/iptables --version logs from the agent

surely it's a mistake to run this every 5s executing "iptables --version" via xtables-multi

waagent --version
WALinuxAgent-2.2.40 running on ubuntu 18.04
Python: 3.6.8
Goal state agent: 2.2.42

This is enabled in /etc/waagent.conf
OS.EnableFirewall=y

Example from logs (not more l

[2019-08-25 20:16] mries opened #1618 "[BUG] WARNING ExtHandler Failed to decode event file: not well-formed (invalid token): line 1, column 1"
Appears to be the same bug as:
https://github.com/Azure/WALinuxAgent/issues/1578

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.6 LTS"

OMSversion:
Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux-1.11.9
waagent version:
"WALinuxAgent-2.2.42"
Additional error from waagent.log:

2019/08/25 16:22:52.682659 WARNING ExtHandler Single event too l

[2019-08-28 15:03] mike-pt commented on #1479
I looked into the same recently , cause without this working properly backups will never work.

The route table is easy to work around, I do know some python and I thing I've identified the 2 places this needs to change, but there's also the iptables side of it.

The main issue is that this is linux centric... Well its called "WALinuxAgent" not "WAUnix", there might be more places that need workar

[2019-08-28 16:38] ssimoe04 commented on #1618
I'm facing the same issue also on an Ubuntu dist, since 3 days ago.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
walinuxagent >> lastest version: 2.2.40-0ubuntu1~18.04.1

Thanks for keeping us up-to-date!
BR

[2019-08-29 02:02] yuxisun1217 opened #1624 "[BUG]The extension uninstalled log annoys customer"
**Describe the bug**
It's a customer issue: https://bugzilla.redhat.com/show_bug.cgi?id=1746180
After extension is uninstalled(e.g. LinuxDiagnostics), everytime the waagent service restart there is a log like below, which annoys the customer:
2019/08/28 19:06:52.805484 INFO [Microsoft.Azure.Diagnostics.LinuxDiagnostic-3.0.123] Target handler state: uninstall
2019/08/28 19:06:52.809506 INFO [Micros

[2019-09-03 21:23] pgombar commented on #1544
Hi @mindcurv-vishnu, @mrevros can you please confirm if `Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux` was running when you started seeing error
`2019/06/04 14:05:40.367621 ERROR ExtHandler [ProtocolError] [Wireserver Exception] [ProtocolError] [Wireserver Failed] URI http://168.63.129.16/machine?comp=telemetrydata [HTTP Failed] Status Code 400`? It would also help us if you could share y

[2019-09-11 19:27] narrieta commented on #1550
@johncrim @vrdmr - I am re-opening this issue.

Some of the client VMs are running older versions of OpenSSL and in the past we've had issues when making changes in this area. I found a couple of reports that the pkey argument is missing in openssl, for example: https://github.com/serghey-rodin/vesta/issues/1825.

I think we need to make this change in 2 steps --- first we'll collect telemetry to

[2019-09-13 15:28] johncrim commented on #1550
@narrieta : Please consider wrapping the `openssl rsa` call with some error handling, so the error is logged and waagent continues the rest of its work. That way if an error occurs creating pfx files for any reason (including an ec private key) it doesn't abort the remainder of the things that waagent does (eg run extensions).

Right now, the behavior is to abort the rest of waagent if the openssl

[2019-09-13 16:50] narrieta commented on #1550
@narrieta Agree, the error handling should be improved.

[2019-09-13 16:50] narrieta commented on #1550
@johncrim  Agree, the error handling should be improved.

[2019-09-17 13:16] marinnedea opened #1636 "Misleading information in the FAQ page"
In the https://github.com/Azure/WALinuxAgent/wiki/FAQ#how-to-remove-agent-from-the-box page, the instructions to remove the walinuxagent are:

The information above will not remove the walinuxagent from the box, but will deprovision the VM and prepare it to become a golden image.
The above will remove the walinuxagent configuration from the box together with user details and set the VM to a state

[2019-09-19 06:18] johanburati opened #1639 "[BUG] The agent keeps filling up the log with INFO messages every second"
The **Agent Status** is reported as *Not Ready* on the portal, I could not see any error in the log but the agent keeps filling up the log with INFO messages every second (see Log section below).
How can we prevent that behavior ?

## Version
[code]

## Log
[code]

[2019-09-19 15:43] narrieta commented on #1639
@johanburati Is this a custom image, or an image from the marketplace? could you provide a verbose log? edit /etc/waagent.conf and set this:
[code]
then restart the agent.

Thanks!

[2019-09-20 07:31] johanburati commented on #1639
@narrieta It is a Marketplace image: OpenLogic:CentOS:7.5:latest

The customer will enable verbose mode and send us the log next week.

[2019-09-20 09:17] onenachi commented on #1479
Well I've tested and submitted a PR. Now its just a waiting game.

[2019-09-24 08:40] #1569 closed

[2019-09-24 17:56] msftphleiten opened #1645 "[BUG] waagent doesn't mount temporary storage on Gen2 VMs"
temporary storage is not mounted and therefor swap space doesn't get active with error:

2019/09/17 07:43:28.253251 INFO Daemon Activate resource disk
2019/09/17 07:43:28.255774 ERROR Daemon Failed to mount resource disk [ResourceDiskError] unable to detect disk topology
2019/09/17 07:43:28.257645 ERROR Daemon Event: name=WALinuxAgent, op=ActivateResourceDisk, message=[ResourceDiskError] unable to

[2019-09-26 17:08] narrieta commented on #1645
@jasonzio related to #1362

[2019-09-26 21:49] vrdmr commented on #1636
@pgombar #1608

[2019-09-26 21:49] #1608 closed

[2019-09-27 00:25] EstebanLopezF opened #1647 "[BUG] 'ssh-keygen’ permission denied for deployment with public key."
**Describe the bug**

Waagent is generating an error message in the deployment of a CentOS version 7.0.1406 (Core) (unsupported version) when uses ‘ssh-keygen’ to change the format of the public key and store it in the “$HOME/.ssh/authorized_keys” of the admin user.
This is with an image of a CentOS that was uploaded from on-prem and generalized, and the waagent was installed from the Github waage

[2019-09-30 17:20] larohra commented on #1596
Looks like there was some network issues back then in West Europe. This issue would've auto-mitigated since then.
Additionally we have improved HostGA Plugin resiliency in the linux agent so you hopefully shouldn't see this issue again. If this issue is still persisting, please share tha waagent.log file and I can take a look.

Reopen if still persists.

[2019-09-30 17:20] #1596 closed

[2019-09-30 18:26] larohra commented on #1455
`python setup.py bdist_rpm` building fine on rhel-6.10 [stdout.log](https://github.com/Azure/WALinuxAgent/files/3672685/stdout.log)

I did notice though that rpm version >4 removed the `-ba` flag which causes the above command to fail. Make sure to install `rpm-build` package before trying to build, after installing `rpm-build` this command should succeed - `python setup.py bdist_rpm`

[2019-09-30 18:26] #1455 closed

[2019-09-30 22:39] pgombar commented on #1636
Thanks for pointing this out, @marinnedea. We've updated the FAQ accordingly.

[2019-09-30 22:39] #1636 closed

[2019-10-01 00:28] pgombar commented on #1605
Hi @MaxMelcher, the agent that gets installed using the distro's package manager is controlled by the distro owners. As in, it is their responsibility to update the packages in their repo. As you've said, debian still has 2.2.34 in its [repo](https://packages.debian.org/stable/allpackages?format=txt.gz).

The agent installed from the package repository is the daemon which in turn installs the more

[2019-10-01 00:28] #1605 closed

[2019-10-01 20:33] larohra commented on #1624
The above mentioned scenario only happens if there is no new extension related action (goalstate) on the VM and you restart the agent. When you restart the agent, it re-runs the last settings that it received and logs accordingly (hence the multiple Uninstall calls). If you dont restart the agent, then you wont see any new Uninstall logs.

If you do a new extension related activity (like running R

[2019-10-01 20:33] #1624 closed

[2019-10-03 04:43] carlosporter commented on #1544
Hello, I'm having a similar problem on Ubuntu 18.04 and version 2.2.23.2 of the WA Linux Agent, the problem can be resolved only after trying to redeploy the virtual machine several times...

[2019-10-03 14:27] plessisa opened #1653 "[BUG] The Pre Release agent keeps logging INFO messages"
Since I upgarded to 2.2.43, I keep receiving log at INFO level every 3 sec:
2019/10/03 14:23:33.469158 INFO ExtHandler Using host plugin as default channel
2019/10/03 14:23:33.487082 INFO ExtHandler Request succeeded using the host plugin channel.

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: OpenWRT
 - WALinuxAgent version 2.2.43

Find at

[2019-10-03 14:46] narrieta commented on #1653
@plessisa - Thank you for reporting this. We'll take a look

[2019-10-03 20:42] pgombar commented on #1544
Hi @carlosporter, can you confirm if the extension `Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux` is running and which version of it?
Also, if you could share /var/log/waagent.log with us, that would help in the investigation. Thanks.

[2019-10-04 17:59] pgombar commented on #1653
Hi @plessisa, thanks for letting us know. We were able to identify the issue early in the release. We are issuing a fix and resetting the release.

[2019-10-04 19:15] pgombar commented on #1197
Fixed in #1632

[2019-10-04 19:15] #1197 closed

[2019-10-10 08:28] plessisa commented on #1653
@pgombar This is resolved on 2.2.43.1.
Thanks

[2019-10-10 18:42] #1653 closed

[2019-10-10 20:05] vrdmr commented on #1615
Hi @dsa8345784935, Apologies for the late reply.

The agent does check the firewall settings every 5 seconds - It is in the design to make sure that the environment is correct for the WALinuxAgent to run. This is a very important operation for our agent and we cannot turn it off as we configure the network rules to keep our access to important endpoints open.

For more context - the `iptables --ve

[2019-10-10 20:05] #1615 closed

[2019-10-10 20:21] vrdmr commented on #1590
Thanks for the input @anhvoms.

This could be because as this is a captured image, the provisioning agent didn't create a new user, while provisioning this new image (and to force it, you might need to follow @anhvoms's advice on running the `sudo waagent -deprovision+user`. @anhvoms - correct my understanding if this is the case)

The user creation during provisioning and post-provisioning are do

[2019-10-10 20:21] #1590 closed

[2019-10-10 21:38] larohra commented on #1495
Had offline discussion with @roiyz-msft.

[2019-10-10 21:38] #1495 closed

[2019-10-10 21:54] larohra commented on #1499
We're unable to reproduce the issue. Is this a custom image?
Please reopen if the issue still persists.

[2019-10-10 21:54] #1499 closed

[2019-10-10 21:57] larohra commented on #1515
This issue has been fixed in the backend. Please re-open the issue if this reproduces again.

[2019-10-10 21:57] #1515 closed

[2019-10-15 04:00] johanburati opened #1670 "[BUG] 'WARNING Dhcp client is not running' on RHEL 8.0"
## Description

The version of NetworkManager installed on RHEL 8.0 use the internal dhcp client by default:
[code]

However **WALinuxAgent** is only checking for `dhclient`: https://github.com/Azure/WALinuxAgent/blob/e3ecde432c0fd6968bdb6d2774e316a61b3289d2/azurelinuxagent/common/osutil/redhat.py#L74-L75

Because of this we are getting this warning in *waagent.log*:

[code]

## Version

[code]

[2019-10-15 05:31] johanburati opened #1671 "[BUG] 'WARNING Dhcp client is not running' on Ubuntu 19.10"
## Description

On Ubuntu 19.10

**WALinuxAgent** keeps reporting that the DHCP client is not running:
[code]

However *systemd-networkd* is handling DHCP:

[code]

You probably need to add an exception and check for `systemd-networkd` like you did for Ubuntu 18:

https://github.com/Azure/WALinuxAgent/blob/e3ecde432c0fd6968bdb6d2774e316a61b3289d2/azurelinuxagent/common/osutil/ubuntu.py#L90-L93

##

[2019-10-15 08:23] johanburati commented on #1639
Could not get any update from the customer, closing this.

[2019-10-15 08:23] #1639 closed

[2019-10-15 10:01] malachma opened #1673 ""OS.EnableFirewall=y" is blocking DNS queries if a switch to TCP is required"
SHORT DESCRIPTION
------------------------
The current implementation of the following security rule is to restrictive
[code]

it does block any DNS query traffic if a switch from UDP to TCP is necessary if a large payload has to to be returned to client initiating the DNS reolving process.

HOW TO REPRODUCE
-------------------------
Log on to a Linux Azure VM and run the following query
--> dig

[2019-10-15 22:53] narrieta commented on #1346
We do not see this issue in our tests. Please re-open if still an issue.

[2019-10-15 22:53] #1346 closed

[2019-10-15 22:58] narrieta commented on #1249
@jacwil - Is this an issue we will be working on? Thanks

[2019-10-15 23:02] narrieta commented on #1378
Fixed in #1428

[2019-10-15 23:02] #1378 closed

[2019-10-15 23:08] narrieta commented on #1413
@trstringer could you take a look at this one? thanks

[2019-10-15 23:10] narrieta commented on #1405
we were unable to reproduce this issue

[2019-10-15 23:10] #1405 closed

[2019-10-15 23:19] jacwil commented on #1249
@narrieta - This is something IMDS team will be doing sometime in the future. It is not scheduled work, just on our Backlog.

We are tracking this outside of GitHub so feel free to close this as something to the effect of "will not fix."

[2019-10-16 08:33] chvalean commented on #1346
Right, well it might have just went away in the one year gap since it was set to investigating. :)

[2019-10-16 09:21] apollotonkosmo opened #1674 "waagent couldnt find openssl binary and consumed all inodes."
Hello there,

We have an Ubuntu server where we removed openssl for some testing and waagen coulnd't find it (per its logs) and flooded `/var/lib/waagent/history` with so many direcotries/files that consumed all inodes on the server. As soon as we put openssl binary back in the /usr/bin/ and restarted waagent the inodes where released.

I assume openssl is required by waagent but shouldn't it just

[2019-10-16 13:07] ishmaelen commented on #1571
Same issue appearing in Linux 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u1 (2019-09-20) x86_64 GNU/Linux

[2019-10-16 14:25] trstringer commented on #1413
@narrieta absolutely I'll check it out.

[2019-10-16 17:03] narrieta commented on #1249
thanks, @jacwil ; closing

[2019-10-16 17:03] #1249 closed

[2019-10-16 18:53] narrieta commented on #1346
@chvalean

and for that, we apologize.

We are in the process of cleaning up/addressing open issues (hence closing this one)

[2019-10-16 21:03] vrdmr commented on #1571
Hi @ishmaelen, Apologies for the delay.

Can you please let me know the extensions installed on the box?
If you list `/var/lib/waagent`, it'll help me see whats is present on the box.

[2019-10-17 22:09] vrdmr commented on #1673
@malachma We will improve the documentation you linked ([link](https://docs.microsoft.com/en-us/azure/virtual-network/what-is-ip-address-168-63-129-16)), but access is restricted only to the root due to security restrictions.

What is the impact? Please let us know.

[2019-10-17 22:55] oviliz commented on #1466
It looks like the relevant link to the FAQ is no longer valid.

[2019-10-18 06:24] malachma commented on #1673
The Impact is that any process which is not owned by root (uid=0) is not able to work on large resultsets returned by a DNS query, against the Azure DNS, as given in my sample. The communication is blocked because of this strict Security rule. One of our customers is therefore not able to communicate with its Partner. An exception for DNS queries is therefore needed

iptables -t security -I OUTPUT

[2019-10-18 21:59] oviliz commented on #1466
I've followed the steps here but the next day the agent was back on. It looks like it gets reinstalled automatically... :(

[2019-10-18 22:00] oviliz commented on #1466
I've followed the steps here but the next day the agent was back on. It looks like it gets reinstalled automatically... :(
Any thoughts on this @vrdmr ?

[2019-10-19 00:11] vrdmr commented on #1466
The VM without agents section is now moved from FAQ to [VMs-without-WALinuxAgent](https://github.com/Azure/WALinuxAgent/wiki/VMs-without-WALinuxAgent).

`systemctl stop walinuxagent # Or service walinuxagent stop` should stop the WALinuxAgent service and `waagent -deprovision -force` should remove the daemon's (The version which comes installed in the box) operation.

@oviliz Could you please past

[2019-10-19 00:14] vrdmr commented on #1025
The fix is working and closing the issue.

[2019-10-19 00:14] #1025 closed

[2019-10-22 22:45] vrdmr commented on #1647
Hi @trstringer, Could you please take a look at this issue?

[2019-10-22 22:47] vrdmr commented on #1645
Hey @trstringer Could you please take a look at this issue. Thanks.

[2019-10-22 22:48] vrdmr commented on #1584
Hey @longlimsft, Could you please take a look at this RDMA issue?

[2019-10-23 00:04] oviliz commented on #1466
Thanks for your reply.
The status was as expected:
[code]
I've removed again the agent:
[code]
The `apt-get remove walinuxagent` seems to be what replaces `waagent -deprovision -force`. Will let you know @vrdmr if the agent is back on the VM in the next days.

[2019-10-23 00:06] oviliz commented on #1466
PS. It looks like some residues are still left:
[code]

[2019-10-23 01:59] longlimsft commented on #1584
Unfortunately we don't have RDMA driver for CentOS 7.6. The latest supported version is CentOS 7.5.

[2019-10-23 13:00] trstringer commented on #1645
Fixed by #1654.

[2019-10-23 18:39] #1645 closed

[2019-10-23 19:24] krngrvr09 opened #1678 "Waagent for deprovisioning an Android VM"
Hello,
I am trying to use Azure ScaleSets to spin up >100 nodes at once. To deploy these nodes with android, I have an image created from an Android VM. However, since the VM is not deprovisioned before creating the image, the new instances in ScaleSet dont start(which is expected). I am wondering if waagent can be used to deprovision an android VM. I know that while different flavours of Linux ar

[2019-10-24 00:04] vrdmr commented on #1404
Failed to repro this issue. Also, we use [nosetests ](https://nose.readthedocs.io/en/latest/)to run our tests. Could you please configure nosetests and try again?

[code]

Closing the issue. Please reopen if you hit the issue again. Thanks.

[2019-10-24 00:04] #1404 closed

[2019-10-24 18:18] narrieta commented on #1610
The fix is included in v2.2.44, which is currently being deployed to production.

[2019-10-24 18:18] #1610 closed

[2019-10-24 19:22] vrdmr commented on #1362
@trstringer Is this again a duplicate of #1654?

[2019-10-24 20:23] trstringer commented on #1362
@vrdmr that's correct, this issue was fixed in #1654.

[2019-10-24 20:49] vrdmr commented on #1362
Fixed by #1654. Closing the issue. Thanks, @trstringer for the fix.

[2019-10-24 20:49] #1362 closed

[2019-10-24 20:52] vrdmr commented on #1356
Fixed by CSE - https://github.com/Azure/custom-script-extension-linux/pull/153 and https://github.com/Azure/custom-script-extension-linux/pull/155. As a part of the [CSE v2.1.2](https://github.com/Azure/custom-script-extension-linux/releases/tag/v2.1.2).

Closing the issue now.

[2019-10-24 20:52] #1356 closed

[2019-10-24 21:28] #1497 closed

[2019-10-24 21:28] pgombar commented on #1497
@jithinjosepkl closing since we are tracking issue #1542 for this.

[2019-10-24 21:29] pgombar commented on #1542
@jithinjosepkl we will consider your request. We are currently working on enforcing CPU usage limits.

[2019-10-24 21:31] pgombar commented on #1511
@AOhassan is this still active? If not, we will close it.

[2019-10-24 21:34] pgombar commented on #1479
Closing as the PR got merged and will be included in the next release.

[2019-10-24 21:34] #1479 closed

[2019-10-24 21:52] pgombar commented on #1446
Hi @jakehoms, this is what we do in our template when preparing a SUSE 12 custom image:
[code]
Hope this helps.

[2019-10-24 21:52] #1446 closed

[2019-10-24 21:57] pgombar commented on #1407
@waldiTM we can't repro this on our side.

[2019-10-24 21:57] #1407 closed

[2019-10-24 21:57] pgombar commented on #1406
@waldiTM we couldn't repro this on our side. We use `nosetests` to run our unit tests, FYI.

[2019-10-24 21:57] #1406 closed

[2019-10-24 21:59] pgombar commented on #1402
Closing since the issue is resolved.

[2019-10-24 21:59] #1402 closed

[2019-10-24 22:01] pgombar commented on #1388
@donestefan closing since this is the current design. It is costly to change the current design and there are no plans of doing it in the near future.

[2019-10-24 22:01] #1388 closed

[2019-10-24 22:05] pgombar commented on #1383
@bebarb we are not seeing this in our tests. Can you elaborate on how you verify the LB sets probing is failing? Thanks.

[2019-10-25 19:49] minusbat commented on #1479
I just pulled master and installed this on FreeBSD 12.1 and I am still getting the original error:

2019/10/25 19:43:06.776594 ERROR ExtHandler Cannot read route table [[Errno 2] No such file or directory: '/proc/net/route']

Is there anything extra that I need to do to make this work ? I know the original PR was for FreeBSD 11, but presumably this should also work on 12 ?

[2019-10-25 19:51] onenachi commented on #1479
This should just work on 12. I haven't tested it on 12, only on 11.2 and 11.3. But as long as the osutil used is the FreeBSD one, there should be no issues.

[2019-10-25 20:00] minusbat commented on #1479
[code]

so it looks like its using the correct osutil, but I still get this:

[code]

and so on....

[2019-10-25 20:08] onenachi commented on #1479
Well that error was previously caused by wireserver_route_exists. Now that function calls the osutils read_route_table. The FreeBSD osutil has no mention of "/proc/net/route" at all. If it failed there it would complain about a failed `netstat -rn -f inet` which it isnt.

This means that:
- Perhaps the fix was committed to the develop branch and not master
- Either there is another piece of code t

[2019-10-25 20:09] onenachi commented on #1479
I just checked, the fix is in the develop branch and not master.

[2019-10-25 20:18] narrieta commented on #1479
Yes, the fix has not been merged to master. It is in the release-2.2.44 branch (via develop), We currently deploying release-2-2.44; once deployment completes we'll merge it to master.

[2019-10-25 20:33] minusbat commented on #1479
I am running the develop branch, but just to make sure I wiped it, did a fresh checkout from git and a fresh build (python 3.7) and an install, but its still doing it. Will add a complete transcript of the startup below so you can see what its doing - it identifies freebsd, but it does still seem to do thing like run iptables. Puzzling...

[code]

[2019-10-25 20:34] minusbat commented on #1479
BTW, if you want access to the machine I am happy to provide it if you give me an ssh key... :-)

[2019-10-25 20:42] onenachi commented on #1479
Could you send me the contents of freebsd.py in /usr/local/lib/python/site-packages/azurelinuxagent/common/osutil/freebsd.py

[2019-10-25 20:53] minusbat commented on #1479
Ah, and theres the clue I needed - don't have a python.site-packages, but I do have a pytjon2.7/site-packages and also a python3.6/site-packages .... and it was using the python2.7 instead of the python3.6. I suspect this is because it uses 'python' to run the code instead of whatever python the 'setup.py' file was run with, so even though I built and installed it using 'python3.6 setup.py' it sti

[2019-10-27 12:28] taoyama commented on #1413
I believe this is not a bug.
The Domain Name System (DNS) names is case insensitive. Therefore we can not use mixed case hostnames in Azure.
https://github.com/Azure/WALinuxAgent/blob/develop/azurelinuxagent/ga/env.py#L140

This limitation is written in the [document](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-name-resolution-for-vms-and-role-instances).
<code>
Host na

[2019-10-28 14:57] andresbarcenas commented on #1615
@vrdmr There is no way to disable the noise? We are getting flooded with messages and this becomes a problem. Any ideas?

[2019-10-29 20:14] minusbat opened #1687 "Latest waagent coredumps python interpreter when started at boot on FreeBSD"
'I am running the latest waagent on the 'develop branch. Operating system is FreeBSD 12.1 and I am using python3.6 which is the current default python in FreeBSD. Have removed all traces of older python 2.7.

When I run this using 'service waagent start' logged in as root then it runs fine.

If, however, I reboot the machine, and waagent is started on boot, then I find this repeated in dmesg:

[co

[2019-10-29 20:25] narrieta commented on #1687
@minusbat - could you capture a verbose log? it may point us to where the problem is.

In /etc/waagent.conf, set this this to 'y':
[code]
The log will be in /var/log/waagent.log

Thanks

[2019-10-29 20:34] minusbat commented on #1687
OK, just doing that now....

[2019-10-29 21:13] narrieta commented on #1687
Thank you.

The stack trace from the core dump seems to indicate a problem while initializing python3.

Could you see if these 2 commands produce the same issue?
[code]
Also, could you see if you can execute other Python scripts using python3?

[2019-10-29 21:35] minusbat commented on #1687
Python3 works fine exverywhere - but bear in mind that the coredumps only happen when waagent is started at boot time. It doesn't coredump if I start it from a shell. So testing anything will involve changing what it does on boot and rebooting the machine. Am not sure how to chnage the interpreter from 'python' to 'python3'.

By the way, if I execute those commands directly at the command line the

[2019-10-29 21:37] minusbat commented on #1687
Could this be something to do with the environment in which rc.d scripts are executed at boot time compared to from the shell ? Is waagent needed for any part of the boot process - I could try changign the rc.d script to make it start much later in the process... after login for example ?

[2019-10-29 22:25] minusbat commented on #1687
'python and 'python3' are indentical by the way:

[code]

[2019-10-29 22:46] #1363 closed

[2019-10-29 22:46] #1331 closed

[2019-10-29 22:47] #1329 closed

[2019-10-29 22:47] #1202 closed

[2019-10-29 23:14] narrieta commented on #1687
Thanks.

The tasks performed by the Linux Agent are split in 2 processes, which in this case are executing the same script (/usr/local/sbin/waagent) with 2 different command line options: -daemon and -run-exthandlers.

The system starts the first process, and that process is running fine. But when this process tries to start the same script with -run-exthandlers then Python is crashing on initiali

[2019-10-30 00:06] minusbat commented on #1687
Its midnight ere, so am going to have to stop trying stuff, but I did try moving the startup to much later in the process, but with no effect. I always create new machines in Azure byu clonign old ones, so I don't need any of the provisioning features. If it is possible to simply run without waagent then that would be a solution for me - but I would quite like to have this fixed, as would you I su

[2019-10-30 08:53] yinghli commented on #1612
I got the same error message when Ubuntu 18.04 boot up in VNET that enable IPv6.
My workaround is access serial console from portal and run:
dhclient -4
dhclient -6

[2019-10-31 19:31] trstringer commented on #1647
Can you show this error message? The only one I see for ssh-keygen is a permission denied error message.

Can you clarify what you mean by "CentOS version is required"?

[2019-10-31 20:09] trstringer commented on #1559
You're correct, waagent will only decode the data and doesn't handle gzipped custom data. Looking at the Terraform documentation for [azurerm_virtual_machine](https://www.terraform.io/docs/providers/azurerm/r/virtual_machine.html) there is no mentioned of Terraform gzipping the custom_data first.

I also see [where Terraform base64 encodes the custom data](https://github.com/terraform-providers/te

[2019-11-01 00:57] vrdmr commented on #1026
Most of the goal_state variable name issue was resolved by #1392 and now the new ones as seen in the newer agents are seen in [get_ext_conf()](https://github.com/Azure/WALinuxAgent/blob/develop/azurelinuxagent/common/protocol/wire.py#L892)

Example messages from Telemetry:
[code]

[code]

[2019-11-01 05:16] vrdmr commented on #1571
Thanks for the logs @ishmaelen and apologies for the delay. Based on the logs and the extensions installed on the box, I couldn't find any particular reason.

Can you please change the config `Logs.Console=n` in _/etc/waagent.conf_ (or add, if it is not present) and restart the agent? and check the serial port and see if the issue gets resolved?

Restart waagent service, for most of linux distribu

[2019-11-01 05:37] vrdmr commented on #1561
When tried on multiple Ubuntu 18.04 VMs.

[code]
From RunCommand:
[code]

[2019-11-01 08:01] stawo commented on #1561
Please note that I was using the "Azure Data Science Virtual Machine for Linux", which is an Ubuntu 16.04 LTS, not 18.04.
Maybe that could be the reason of the mismatch.

[2019-11-04 20:20] vrdmr commented on #1561
Yes. There is a descrepency. From the Azure DS VM:

[code]

From RunCommand output:
[code]

When I go inside the box, I run the script that gets downloaded, and see the output:
[code]
But in the stdout of the run-command, it captures only a subsection of the output.
[code]

[2019-11-04 22:02] vrdmr commented on #1561
Looking at the environment variables for Daemon and ExtHandler. The ExtHandler launches the extension script and passed its env. variables to the child process.
[code]

[code]

[2019-11-04 23:31] narrieta commented on #1542
Had a conversation with @jithinjosepkl. The ask is not about performance data collection itself, but about all periodic tasks the agent performs. Closing this issue and working with jithin separately.

[2019-11-04 23:31] #1542 closed

[2019-11-05 00:35] vrdmr commented on #1561
More info for context:

[code]

[2019-11-05 00:47] vrdmr commented on #1561
My hypothesis is that the later two path variables (`/usr/games:/usr/local/games`) were added after the service (`/usr/bin/python3 -u /usr/sbin/waagent -daemon`) started. And the service never got it (becuase of our configuration of the unit file - eg: [Ubuntu](https://github.com/Azure/WALinuxAgent/blob/develop/init/ubuntu/walinuxagent.service) does not have environment key in the service section.

[2019-11-06 21:14] SlickNik commented on #1542
@narrieta @jithinjosepkl We are also running a performance sensitive workload on Azure, and are being affected by periodic tasks performed by the agent. Would love to understand if you have any recommendations, or guidance to minimize this impact. Thanks!

[2019-11-08 15:03] v-jashed opened #1705 "[BUG]AttributeError: 'tuple' object has no attribute 'read' = code=exited, status=1/FAILURE"
description of what the bug is:

I'm Able to install the waagent and start it normally but when ever I want to restart it using systemctl restart waagent it crash with the error below.

1. Section of the log where the error occurs.

[code]

**Distro and WALinuxAgent details :**
 - Distro and Version: SLES15
 - WALinuxAgent version : 2.2.36-38.2.noarch

[2019-11-12 23:10] vrdmr commented on #1705
On the box  - can you run `distro.linux_distribution(full_distribution_name=0)` and paste the output?
 Something like this should show up.
[code]

Also - output of python --version
[code]

[2019-11-14 15:03] v-jashed commented on #1705
![image](https://user-images.githubusercontent.com/57534388/68868633-79301000-06bd-11ea-9035-7451d53355ef.png)

Screenshots attached.

[2019-11-14 20:33] vrdmr commented on #1705
Environment issue - Looking at the distro modules source code - The customer is failing to do this call (example of the output)

[code]
Which underneath relies on `lsb_release -a`

I would recommend opening a case against the distro module's [github page.](https://github.com/nir0s/distro/. Looking at the [`distro` (link)](https://pypi.org/project/distro/)'s page,
it [points ](https://github.com/ni

[2019-11-15 20:43] jofrance opened #1711 "Unable to detect disk topology resource disk of 8TB of ram"
**Describe the bug**
A clear and concise description of what the bug is.

Uable to detect disk topology, this is given on VMs with more than 4TB on the resource drive, I'm testing on Standard_m416s_v2 that has an 8TB drive, I think that this is related that the waagent used normal partitioning instead of gpt.

Note: Please add some context which would help us understand the problem better
1. Secti

[2019-11-17 02:27] frostygoth commented on #1687
Expressing interest in this issue. If i can replicate the issue or discover any solution I'll update the thread.

[2019-11-18 09:02] stawo commented on #1561
@vrdmr , thanks a lot for the hard work!
Hope 18.04 doesn't show this behavior and that the Data Science Machine will be updated to that version.

[2019-11-18 13:06] minusbat commented on #1687
There has been some discussion of it over on the FreeBSD STABLE mailing list:

https://lists.freebsd.org/pipermail/freebsd-stable/2019-November/thread.html

Should eb easy to reprodcue, but tracking down has proved elusive for me! Let me know how you get on or if you have any ideas I could try. Just capturing the stderr from the subprocess would help.

[2019-11-18 18:31] trstringer commented on #1711
Is this a gen2 VM? If so, this was fixed in https://github.com/Azure/WALinuxAgent/pull/1654.

[2019-11-18 21:10] juhlee-microsoft opened #1712 "[BUG] Need to check if 'ifconfig' is available or replace with 'ip add show'"
**Describe the bug**
'ifconfig' got deprecated and soon we won't see it in many distro. I still see below error message in today's SLES 15. Can you check if waagent can substitutes 'ip address show' when no ifconfig command available in the system?

Error in waagent.log : 2019/11/18 19:58:00.744410 ERROR Daemon Command: [ifconfig -a], return code: [127], result: [/bin/sh: ifconfig: command not fou

[2019-11-19 21:56] trstringer commented on #1711
@jofrance was this a gen2 VM? If so, can we close out this issue? Otherwise let me know if you have any follow up questions.

[2019-11-19 22:07] jofrance commented on #1711
Hi, this is a Gen2 VM, I tested the agent on Gen1 with 8+TB resource drive and works perfectly. This can be closed, Thanks a lot

Regards,

/ceschi - Francisco Franceschi
Microsoft Azure Linux Support
Escalation Engineer
Working Hours:
Working Days:
Email:
Office Phone:
0800 – 1700 US Central Time
Monday to Friday
jose.franceschi@microsoft.com<mailto:jose.franceschi@microsoft.com>
+506 411 60004

[2019-11-19 22:10] #1711 closed

[2019-11-19 23:01] narrieta commented on #1712
@juhlee-microsoft - thanks for reporting this, could you attach the entire waagent.log?

[2019-11-20 04:16] juhlee-microsoft commented on #1712
[waagent.log](https://github.com/Azure/WALinuxAgent/files/3867286/waagent.log)

[2019-11-20 17:27] narrieta commented on #1712
@juhlee-microsoft Thanks. We'll follow up.

[2019-11-20 18:27] narrieta commented on #1712
@longlimsft - could you take a look at this issue? we are using ifconfig during RDMA provisioning.

[2019-11-21 05:08] johanburati opened #1717 "[BUG] 'Remove extension handler directory' loop"
## ISSUE
OMS extension is caught in a loop.
Following messages keeps repeating in *CommandExecution.log* and *waagent.log*:

[code]

## VERSION
[code]

## ERROR

[code]

[2019-11-21 05:13] johanburati commented on #1717
I have reported the error in https://github.com/Azure/azure-linux-extensions/issues/942 as well.

I have already submitted a [fix](https://github.com/Azure/azure-linux-extensions/pull/943), would appreciate if this could be merged ASAP.

[2019-11-21 16:43] narrieta commented on #1717
@johanburati - could you attach the full waagent.log? thanks

[2019-11-21 22:50] vrdmr commented on #1705
Any updates @v-jashed?

[2019-11-21 23:31] v-jashed commented on #1705
Having issues with python not even using pip we can uninstall the distro module so that we can try to uninstall it.
![image](https://user-images.githubusercontent.com/57534388/69385377-c5162280-0c84-11ea-8efb-bbd07100da5a.png)

[2019-11-22 07:47] vrdmr commented on #1705
It looks like an issue with the environment then. Nothing we can do to help you here. Closing the issue. If the python issues are resolved and the issue still persists, please reopen the issue or create a new one.

Thanks.

[2019-11-22 07:47] #1705 closed

[2019-11-25 03:05] johanburati opened #1719 "Issue with multiple extensions on RHEL 8.0"
There are issues with multiple extension on **RHEL 8.0** *(RedHat:RHEL:8:latest)*

## ISSUE
**waagent** uses **/usr/libexec/platform-python** from the **platform-python** package, all the python extensions use the unversioned python command which is not installed on the image:

[code]

Because of this the extensions fail to install:
[code]

## SOLUTION

I recommend you install **python 2.7** using

[2019-11-25 05:07] johanburati commented on #1717
@narrieta  this issue can be close, it was caused by a messed up *python3* install, the install script was detected *python2* and was using the *os.chmod* command for *python2* instead of the one for *python3*, removing *python3* fixed the issue.

[2019-11-25 17:54] #1717 closed

[2019-11-25 19:08] larohra commented on #1719
Thanks for reporting this @johanburati. We are aware about this issue. The solution that you suggested is not a viable option from the agent end as we can't install python if the platform doesnt contain it, it should be the customer who makes this call.

We did have a sync with the redhat folks and they agreed to add a new python3.6 path just for the agent/extensions in redhat 8.1. The extensions

[2019-11-26 09:48] yuxisun1217 opened #1720 "[BUG][RHEL8.2]WALA provision failed if nics>1 and primary NIC is not eth0"
Reference BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1776711

Version-Release number of selected component (if applicable):
WALinuxAgent-2.2.38-1.el8.noarch

RHEL Version:
RHEL8.2

How reproducible:
100%

Steps to Reproduce:
1. Create a VM in Azure with 2 NICs
2. Check /var/log/waagent.log

Actual results:
Provision failed.

/var/log/waagent.log:
2019/11/25 15:42:40.079388 INFO Daemon Examine

[2019-11-27 22:30] pgombar commented on #1674
@apollotonkosmo do you mind sharing the /var/log/waagent.log? If it's too big, just the relevant excerpt is enough. Thanks!

[2019-11-29 07:27] yuxisun1217 commented on #1719
Hi @johanburati ,
Thank you for opening this issue! Yes we have added python3 as WALA package dependency in RHEL-8.1. And we have document this as a known issue in RHEL-8.0 release note and advice customer to install python2 if want to use extensions in Azure.
RHEL-8.0 release note: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/8.0_release_notes/rhel-8_0_0_release#v

[2019-12-02 17:58] #1719 closed

[2019-12-03 00:57] isdampe commented on #1092
We've had persistently high memory usage on our production Debian server

* Debian 9 (stretch)
* Kernel 4.9.0-7-amd64
* WALinuxAgent-2.2.44-py.2.7

Consistently has been using around 17% of memory for at least 450 days.

[2019-12-03 02:35] vrdmr commented on #1092
@isdampe Could you please attach `/var/log/waagent.log`? And also the container id of your VM? (You can fetch the containerId from the `/var/lib/waagent/GoalState.X.xml`)

[2019-12-03 15:13] isdampe commented on #1092
__/var/log/waagent.log__:

[code]
There's no containerId key in `GoalState.X.xml`, is `InstanceId` the same thing?

[2019-12-06 03:35] johanburati opened #1730 "/var/lib/waagent keeps filling up with zip files"
**/var/lib/waagent** keeps filling up with zip files.

Users reported issues with VM not booting up because of **/var** being full (https://github.com/microsoft/OMS-Agent-for-Linux/issues/932)
This issue has already been reported before (https://github.com/Azure/WALinuxAgent/issues/1020 ) and is still occuring with the latest version.

Is there any reason why **waagent** keeps all those old zip fi

[2019-12-06 06:01] vrdmr commented on #1730
Hi @johanburati, Thanks for reporting.

There were changes made in #1431 which prevented the redownload of the zip packages, especially for a failed update scenario. This surfaced a new issue that was not deleting already downloaded zip packages - which is what you are seeing.

#1642 solves the issue for newer agents and [newer format](https://github.com/Azure/WALinuxAgent/pull/1642/files#diff-f8c

[2019-12-07 20:52] lwhsu commented on #1687
With help from @delphij, we found the error log via ktrace:

https://gist.github.com/lwhsu/c020efbd6388fe1636b5ca31baaa1eee

and led to:

https://bugs.python.org/issue32849

But this fix is only in Python >= 3.7.  I tried to backport the patch to 3.6 and waagent can start at the boot without dumping core.

I will work on backporting this to FreeBSD's lang/python36 port.

[2019-12-09 21:04] vrdmr commented on #1092
You should see something like
`<ContainerId>8895da0d-xxxx-xxxx-xxxx-4e001d82c638</ContainerId>`

That would help.

[2019-12-11 09:04] yuxisun1217 opened #1732 "[BUG][2.2.45] WARNING ExtHandler Failed to process legacy cgroups"
**Describe the bug: A clear and concise description of what the bug is.**
See such log when restart waagent service in RHEL-8:
WARNING ExtHandler Failed to process legacy cgroups. Collection of resource usage data will be disabled. Error: The daemon's PID (1397) was already added to the legacy cgroup; this invalidates resource usage data.

Note: Please add some context which would help us understa

[2019-12-11 18:16] narrieta commented on #1732
@yuxisun1217 - Thanks for reporting this. It is safe to ignore this warning. It is a consequence of using 2.2.32 in combination with 2.2.45. This warning is currently for informational purposes only.

[2019-12-11 18:16] #1732 closed

[2019-12-12 09:25] sseiichi opened #1733 "[BUG] waagent swapoffs my swapfile at boot."
I need additional swapfile, for example, /swapfile, so I added the following line to /etc/fstab.
[code]

This works OK.

However, when I set the following option in /etc/waagent.conf, my /swapfile is not mounted at boot.
[code]

Does waagent swapoff all the swapfiles at boot? I want to use both my swapfile and waagent's swapfile.

 - Distro and Version: Gentoo Linux
 - WALinuxAgent version:
WALinu

[2019-12-13 11:45] hmeiland opened #1736 "[BUG] ResourceDisk.Filesystem=xfs not applied on CentOS7"
changes in /etc/waagent.conf
`# File system on the resource disk`
`# Typically ext3 or ext4. FreeBSD images should use 'ufs2' here.`
`ResourceDisk.Filesystem=xfs`

`# Mount point for the resource disk`
`ResourceDisk.MountPoint=/local1`

after reboot, logging says:
[code]

From the logs:
[code]

but mount is still:
`/dev/sdb1 on /local1 type ext4 (rw,relatime,data=ordered)`

[2019-12-13 17:36] sbonds commented on #1730
Does this fix clean up only WALinuxAgent-* or will it cover sub-agents like Microsoft.Azure.Diagnostics* also?

[2019-12-13 21:25] trstringer commented on #1736
This seems like a symptom of another bug that was fixed in #1706. Adding @narrieta to discuss release schedule.

[2019-12-13 21:32] narrieta commented on #1736
We are targeting a new release starting next week. Given the the deployment guidelines for the peak December season, the deployment will not be completed to all regions until January, though.

[2019-12-13 21:37] trstringer commented on #1736
Thanks for the info, @narrieta!

@hmeiland, this is also provisioning work so it's up to the package maintainer for CentOS to deliver the new release to the repo. With that being said, it might be a worthwhile exercise to build the rpm from trunk and test it to make sure this behavior goes away.

[2019-12-16 06:19] johanburati commented on #1730
https://github.com/Azure/WALinuxAgent/pull/1642 cleans up the **extension** zip files that have the *new format*.

New format: `Microsoft.EnterpriseCloud.Monitoring.OmsAgentForLinux__1.12.15.zip`
Old format: `Microsoft.EnterpriseCloud.Monitoring__OmsAgentForLinux__1.11.9.zip`

Please refer to the listing above you will see that you have multiple files with the *old format* for one extension, pleas

[2019-12-17 09:46] amkarmak commented on #1473
I am also getting the same error..

root@ubuntu19:~# waagent --version
/usr/sbin/waagent:27: DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses
  import imp
WALinuxAgent-2.2.40 running on ubuntu 19.04
Python: 3.7.3
Goal state agent: 2.2.45
root@ubuntu19:~#

Anyone got any fix for this issue?

[2019-12-17 16:15] narrieta commented on #1473
@amkarmak - This should just be a warning, is the agent somehow failing? Thanks

[2019-12-18 02:33] amkarmak commented on #1473
Hi Norberto, no the agent is not failing. But this messages gets popped up.

[2019-12-18 03:37] amkarmak commented on #1473
Hi Johan, thank you for the response. Sure, I will do this and update.

[2019-12-19 13:52] trstringer commented on #1736
@hmeiland I'm going to close this issue for now, but please feel free to reopen if this does not fix your issue. Thanks!

[2019-12-19 13:52] #1736 closed

[2019-12-19 18:18] trstringer commented on #1733
Thanks for bringing this to our attention! You are correct, it looks like `swapoff -a` is called if there is an existing swapfile of different size. I've submitted a fix for this in #1739.

[2019-12-19 22:38] sseiichi commented on #1733
Thanks a lot for your investigation and fixing.

[2019-12-27 20:39] trstringer commented on #1733
Thank *you* for bringing this to our attention! This has been fixed now in #1739.

[2019-12-27 20:39] #1733 closed

[2020-01-03 20:45] trstringer commented on #1359
@robinku07 I'm closing this issue, as it appears as though it has gone in a few different directions. If you are still experiencing this problem, please feel free to open up a separate issue focused on your particular scenario and we can go from there. Thanks!

[2020-01-03 20:45] #1359 closed

[2020-01-03 20:48] trstringer commented on #1379
@RandolphYao this is a fairly old request. If you still have a need for this work, please fee free to reopen this issue.

[2020-01-03 20:48] #1379 closed

[2020-01-03 22:09] trstringer commented on #1413
I'm not sure that this is even possible at the moment. My attempts are reproducing the issue show that it has to be all lowercase:

Message: The template deployment '...' is not valid according to the validation procedure. The tracking id is '...'. See inner errors for details.
Exception Details:
        Error Code: InvalidDomainNameLabel
        Message: The domain name label ... is invalid. It m

[2020-01-03 22:09] #1413 closed

[2020-01-07 23:47] pgombar commented on #1673
seems related to #1673

[2020-01-08 20:14] juhlee-microsoft commented on #1712
waagent 2.2.36 still shows below error and failed to initialize ib0 device interface. This blocks the SLES 15 RDMA tests.

2020/01/08 19:47:49.736059 INFO Daemon RDMA: waiting for any Infiniband device at directory=/sys/class/infiniband timeout=120s
2020/01/08 19:47:49.736712 INFO Daemon RDMA: device found in /sys/class/infiniband
2020/01/08 19:47:49.737348 INFO Daemon Wait for ib0 become availabl

[2020-01-09 19:06] juhlee-microsoft opened #1747 "[BUG] RHEL 8 "service waagent restart" does not show new context waagent.log"
**Describe the bug: A clear and concise description of what the bug is.**
I assume waagent service restarting will generate the full of waagent log contexts and display in /var/log/waagent.log file. But I don't see any single line during a few times of waagent service restarting.

Note: Please add some context which would help us understand the problem better
1. %tail -f /var/log/waagent.log
2. %s

[2020-01-09 19:58] juhlee-microsoft opened #1748 "[BUG] Azure VM, HC44rs does not have ND but waagent looks for nd kernel module"
**Describe the bug: Tried to load hv_network_direct kernel module which is not available in this VM size.**

Note: Please add some context which would help us understand the problem better
1. waagent log shows this line in the VM "2020/01/09 04:57:02.931723 ERROR Daemon RDMA: failed to load module hv_network_direct". But HC44rs does not have ND module, it's IB over SR-IOV.
2. Serial console output

[2020-01-09 19:59] juhlee-microsoft commented on #1748
[waagent.log](https://github.com/Azure/WALinuxAgent/files/4042243/waagent.log)

[2020-01-09 21:57] juhlee-microsoft commented on #1748
@longlimsft said this is something Redhat can fix.

[2020-01-09 23:26] longlimsft commented on #1712
@juhlee-microsoft , can you install ifconfig on sles15 to see if it fixes your problem:

apt install net-tools-deprecated

[2020-01-10 00:13] juhlee-microsoft commented on #1712
https://bugzilla.suse.com/show_bug.cgi?id=1160636

[2020-01-10 09:12] buec011 opened #1750 "Use proper way to disable 75-persistent-net-generator.rules"
The default for an SLES/RHEL server is to generate a file which hardcodes MAC to interface names.
This is bad if you want to use snapshots which get new MAC but config binds to old interface name.
To avoid this, the udev rules 75-persistent-net-generator.rules and 80-net-name-slot.rules needs to be disabled.

The WALinuxAgent does this already by deleting those files.
(see ./azurelinuxagent/common

[2020-01-11 00:09] ericwj opened #1753 "[BUG] NameError: name `distro` is not defined on Alpine 3.11"
I have a hard time figuring out how to setup walinuxagent on Alpine 3.11.

I am trying to set it up from sources. Maybe there is a simpler way of getting the agent on Alpine? How?

I am running
`python3 setup.py install --register-service`

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: Alpine 3.11
 - WALinuxAgent version tried both `git clo

[2020-01-13 14:42] lemsi commented on #1544
Hello, i have the same issue when using the chef extension to bootstrap  a LinuxChefClient . Any update?

[2020-01-14 23:34] narrieta commented on #1750
@trstringer Thomas, seems related to provisioning, could you take an initial look? thanks

[2020-01-14 23:35] narrieta commented on #1748
@longlimsft - could you take a look at this RDMA issue? thanks

[2020-01-14 23:37] juhlee-microsoft commented on #1748
Found the RHEL 8.x has older version 2.2.32.2. After upgrading to 2.2.45, the issue resolved. Request to Redhat to approve the waagent version bump for RHEL 8 and wait for new image.

[2020-01-14 23:38] narrieta commented on #1747
is the service actually restarting? what is the status of the service? thanks

[2020-01-15 00:00] juhlee-microsoft commented on #1747
It was running. However, we are expecting newer version of waagent soon, so I think we can close this bug.  I saw 2.2.45 logging behavior successfully.

[2020-01-15 00:01] #1748 closed

[2020-01-15 00:26] #1747 closed

[2020-01-15 02:42] radderz commented on #1565
I am having what looks like a similar issue with a service fabric cluster which uses scale sets, the work of the command finishes correctly then the updating state stays there for a long time then says failed. My scaleset has 5 nodes.

I am creating the script from the Azure Portal, with the command being :

`apt update && apt -y install xvfb libssl-dev libx11-dev libx11-xcb-dev libxcb-icccm4-dev

[2020-01-15 02:44] radderz commented on #1565
I forgot to mention that the service fabric cluster is running the ubuntu 16.04 image.

[2020-01-17 02:49] lyan-git opened #1759 "[BUG] Bug Title"
**/var/lib/waagent/history taking up disk space.**

1. Our customer experienced /var/lib/waagent/history taking up disk space up to 100%.
2. The above directory 1818K of xml files named with timestamp
3. The system was up for 9 days, not sure what caused it

**Distro and WALinuxAgent details (please complete the following information):**
 - Ubuntu 1804
 - waagent -version
WALinuxAgent-2.2.32.2 run

[2020-01-20 17:35] lwhsu commented on #1687
This should be fixed and the default Python version of FreeBSD has been updated to 3.7.

[2020-01-20 19:01] minusbat commented on #1687
I can verify that its fixed for me, and works with the latest default python. Thank you -  I never would have found this on my own given the nature of the bug!

[2020-01-21 02:15] #1562 closed

[2020-01-21 02:18] vrdmr commented on #1759
@lyan-git could you please share the /var/log/waagent.log? Also, could you share the output of the command: `ls -l /var/lib/waagent/history`? We normally limit the history states to [50 archives](https://github.com/Azure/WALinuxAgent/blob/ce58412bc50cee1d066bd01f0e52ad89d75f1a0d/azurelinuxagent/common/utils/archive.py#L39) but need to confirm it in your case if that logic is working or not.

[2020-01-21 16:28] #1687 closed

[2020-01-21 20:39] vrdmr commented on #1753
Hi @ericwj, It looks like a platform issue where `distro` module is not available.

For installing pip on alpine, I found this from [here](https://stackoverflow.com/a/44634480). If it works, it'll help you get pip installed and resolve the issue with `distro`.
[code]

We don't support platform scenarios, which is why I am closing the issue. But let me know if you still are facing issues.

[2020-01-21 20:39] #1753 closed

[2020-01-21 20:49] vrdmr commented on #1026
Looks like #1691 seems to solve the issue. No new occurrence in 2.2.46 version. Closing the issue. If it returns, will reopen the issue.

[2020-01-21 20:49] #1026 closed

[2020-01-21 21:06] vrdmr commented on #1500
@trstringer - Would this be something that would be done only one time during Provisioning, or by the EnvironmentHandler thread regularly?

[2020-01-21 21:07] vrdmr commented on #1674
ping @apollotonkosmo.

[2020-01-22 14:38] SystemsUK opened #1764 "Deprovision RHEL 7.7 using 2.2.45 loops with ERROR Daemon /proc/net/route contains no routes"
This issue appears to be fixed in bug #1638 but only for FreeBSD, while deprovisioning a new RHEL 7.7 with agent 2.2.44 and 2.245 we get a similar issue.

We assign a static IP address which works fine and we can connect externally to update etc. Once complete we remove the static IP address and set the VM to DHCP as per instructions. We also restarted eth0 at this point. Then follow the rest of t

[2020-01-22 20:04] phillbo commented on #1544
same issue... AzureML on a GPU Server
2020/01/22 18:55:16.531836 INFO ExtHandler Wire server endpoint:168.63.129.16
2020/01/22 18:55:16.555143 INFO ExtHandler Route table: [{"Iface": "eth0", "Destination": "0.0.0.0", "Gateway": "10.0.0.1", "Mask": "0.0.0.0", "Flags": "0x0003","Metric": "0"},{"Iface": "eth0", "Destination": "10.0.0.0", "Gateway": "0.0.0.0", "Mask": "255.255.255.0", "Flags": "0x0001

[2020-01-22 20:11] ericwj commented on #1753
Yes this worked `apk add py3-setuptools` and the repo now builds. I have left this alone previously; although it might be nice to run Alpine on Azure and get the crazy disk to stop generating 6 IOPS the whole month just idling, the other problem is that waagent and the processes related to it take a whopping lot of memory on a 512MB VM. Any chance that might perhaps radically change in the future?

[2020-01-22 20:29] ericwj commented on #1753
Just checking my ash log, I also did this after googling a lot and coming accross instructions to this end - not sure what exactly of it was necessary:
[code]

[2020-01-22 20:45] vrdmr commented on #1753
The WALinuxAgent uses around 40-60 MB on a normal machine (with the Daemon using 15-20MB and extension-handler using the rest). Could you please let me know how much memory was the waagent using on your small box? Also, if possible, can you paste the process tree of waagent that you see and the memory usage by individual processes in that tree?

[2020-01-23 06:43] johanburati commented on #1719
@larohra a lot of people are having this issue, you might want to leave this open so it is easier for people to find

[2020-01-23 11:21] ericwj commented on #1753
That machine is Ubuntu 18.04 on a B1ls VM. My mistake is that I wanted to reboot before running top and tree and I have been busy intermittently trying to connect with ssh for a good two hours before deciding to resize the machine just to do this.

The boot diagnostics at least show a number of times where processes are killed for being oom and it is seriously just a VM running a simple ASP.NET Co

[2020-01-23 11:37] ericwj commented on #1753
Numbers after booting with 2GB memory.

|USED|Command|
|--:|:--|
|27M|phython3|
|20M|python3|
|18M|python2|
|18M|python|
|20M|NetworkWatcherA|
|4M|NetworkWatcherA|
|51M|omsagent|
|34M|omsagent-LAD|
|12M|omiagent|
|9M|omiagent|
|4M|omiengine|
|3M|omiserver|

So that is about 80MB for whomever is using Python, 24MB for Network Watcher Agent and 113MB for OMI.

If it is 40-60MB for waagent and I can

[2020-01-25 21:38] macdice opened #1765 "[SUGGESTION] Consider renaming to "AzureGuestAgent" or similar"
Hi,

On a Linux system, it's a little strange to have a program called "Linux agent"; from the point of view of a Linux user, it's an Azure agent.  On a FreeBSD or other type of open source Unix-family guest operating system, it doesn't make any sense whatsoever, and even the Microsoft FreeBSD-on-Azure documentation[1] refers to it as "Azure VM Guest Agent" in the text.  Please consider renaming i

[2020-01-28 19:13] mries opened #1766 "[Bug] cgroup default setting changed from "yes" to "n" in waagent.conf"
waagent v2.2.32 cgroup had a default setting of "y" (on).   At some point that was updated to "n" (off) in waagent.conf

I suspect this is that case across all distributions

WALinuxAgent-2.2.40 running on ubuntu 16.04
Python: 3.5.2
Goal state agent: 2.2.45

let me know if you need any additional information.

[2020-01-31 19:21] vrdmr commented on #1753
To remove `NetworkWatcherAgent` and `omiagent`, I would recommend removing the OMS Extension. They could have been enabled at a subscription level or when some config was turned on, in the VM. Once the OMSExtension gets removed - it should uninstall all the installed plugins.

[2020-01-31 22:06] ericwj commented on #1753
Yes thanks, I had already removed Network Watcher, with this the usage after rebooting is reduced to some 70MB python2/3 and 17MB omiagent/engine/server and about 250ish MB USED accross everything not charged directly to app-related processes just quickly glancing over `top`.

Not sure why these three omi processes remain but its a lot better. The extensions that are still installed are `AADLoginF

[2020-02-02 09:41] yuxisun1217 opened #1772 "[BUG] cloud-init service status checking log is confusing"
**Describe the bug: A clear and concise description of what the bug is.**
WALA reports these 2 logs if cloud-init-local.service is disabled, which may not work as expected:
INFO Daemon Error getting cloud-init enabled status from systemctl: Command '['systemctl', 'is-enabled', 'cloud-init-local.service']' returned non-zero exit status 1.
INFO Daemon Error getting cloud-init enabled status from ser

[2020-02-06 12:59] ericwj commented on #1753
OMS is being installed every time I reboot. Spent a few days thinking it'd be just the small processes but I just can't be sure it isn't spawning omsagent several times again for a total of about what I put in the table above.

[2020-02-06 19:12] larohra commented on #1719
@johanburati I'm not sure about the general norm for such situations but I don't want to reopen this issue mainly because there's no action plan from the agent end. This is OS specific problem which has already been fixed in the later RHEL version (RHEL 8.1).

And even if the issue is closed a simple google search would lead them to this link so finding it shouldn't be too much of a problem.

[2020-02-06 22:40] pgombar commented on #1766
Hi @mries, the flag `CGroups.EnforceLimits` is a no-op since this feature hasn't been launched yet. So, the change in the default setting has no impact.

[2020-02-06 22:40] #1766 closed

[2020-02-06 22:44] trstringer commented on #1772
Thanks for bringing this to our attention!

This is by design.

So it's the error message that you don't like? Just to be clear. Do you think something more like "Cloud-init is either not found or not enabled"?

Thanks again!

[2020-02-07 10:21] yuxisun1217 commented on #1772
Hi @trstringer ,

The "Error getting cloud-init enabled status" sounds like running command failed. It should not include "run command successful and return disabled" situation.

In the code there's a line:
```unit_is_enabled = systemctl_output == 'enabled'```
But it seems that only when "systemctl is-enabled cloud-init-local.service" outputs "enabled" the exit code is 0(please correct me if I'm w

[2020-02-07 19:12] trstringer commented on #1772
I think the answer to that is yes and no. Looking at the man pages for `systemctl` you can see that the `is-enabled` command technically would return zero for enabled units, but there are a handful of statuses which aren't directly enabled that would still return zero (`static`, `indirect`, `transient`, and `generated`). I think in this instance it is ok to be explicit on checking the outputted st

[2020-02-10 02:10] yuxisun1217 commented on #1772
@trstringer Thank you so much for you explanation! Now I understand that. The only question left is that IMO the "Error getting cloud-init enabled status" is confusing. Please help to check if need to make it clearer. It's just a suggestion. Thanks again!

[2020-02-10 20:13] StephenLittBelch opened #1775 "EnableSwapEncryption Support"
The _ResourceDisk.EnableSwapEncryption_ option in README.md suggests support to be generally available, however #1345 notes this is only functional for FreeBSD. Would similar support be added for other distributions over time, or could a note be added the option is FreeBSD-only?

[2020-02-11 14:41] LiliDeng opened #1776 "Hit error message in CoreOS, not handler properly when get process ID."
**Describe the bug: A clear and concise description of what the bug is.**
1. Provision Core Stable OS on Azure
2. Check /var/log/waagent.log
3. Found below error
[code]

**Distro and WALinuxAgent details (please complete the following information):**
 - Core Stable OS - gallery image, kernel version 4.19.95-coreos
 - WALinuxAgent version
[code]

**Log file attached**
[waagent.log](https://github.c

[2020-02-12 05:32] LiliDeng opened #1779 "Hit meaningless error log in debian 9"
**Steps**
1. Provision VM against credativ Debian 9-backports latest
2. cat /var/log/waagent.log | grep -i error
[code]
**Distro and WALinuxAgent details (please complete the following information):**
 - Debian 9-backports, kernel version 4.19.0-0.bpo.6-cloud-amd64
 - WALinuxAgent version
[code]

**Additional context**
```AutoUpdate.Enabled=n```

**Log file attached**
[waagent.log](https://github.

[2020-02-12 07:18] johanburati commented on #1719
@larohra most people who have an issue wiht *WALinuxAgent* come to this repository page and search for open issues since the default filter on *Github* is "`is:issue is:open`", if they don't find it they just open another issue, since there is already a lot of issues open for the same problem I think that make sense to leave at least this one open.

[2020-02-12 21:53] narrieta commented on #1765
We can try, but what is it that we should rename? the service? thanks

[2020-02-12 21:53] narrieta commented on #1775
Thanks, we will update the documentation.

[2020-02-12 22:12] macdice commented on #1765
Thanks for your reply.  I think it'd be nice to rename at least the scripts/directories/egg, and eventually the repository.  For example, here is what I see on a FreeBSD system that I installed on Azure with the Microsoft FreeBSD 12 image:

$ uname -a
FreeBSD freebsd-D16s 12.1-RELEASE-p2 FreeBSD 12.1-RELEASE-p2 GENERIC  amd64
$ ps aux | grep Linux
root   1543    0.0  0.0 42872 22924  -  S    06:03

[2020-02-12 22:47] narrieta commented on #1765
I see. Sorry, those legacy names are embedded on way too many places (including documentation) to replace them. I could tweak the description to instead say "...installed on Linux/Unix disk images...".

"Azure VM Guest Agent" is used interchangeably for the Windows and Linux/Unix agent in different parts of the documentation.

[2020-02-12 23:05] macdice commented on #1765
Understood.  Slipping "Linux/Unix" into a few places would be a good start, anyway, if that's something you can do.  Thanks!

[2020-02-13 00:29] narrieta commented on #1775
Fixed by #1782

[2020-02-13 00:29] #1775 closed

[2020-02-18 07:58] colemickens opened #1783 "Why is the SSH Host Key reported at all?"
From what I can tell, the VM's ssh host public key is not retrievable via the Azure API. As such, what's the point of reporting it to the wire server?

[2020-02-18 09:23] soumyapattnaik opened #1784 ""Malformed status file No JSON object could be decoded" returned during backup"
Agent is returning "Malformed status file No JSON object could be decoded" by reading some intermediate status from the backup extension. This could be a case of race case condition, when agent is reading status exactly at same time as when extension is writing to status file.

[2020-02-18 09:26] soumyapattnaik commented on #1784
https://github.com/Azure/WALinuxAgent/blob/ce8e736cccea6171cab42879bf3d054529d8220b/azurelinuxagent/ga/exthandlers.py#L1107

[2020-02-20 21:34] narrieta commented on #1776
Thanks for reporting this issue. We'll try to take a look at this, but since CoreOS is not an endorsed distro for now we may take a while.

[2020-02-20 23:49] #1779 closed

[2020-02-21 14:54] yuxisun1217 opened #1787 "Temporary disk partition is not formatted before mounting if GPT"
**Describe the bug: A clear and concise description of what the bug is.**
When provision a Standard_L32s VM(with temporary disk gpt partition), wala report warning logs at the first mount:
[code]

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: RHEL-7.8/8.2
 - WALinuxAgent version: WALinuxAgent-2.2.46

**Additional context**
If not gpt, wala

[2020-02-21 15:37] yuxisun1217 opened #1788 "OS.EnableFIPS=y raise errors in RHEL-8.2"
**Describe the bug: A clear and concise description of what the bug is.**
If enable FIPS in RHEL-8.2 and set OS.EnableFIPS=y in waagent.conf, waagent raises many error logs and cannot work well.
If set OS.EnableFIPS=n, seems it can work well even if fips is enabled in system.
I noticed this warning in readme:
_If no FIPS-compliant certificates are installed, then enabling this option will cause al

[2020-02-21 21:54] colemickens commented on #1783
Is this marked "needs more information" for me? What other information is needed? The agent reports the SSH host key when it reports provisioning status, yet, this information doesn't seem to be exposed anywhere.

I don't want to be this guy, but is Azure tracking SSH host keys behind the scenes for some reason, maybe? It would potentially allow a third party, with Azure's help, to correlate a pas

[2020-02-24 16:18] jak119 opened #1789 "[BUG] RPM does not enable service on RHEL 7"
The RPM version 2.2.38-1.el7 from the rhel-7-server-extras-rpms repo does not enable service in systemctl on RHEL 7, providing an inconsistent experience across RHEL 6 where it does and RHEL 7 where it does not.

Steps to reproduce from an OS without the agent:
1. `yum install walinuxagent -y`
2. `systemctl status waagent` and observe that it's not enabled

On RHEL 6 after the install and `chkconf

[2020-02-24 17:20] soumyapattnaik opened #1790 "waagent version returns byte array for few customers"
In many cases it has been observed that agent version returned is a byte array. This is noticed across multiple distros

[2020-02-26 22:21] jlongo62 opened #1792 "[BUG] Problem using Deprovision with Extension"
I am attempting to deprovision a VM using the **CustomScript** extension and **waagent**.
When running the extension the Extension goes into "**Transioning**" state and is stuck there.

From watching the machine, it looks like _Deprovision_ works -- too well.
After the command processes, all accounts are gone and the VM will not allow any actions.., like examining logs.

I think what may be needed

[2020-02-27 21:51] pgombar commented on #1789
@jak119 can you please share the agent log? It should be under `/var/log/waagent.log`. Thanks.

[2020-02-27 21:52] pgombar commented on #1790
@soumyapattnaik can you please clarify? Where is the agent version being returned?

[2020-02-27 21:59] pgombar commented on #1792
@jlongo62 running the deprovision command within Custom Script (or any extension, for that matter) will not work. There is a dependency between the agent and the extensions where the agent waits on the extensions to finish.

You would need to run the deprovision command from inside the VM. If you need to do this across multiple VMs, you might be able to set up a cron job that does this for you, us

[2020-02-27 21:59] pgombar commented on #1788
We are currently investigating this. Thanks for reporting.

[2020-02-28 02:51] jlongo62 commented on #1792
Not really...  we should be able to deprovision using the built in Azure features such as CustomScript extension or similar.

[2020-02-28 17:11] soumyapattnaik commented on #1790
In our backup flow we run /usr/sbin/waagent --version to get the agent version. We do this, so that if the agent is old we can show warning on customer blade to update the waagent. while running this command we see this incorrect agent version.

[2020-03-03 07:22] yuxisun1217 commented on #1789
Hi @jak119 ,
I think it is by design. Some other package - such as cloud-init - the service is also disabled after installed, and have to be enabled manually. And I think this behavior is defined in the rpm spec file.

[2020-03-05 12:17] wild-hamster-p opened #1798 "[BUG] Extension Microsoft.Azure.Extensions.CustomScript does not execute script"
I use Microsoft.Azure.Extensions.CustomScript to execute scripts on virtual machine in Azure. REST API request is used. The Azure-AsyncOperation header value is used to obtain the status of an asynchronous operation. Sometimes the status is always “InProgress”, script is not executed. /var/log/waagent.log contains:
2020-02-24T23:53:03.637086Z INFO [Microsoft.Azure.Extensions.CustomScript-2.1.3] Up

[2020-03-05 20:19] jak119 commented on #1789
@yuxisun1217 Understood that it's by design, it was just very surprising to us that enabling the service is inconsistent between RHEL 6 and RHEL 7 which is why we'd been led to think it was a bug.

@pgombar I don't have a log handy but when we looked at it with Azure support we didn't see any agent issues, our concern was more with the RPM install / spec like @yuxisun1217 hinted to. Do you have ac

[2020-03-09 12:53] axelgMS opened #1801 "[BUG / Improvement] WALinuxAgent to auto-restart when facing WireServer Exception"
**Describe the bug: A clear and concise description of what the bug is.**

Note: Please add some context which would help us understand the problem better
1. Section of the log where the error occurs.
2. Serial console output
3. Steps to reproduce the behavior.

When there's a WireServer issue on the host, this will prevent WALinuxAgent to get its GoalState or report status correctly:

*2020/01/19

[2020-03-10 03:01] agjohnson commented on #1612
To narrow this report down even further, the Ubuntu package `ifupdown` is the underlying culprit. I get the same console errors from `cloud-init` above using the packer configuration below.

It's not clear to me if this is a bug with waagent, cloud-init, or should be resolved in ifupdown. The cause seems to be that `ifupdown` installs some sysv/systemd files that conflict with whatever Azure is ex

[2020-03-10 05:10] taoyama opened #1804 "[BUG] logrotate config waagent-extn.logrotate conflict with azure-lad"
`/etc/logrotate.d/waagent-extn.logrotate` which is installed by WALinuxAgent 2.2.46 conflict with `/etc/logrotate.d/azure-lad` which is installed by lad-mdsd-1.5.109-LADmaster.101.x86_64.

**Distro and WALinuxAgent details (please complete the following information):**
 - Any Distro with 2.2.46

**Additional context**
The rotate file was merged by #1740

**Log file attached**

[code]

[2020-03-10 07:03] taoyama commented on #1804
https://github.com/Azure/azure-linux-extensions/issues/1045

[2020-03-10 15:18] narrieta commented on #1801
discussed offline; we'll try to capture more logs if this incident reoccurs.

[2020-03-10 15:18] #1801 closed

[2020-03-10 15:21] narrieta commented on #1798
@wild-hamster-p - could you attache the full log? thanks

[2020-03-11 16:28] agjohnson commented on #1612
Update: I hit an identical bug on AWS yesterday as well, so seems like this is a conflict between `ifupdown` package and `cloud-init`? AWS behaves differently than Azure on boot, and the AWS instance was able to start, but Packer timed out consistently waiting for an SSH connection afterwards. I built an image that had `ifupdown` in it first, then tried to use that image as a base in another Packe

[2020-03-16 01:39] shashwatchandra opened #1808 "WALinuxAgent to support Customer DNS infrastructure in Azure"
**Exit Criteria/LinkedIn Goal State:**
The WALinuxAgent supports a third party domain name when managing the VM hostname

**Customer Scenario:**
Customer is using its own DNS infrastructure, therefore it own domain name in Azure as Azure DNS (Private) still requires some important DNS features. The hostname of the Linux VM which is a FQDN, therefore has the domain name used by Customer DNS. The WA

[2020-03-16 04:03] watermarking opened #1809 "[Issue] OS.EnableFirewall in waagent.conf"
OS.EnableFirewall is enabled by default during boot at all VMs including AKS services.
Whenever the AKS container scales out, the iptables/nf_conntrack is loaded by default on new container in its scale set.
No good way to disable this firewall feature in AKS.
Could you consider to disable it ?

[2020-03-17 02:22] johnsonshi opened #1812 "ovf-env.xml should be in an agent-agnostic directory"
The ovf-env.xml file should be in an agent-agnostic directory so that cloud-init can be decoupled from waagent.

[2020-03-18 07:57] pmjdebruijn opened #1817 "[BUG] Console Logging Enabled By Default"
For almost mainline distro's, using the default shipped config waagent logs directly to /dev/console, which is strange that this happens at all, let alone by default.

No user-land process should ever output directly to /dev/console, aside from maybe syslog??

Historically (using SysV init back in the day) some daemons produces output to stdout (aside from a logfile), which ended up on the console

[2020-03-18 08:18] pmjdebruijn commented on #1817
This relates to:

https://github.com/Azure/WALinuxAgent/blob/develop/azurelinuxagent/common/conf.py#L186

And (for example):

https://github.com/Azure/WALinuxAgent/blob/develop/config/debian/waagent.conf#L66

[2020-03-26 03:47] yuxisun1217 commented on #1789
Hi @jak119 ,
Thank you for reporting this! I open a BZ in Red Hat Bugzilla(https://bugzilla.redhat.com/show_bug.cgi?id=1817283).

[2020-03-26 16:35] jak119 commented on #1789
Thanks @yuxisun1217, seems like that's the more appropriate place for this given the info here.

[2020-03-30 04:46] Dmitry1987 commented on #1673
Wow this solves my problem, a filebeat container was unable to resolve the elasticsearch DNS because of this (the Elastic Cloud response is quite large, many addresses). Doesn't it break **all applications** that might rely on a DNS record that returns large result?  Anything that runs in docker for example, and was deployed properly as non-root, will just fail when it has to resolve addresses lik

[2020-03-31 16:15] peter9370 opened #1843 "Not working in devuan ascii"
I'm setting up a virtualbox VM, intending to upload the image to azure. I'm basing it on devuan ASCII (debian stretch, without systemd) and following the procedure in this document:

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/create-upload-generic

Having installed WALinuxAgent (version 2.2.34) from the devuan repository and completed the recommended setup and finally, as instru

[2020-03-31 21:47] jeffwmiles opened #1845 "[BUG] Consistent CPU / disk usage from waagent run-exthandlers"
I am seeing consistent CPU usage of 2-3% coming from the waagent; specifically:
`python -u /usr/sbin/waagent -run-exthandlers`

This is observed from top and iostat, although I haven't been able to narrow down the exact filesystem writes that are occurring.

Here is the Metrics output for my VM, showing the consistent traffic which is abnormal:
![Metrics](https://user-images.githubusercontent.com/

[2020-04-02 12:20] peter9370 commented on #1843
I've been digging into this myself. Apparently there are two separate problems:

- python's platform.linux_distribution() function returns "debian" instead of "devuan": apparently it looks for the file /etc/lsb-release, and not finding it, hunts through /etc looking for filenames containing either "release" or "version" - if it finds one, it tries to read it. It's finding /etc/debian_version and u

[2020-04-03 07:53] yuxisun1217 commented on #1789
Hi @jak119 ,

Here is the update from the bug:
[code]
Could you please share your opinion about that? Thanks!

[2020-04-04 19:13] jak119 commented on #1789
@yuxisun1217 I'd argue that the agent isn't _that_ invasive if it were to be installed / enabled "by accident." It'd simply fail to communicate with the Azure Fabric and generate an error log. It's not like having the agent disabled is going to protect a user from accidentally running `waagent -deprovision`.

[2020-04-06 16:38] peter9370 commented on #1843
I encountered another problem: in this version and environment, it appears that waagent -deprovision can't stop the waagent daemon. This appears to be a problem with /etc/init.d/walinuxagent, which I've now fixed (I'll raise another case for this).

With this fix in place - waagent -deprovision now appear to work

Continuing to test.

[2020-04-08 15:54] #1784 closed

[2020-04-10 08:03] yuxisun1217 opened #1851 "[BUG] Some parameter changes are not in waagent.conf"
**Describe the bug: A clear and concise description of what the bug is.**
In v2.2.45 there are some parameter changes. But they are not in waagent.conf:
Provisioning.Agent is not added
Provisioning.Enabled and Provisioning.UseCloudInit are not removed

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: RHEL-7/8
 - WALinuxAgent version: v2.2.47

[2020-04-14 03:07] qwordy opened #1852 "[BUG] Cannot set destination path for SSH public keys"
**Describe the bug: A clear and concise description of what the bug is.**

https://github.com/Azure/azure-cli/issues/12459

When I use Azure CLI to create a VM and specify ssh key path, I get an error.
[code]

CLI command:
[code]

Note: Please add some context which would help us understand the problem better
1. Section of the log where the error occurs.
2. Serial console output
3. Steps to reprod

[2020-04-16 08:23] kovacs-andras opened #1856 "[BUG] ERRORs are not errors in journal."
**ERROR messages don't get the error priority**

Dear Team,

The ERROR messages what waagent throws didn't get the error priority in syslog/systemd-journald.
Could you fix it?
Thank you!

**Distro and WALinuxAgent**
 - Distro and Version: Red Hat 7.8
 - WALinuxAgent version WALinuxAgent-2.2.38-2

[2020-04-16 11:55] garedrag commented on #1487
magic

[2020-04-16 14:04] Klaas- commented on #657
Why is this not the right mechanism for adding secondary IPs? What would be the appropriate place to get runtime changes into a VM?

You are already modifying the network configuration through the agent - adding routes, modifying the firewall configuration. Why not add secondary IPs aswell?

[2020-04-20 19:00] pgombar opened #1859 "Upgrade WALinuxAgent to support Python 3.8"
**Describe the bug: A clear and concise description of what the bug is.**

WALinuxAgent should support Python 3.8.

[2020-04-21 00:15] pgombar commented on #1851
Fixed in #1853

[2020-04-21 00:15] #1851 closed

[2020-04-23 16:18] peter9370 commented on #1843
Progress:

- downloaded the source package for 2.2.34
- added patches for my changes (using quilt)
- modified debian/rules so that dh_auto_test is enabled, so running the whole test suite
- modified debian/rules to skip dh_systemd_enable and dh_systemd_start
- removed debian/waagent.walinuxagent.service
- changed debian/waagent.walinuxagent.init to fix a problem with stopping the service

After th

[2020-04-24 10:35] hugo-paredes opened #1866 "Custom data on RHEL 7.7"
This isn't exactly a bug, but more a clarification.

I've been trying to use the `custom data` attribute in a RHEL 7.7 VM. I've read in the documentation that this version of RHEL. Initially I wanted to use `cloud init` but I saw that the RHEL version I'm using isn't supported.
Am I wrong and it should be working or it's not supported?

Thank you
Hugo

[2020-04-24 11:49] yuxisun1217 opened #1867 "[BUG] Cannot create /dev/disk/azure/resource softlinks in Gen2 VM"
**Describe the bug: A clear and concise description of what the bug is.**
In Gen2 VM, the 66-azure-storage.rules cannot create /dev/disk/azure/resource and /dev/disk/azure/root softlinks.
**Gen1**:
[code]
**Gen2**:
[code]
**Gen2 with cloud-init rule**:
[code]

**Distro and WALinuxAgent details (please complete the following information):**
 - Distro and Version: RHEL-7/8
 - WALinuxAgent version: v

[2020-04-24 12:31] yuxisun1217 commented on #1866
Hi Hugo,

Sorry maybe I didn't catch the point. What service do you want to use to invoke customer data? WALinuxAgent or cloud-init?
I've tried to use WALinuxAgent and cloud-init to invoke custom data and both of these 2 tools should work well.
I was using azure-cli like:
az vm create --custom-data xxx ...
Is that what you meant? Thanks!

[2020-04-24 12:42] hugo-paredes commented on #1866
Hi @yuxisun1217

Sorry for the confusion, let me see if I can explain myself better.

I've to deploy a VM running RHEL 7.7 and I need to provision some extra things on it. Initially I looked at `cloud init` but according to the official [documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init#rhel), it's not yet supported.

Then I saw `CustomData` and, by the

[2020-04-24 13:31] yuxisun1217 commented on #1866
Hi @hugo-paredes ,

I created a VM from image RedHat:RHEL:7.7:latest and can reproduce it. I think it because the /etc/waagent.conf has such configuration: Provisioning.ExecuteCustomData=n
Maybe we should enable it in all the images. I'll report it in bugzilla and ask if Microsoft can help to make this change.
Thank you so much for reporting this!

[2020-04-24 13:50] yuxisun1217 commented on #1866
Hi @hugo-paredes ,
I've just created a VM from image RedHat:RHEL:7.8:latest. It's a RHEL-7.8 image and provisioning with cloud-init, which can invoke custom data successfully. If urgent maybe you can consider to use this image.

[2020-04-24 14:10] yuxisun1217 commented on #1866
Open BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1827679

[2020-04-24 17:03] #1671 closed

[2020-04-24 17:18] pgombar commented on #1473
Fixed with #1738

[2020-04-24 17:18] #1473 closed

[2020-04-24 17:35] hugo-paredes commented on #1866
Hi @yuxisun1217

I'll see if I can use that version. There's a restriction on my side where I cannot use RHEL 8 or higher, but I'm not sure if the 7.8 is okay.

Thanks.
Hugo

[2020-04-26 07:21] yuxisun1217 commented on #1789
Hi @jak119 ,
I'm so sorry that I didn't see your reply for such a long time...
I agree that enable it "by accident" isn't _that_ invasive. But IMO there are still some impacts that may make customer feel not good, such as a vast amount of error logs in waagent.log, and even in /var/log/messages. The waagent is not a one-time provisioning tool. As you said, its also a daemon process that communicat

[2020-04-30 07:57] marius-udubasa opened #1876 "ProvisioningState/failed/VMExtensionProvisioningError - AADLoginForLinux"
On enabling the AAD SSO SSH login for linux on a linux backed VMSS I get this error:

[code]

and then it increments to 9.status directory and so on.

and the status for the VMSS resource in the Azure web portal is marked as failed.

However the ssh login works. Both with the master account and AAD login.

But I would still like to have this error fixed since it could be a time with a real `failed

[2020-04-30 15:15] alv000h opened #1877 "Add support to NIC / ethX name customization in agent - consistent interface device naming"
**Description**
After "recent" changes in linux kernel (more or less since udev is mainstream), interface order of ethernet NICs is not granted.

there was some quickfixes for this in early versions of RHEL5 and Debian (mostly based on MAC), but recently those fixes are been deprecated and now almost all people is using consistent interface device naming aka biosdevname (from dell)

Thats why is n

[2020-04-30 21:49] alv000h commented on #1750
this problem is related to this issue:
#1877  **consistent interface device naming**

**Disabling 75-persistent-net-generator.rules should be managed by optional configuration in waagent.conf**, because if there are multiple interfaces in VM, legacy name (ethX) do not grant interface order anymore and eth interface number can be swaped randomly between reboots.

That is why Azure shoud comply with

[2020-04-30 21:49] alv000h commented on #1877
For additional info please refer above issue and optionally this [document](https://docs.vmware.com/en/VMware-Adapter-for-SAP-Landscape-Management/services/Administration-Guide-for-LaMa-Administrators/GUID-3979BFD8-D9DB-4C53-9FB8-AC89E024693B.html)

Another one from [redhat](https://www.redhat.com/en/blog/red-hat-enterprise-linux-73-achieving-persistent-and-consistent-network-interface-naming-vmwa

[2020-04-30 21:50] alv000h commented on #1877
#1750 is related to this issue too.

[2020-04-30 22:41] alv000h opened #1878 "[BUG] waagent delete resolv.conf between reboots"
**Description:**

in our RHEL7.7 systems DNS resolution is missing between reboots because waagent deletes /etc/resolv.conf always... the unique available fix to circumvent this behavior is set immutable flag in /etc/resolv.conf (this is fairly very problematic, nobody else imagine setting that flag in that file...)

So, that is the same as in #1151 #1164 #1215 #754 and #855 (cloud-init, fixed by

[2020-05-01 17:59] pgombar commented on #1859
Fixed in #1860.

[2020-05-01 17:59] #1859 closed

[2020-05-01 19:32] pgombar commented on #1876
Hi @marius-udubasa can you please open a support ticket for this? The agent can throw this error when an installation of an extension failed, and for that, the extension publisher should take a look at the issue first.

[2020-05-01 19:35] pgombar commented on #1878
Hey @trstringer, @anhvoms could you take a look at this? Thanks.

[2020-05-01 19:41] johnsonshi commented on #1812
Provisioning engineers decided that keeping it at the current directory is better for legacy reasons.

[2020-05-01 19:41] #1812 closed

[2020-05-04 10:41] jpbuecken commented on #1877
Hello,
I'm not a waaegent developer, but I'm a long time linux user.
First of all, systemd consistent naming scheme is not the same as biosdevnames from dell.
They are different implementations to reach the same goal.
This is why you have two kernel command line parameter for grub ( net.ifnames and biosdevnames ).
biosdevnames is based on the name that is provided by BIOS
(see https://github.com/d

[2020-05-04 10:47] jpbuecken commented on #1877
PS: You may try to add a udev rule as well:
[code]
(install biosdevname binary first)

This will use udevdevnames from dell (https://github.com/dell/biosdevname/blob/master/README)
(not systemd conistent naming scheme)
But not sure if  AZURE/HyperV BIOS provide useful information here.

[2020-05-04 14:27] Klaas- opened #1885 "[FeatureRequest] Support secondary IP addresses"
**Describe the bug: A clear and concise description of what the bug is.**
Azure has a feature to assign secondary IP addresses to a single interface, static and dynamic.

Currently only the primary IP address gets configured via dhcp. dhcp does not support multiple addresses for a single interface. The currently suggested way of setting the additional IPs within the OS: https://docs.microsoft.com/

[2020-05-05 17:53] NillsF opened #1886 "[Feature request] Ability to control which extensions are able to be installed"
**Feature request**
Right now, the WAAGENT has the ability to allow or deny extensions from being installed. There are scenarios for image publishers that want to allow a subset of extensions to be installed (e.g. Azure Backup / Log Analytics agent) but not others (e.g. Custom Script extension / DSC ).

Right now, this cannot be enforced in the Azure Agent. Since the image publishers don't control

[2020-05-05 19:29] alv000h commented on #1877
@jpbuecken your is solution is OK, but waagent apparently disable #1750 udev rules and remove network rules from /etc/udev/rules.d .

That is why this issue is open, we need an standard from microsoft, something similar to RHEL (ensXXX/enoXXX)

[2020-05-06 09:19] jpbuecken commented on #1877
The usage of systemd consistent naming scheme is independend of #1750 (As you may have seen, I opened #1750). It is about waagent uses a not supported way to disable net generator. But it is ok to disable it in general:

The udev net generator creates udev rules to hardcode interface names via MAC or kernel PCI slot. This is a predecessor of the systemd consistent naming scheme to archive the same

[2020-05-07 20:38] certeraio opened #1887 "Deprovision removes all modifications?"
I'm starting with Ubuntu 18.04 cloud image and adding my modifications. Then, when finished, I perform the deprovision+user. When I upload my VHD and create a VM from it, my changes have all been removed. I had created a new systemd service, I had files in /opt that are gone. Help me understand what deprovision does. I didn't think it would have removed everything.

[2020-05-16 19:02] colemickens opened #1888 "Agentless VMs"
On my images, the agent does nothing except report ssh host key and report the provisioning signal. As of yet, I can't get an answer to what [the agent or platform even actually does with the ssh host key](https://github.com/Azure/WALinuxAgent/issues/1783).

From this page (https://github.com/Azure/WALinuxAgent/wiki/VMs-without-WALinuxAgent):

This was written quite some time ago. Is this possible

[2020-05-18 18:29] vjamwec13579 commented on #1759
we are experiencing the same issue here at Boeing.

[2020-05-19 12:17] Bug-Reaper opened #1890 "[BUG] Can't run waagent -deprovision"
**Describe the bug: A clear and concise description of what the bug is.**

Note: Please add some context which would help us understand the problem better
1. Install the AUR for WALinuxAgent https://aur.archlinux.org/packages/walinuxagent/
2. Attempt to run  `waalinux -deprovision`
3. ???
![Screenshot_2020-05-19_05-09-46](https://user-images.githubusercontent.com/31227781/82325292-d9b34900-998f-11

[2020-05-19 12:57] Bug-Reaper commented on #1890
Can I just manually delete all this stuff?
[code]

[2020-05-19 21:36] Bug-Reaper commented on #1890
Alright, I got this figured out. Not sure if this is specific to Arch Linux, I'd imagine it applies to any *Nix system using the latest dhcpcd.

What you need to do is (as root):
[code]
Apparently those are now mounted by dhcpcd ONTOP of where they originally were. As in, unmounting them doesn't remove files from those locations. Very strange.

I'd be happy to make a PR which automates this proces

[2020-05-20 02:08] narrieta commented on #1804
@pgombar  Agent update apparently also overwrites log rotate settings for waagent.log

[2020-05-20 18:17] sbonds commented on #1804
The specific issue we see is when updating the RPMs, the file `/etc/logrotate.d/waagent.logrotate` was replaced with a default config.

In my opinion, the issue I see isn't a WALinuxAgent github issue, it's a RedHat RPM packaging issue and the problematic SPEC doesn't seem to have a public version control system for filing issue

[2020-05-20 18:28] sbonds commented on #1804
https://bugzilla.redhat.com/show_bug.cgi?id=1838254 filed for the above

[2020-05-22 15:22] narrieta commented on #1845
#1891 reduced the frequency of some of those commands

[2020-05-25 19:47] ekrof opened #1894 "Agent state "Not ready" on Ubuntu 18.04 after Veeam restore"
In the process of migrating our data center to Azure Stack, the VMs running Ubuntu 18.04 bionic gets stuck in the agent state 'Not Ready' after restoring from Veeam. This is regardless of kernel version.

[code]

**What I've tried**

- Reboot
- Updating kernel (Both Azure specific (5.3.0-1020-azure and latest)
- Reinstalling the walinuxagent
- Building walinuxagent from source
- Opening all WireSe

[2020-05-28 08:55] marius-udubasa commented on #1876
Hi, I had some issues in opening that ticket, but, sure, I will try to do that. Thanks.

[2020-06-03 19:44] alv000h commented on #1878
Any news on this?

[2020-06-03 20:26] alv000h commented on #1877
@jpbuecken I have created my own udev rules to avoid interface swinging (that are nic0, nic1, and so on...) but this dont work with waagent that is why I open the issue

You are correct, azure may not report data very well, and probably there is a problem with a module or hipervisor (I have vmware openstack and so on... and all of this products in ansible report hipervisor as vnware or openstack m

[2020-06-03 21:04] trstringer commented on #1878
walinuxagent should only be deleting this file on deprovisioning. Can you provide the scenario that this is happening to you with?

[2020-06-04 01:18] alv000h commented on #1878
@trstringer we have following all steps described here to upload our custom vhd:
https://docs.microsoft.com/bs-cyrl-ba/azure/virtual-machines/linux/create-upload-generic?view=azurestackps-1.7.0

This guide requires deprovision before vhd upload to azure...

We are deploying using terraform (azureRM) and every reboot /etc/resolv.conf is deleted (we are using chattr +i as a workaround)

[2020-06-04 06:59] jpbuecken commented on #1877
Did you name your own udev rules `/etc/udev/rules.d/70-persistent-net.rules`? Avoid that.
You may call it /etc/udev/rules.d/71-my-own-persistent-net.rules

The agent does not disable udev net rules in general, only the predefined net genarator from the OS vendor.

As i tried to explain above. The waagent is independent. If you follow my steps:
1) Set net.infames=1 in /etc/default/grub
2) rebuild g

[2020-06-04 09:06] kailashmsft commented on #1390
Hi @narrieta

SUSE.SLES-SAP-BYOS.12-SP3.2019.03.06 vm running with 2.2.36 is also showing the same logs
Is there any bug in this version of waagent as well.
2.2.36
2020/06/04 07:46:55.907407 INFO ExtHandler Creating cgroup directory /sys/fs/cgroup/cpu/WALinuxAgent/Microsoft.Azure.Diagnostics.LinuxDiagnostic
2020/06/04 07:46:55.918008 WARNING ExtHandler Monitor: failed to update cgroups tracked ext

[2020-06-04 09:39] alv000h commented on #1877
As stated before, simply changing nic name have implications...

Have you tried this in azure (/etc/udev/rules.d/71-my-own-persistent-net.rules) without cloud-init?

waagent has harcoded ethX nic naming as you can see here in getInterfaceNameByMac function:
https://github.com/Azure/WALinuxAgent/blob/11d0881cd01e1bc5ff4f918c33701b60274c6e40/bin/waagent2.0#L669

In our experience depending on agent

[2020-06-04 10:20] jpbuecken commented on #1712
This is not a good advice: net-tools with ifconfig are only available in the legacy module of SLES15. The legacy module has shorter support lifecycle than the SLES15 itself.
So you may get a enterprise system with unsupported software.

Better fix
https://github.com/Azure/WALinuxAgent/blob/11d0881cd01e1bc5ff4f918c33701b60274c6e40/bin/waagent2.0#L665

and you may allow arbitary network interface na

[2020-06-04 10:22] jpbuecken commented on #1877
I have to admit, I did not check the logs. Only rebooted and logged in with a working network.
But I have more worries about the usage of ifconfig. It is deprecated and newer linux vendors do not ship it as default anymore. Maybe if the developer need to touch the function anyway, they can get rid of the hardcoded eth requirement...

[2020-06-04 13:30] trstringer commented on #1878
Do you mean more specifically [these steps (Prepare a Red Hat-based virtual machine for Azure)](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/redhat-create-upload-vhd?view=azurestackps-1.7.0)?

[2020-06-04 14:14] alv000h commented on #1878
Yes that is the document.

Please let me reproduce the error and post the logs...

[2020-06-04 14:21] trstringer commented on #1878
Is your machine running NetworkManager? It appears as though NetworkManager should be managing and updating `/etc/resolv.conf` as well, unless you've set `dns=none` in NetworkManager conf..?

[2020-06-04 16:35] alv000h commented on #1712
@juhlee-microsoft @jpbuecken
It is better no user binaries, using /proc /sys is a better aproach...
Example to determine iface names on a machine:

[2020-06-04 16:51] narrieta commented on #1390
@kailashmsft Is the extension running ok?

[2020-06-04 17:32] alv000h commented on #1712
Addtional ideas:

[2020-06-05 07:05] kailashmsft commented on #1390
nope none of the extension are working

[2020-06-05 15:15] narrieta commented on #1390
ok, then the bug is in that version too

[2020-06-06 02:50] daveinci opened #1904 "[BUG] 'DebianOSBaseUtil' is not defined Kali Linux 2020.2"
**Describe the bug: A clear and concise description of what the bug is.**
After Azure Marketplace install of Kali Linux. apt-get dist-upgrade or only upgrade of waagent receive the following stack trace when running waagent (-deprovision, -version, etc.):
Traceback (most recent call last):
  File "/usr/sbin/waagent", line 11, in <module>
    load_entry_point('WALinuxAgent==2.2.47', 'console_script

[2020-06-08 05:57] kailashmsft commented on #1390
@narrieta thanks for the update

[2020-06-08 14:52] Logik78 opened #1905 "Unable to route traffic from LoadBalancer to Secondary Interface"
Unable to maintain healthy backend probe checks with two Virtual Machines using two network interface cards where services being balanced are on the secondary interface.

I have a web cluster where each VM has two network interfaces:

- eth0 - management interfac
- eth1 - data interface (web traffic)

The VM's are running a web server listening only on the data interface.

I also have a load balan

[2020-06-08 22:45] pgombar commented on #1790
This was fixed in version [2.2.15](https://github.com/Azure/WALinuxAgent/blob/v2.2.15/azurelinuxagent/common/version.py#L188).

[2020-06-08 22:45] #1790 closed

[2020-06-08 22:50] pgombar commented on #1417
Closing due to inactivity on the PR.

[2020-06-08 22:50] #1417 closed

[2020-06-08 22:53] pgombar commented on #1888
@trstringer or @anhvoms could you comment on the cloud-init question? Thanks.

[2020-06-09 14:20] trstringer commented on #1888
What distro/version are you running, @colemickens?

[2020-06-09 14:36] trstringer commented on #1783
What code path or log message are you referring to specifically?

[2020-06-09 19:39] colemickens commented on #1783
The codepath where the SSH host key fingerprint is reported during "report_ready".

https://github.com/Azure/WALinuxAgent/blob/017e1bdd7dfb44134ec3e450328091a49b9a77ac/azurelinuxagent/pa/provision/default.py#L97

https://github.com/Azure/WALinuxAgent/blob/017e1bdd7dfb44134ec3e450328091a49b9a77ac/azurelinuxagent/pa/provision/default.py#L313

Reading the code around here makes it clear that it will

[2020-06-09 19:40] colemickens commented on #1888
@trstringer It shouldn't matter, but it happens to be NixOS. I *do not want the agent in my VM*.

[2020-06-11 15:51] lewtwo commented on #1473
Same Error with vm workstation player:
===================
$ cd /home/lewis/Downloads
$ sudo ./VMware-Player-15.5.6-16341506.x86_64.bundle
[sudo] password for lewis:
Extracting VMware Installer...done.
/tmp/tmpbxds2o8v.vmis.env:4: DeprecationWarning: **the imp module is deprecated in favour of importlib**; see the module's documentation for alternative uses
  import imp
/tmp/vmis.iAlRZf/install/vm

[2020-06-12 15:19] narrieta commented on #1500
@nojmp Thanks for pointing this out. The code in waagent2.0 corresponds to a really old version of the agent. You are right that the current agent does not do this anymore. I'll update the documentation.

[2020-06-13 01:57] #1500 closed

[2020-06-17 04:16] DeterminedExecution commented on #1571
I was able to correlate these messages in the ring buffer with the waagent.log by converting the ring buffer's seconds to dates and comparing those dates histogram of waagent.log message counts per minute.

After compensating for local time vs UTC and a one hour DST offset I've determined the kernel error from too much serial console volume happens when waagent fetches a new goal state.

Here is w

[2020-06-17 07:52] kovacs-andras commented on #1500
I've experienced the same.
Please, do not state in the doc _"Consumes Hyper-V entropy for /dev/random"_ if it isn't.
A recommendation somewhere would be also useful. This is what rng-tools reported me on a freshly created VM:
[code]
Thank you!

[2020-06-17 17:52] trstringer commented on #1783
We will be removing this SSH host key thumbprint shortly from the walinuxagent. It was originally there for the old portal, but was removed with the new portal. Thanks for bringing this to our attention! I'm going to keep this issue open to make sure that your question was answered, and I'll close this out when the PR is merged in with the removal.

[2020-06-18 07:03] AnonymousUser01 opened #1912 "Azure Linux VM - Barracuda CloudGen Firewall - Agent not responding & unable to upgrade agent"
Hi Everyone,

We have an Azure VM - Barracuda CloudGen Firewall release GWAY-8.0.3-0137 for which existing backup has stopped due to agent not responsding. We checked on portal & observed that VM agent state shows not ready & none of the extenstions are visible. So, we checked the agent version & status within the Barracuda Firewall & following's the output (we did restart the agent - sudo service

[2020-06-18 16:46] colemickens commented on #1783
Cool! Thanks for the update @trstringer!

[2020-06-21 07:11] gulikoza opened #1917 "[BUG] SWAP is not enabled when ADE is used"
Hi,

If Azure Disk Encryption is used to encrypt the resource disk the swap will not be enabled.

The problem is that ADE will set ResourceDisk.Format=n because it needs to encrypt and format the disk itself. However, in daemon/resourcedisk/default.py the swap activation is directly tied to ResourceDisk.Format option:

[code]

If one were to set ResourceDisk.Format=y then mounting will fail:

[cod

[2020-06-22 13:59] #1783 closed

[2020-06-22 16:34] AnonymousUser01 commented on #1912
following's the output of VAR log messages - is there an issue with agent communication? what needs to be checked based on below logs?

tail -50 /var/log/waagent.log

2020/06/22 12:27:20.929398 INFO ExtHandler looking for leases in path [/var/lib/NetworkManager/dhclient-*.lease]
2020/06/22 12:27:20.939521 INFO ExtHandler cached endpoint not found
2020/06/22 12:27:20.950191 INFO ExtHandler Cache ex

[2020-06-23 23:23] pgombar commented on #1890
Hi @Bug-Reaper thank you for your analysis. Feel free to submit a PR to improve this and reference this issue. cc @trstringer

[2020-06-23 23:26] pgombar commented on #1730
Issue is resolved with #1642 and zip files will not keep accumulating anymore. If you have old zips laying around, the mitigation is to manually delete them, they won't come back.

[2020-06-23 23:26] #1730 closed

[2020-06-23 23:29] pgombar commented on #1565
Hi, this is a known issue. The VM Agent cannot be updated using an extension, including CustomScript. We will fix this issue in a future release, but in the meanwhile the workaround is to first upgrade the Agent using other means (not using an extension) with `apt-get upgrade walinuxagent`. After this, apt-get can be used again within an extension.

Another way is to mark the agent package on hold

[2020-06-23 23:29] #1565 closed

[2020-06-24 01:43] Bug-Reaper commented on #1890
@pgombar @trstringer I'll try to get a PR up for this and test it out over the next couple of days. Thanks :)

[2020-06-26 15:43] Bug-Reaper commented on #1890
The PR is up, let me know what you think @trstringer :+1:

[2020-06-28 20:23] 8191 commented on #1917
This is actually [documented](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-linux#use-encryptformatall-feature-for-data-disks-on-linux-vms), but still unsatisfying. I've also asked a similar question in the [Q&A section](https://docs.microsoft.com/en-us/answers/questions/40598/how-to-manage-temporary-disk-with-active-ade.html).

Any intermediate solution until this

[2020-07-02 12:00] axelgMS opened #1933 "[BUG] WARNING Daemon cloud-init does not appear to be running"
CRI 194661906 - Azure Linux VM failing to provision. waagent.log says:

_2020/06/30 17:35:11.106235 INFO Daemon Azure Linux Agent Version:2.2.38
2020/06/30 17:35:11.130331 INFO Daemon OS: redhat 7.8
2020/06/30 17:35:11.136431 INFO Daemon Python: 2.7.5_
...
_2020/06/30 17:35:11.572091 INFO Daemon Running CloudInit provisioning handler
2020/06/30 17:35:11.579520 INFO Daemon Waiting for cloud-init to

[2020-07-06 07:57] hervekhg commented on #1359
Hi,
I got the same issue. My image has been build with packer, when i try to launch it with terraform on Azure the VM stay on Creating state.
In boot diagnostics log I got this loop message.

**_INFO Daemon Waiting for cloud-init to copy ovf-env.xml to /var/lib/waagent/_**

What is surprising is that my colleagues who use the same code do not have this concern.

[2020-07-06 12:41] trstringer commented on #1359
@hervekhg, can you SSH into the VM? If so, what does `cloud-init status` show? If that doesn't highlight the issue you're seeing, can you open up a new issue so that we can take further troubleshooting there? I don't want your problem to get buried in this multiyear closed issue.

[2020-07-08 06:44] carldjohnston opened #1938 "[BUG] WALinuxAgent service should start after the cloud-config service"
Currently (On Canonical UbuntuServer 18.04-LTS) the WALinuxAgent service and cloud-init run in parallel on start-up causing issues with contention of the package repository.

I believe that WALinuxAgent should start _after_ the cloud-config service to ensure that:
- Packages that extensions may depend on can be installed by cloud-init; (EG: https://github.com/microsoft/azure-pipelines-agent/issues

[2020-07-09 05:50] rathiume opened #1939 "requirements.txt mentions requirement of python >= 3.8, but Readme says 2.6+"
requirements.txt mentions requirement of python >= 3.8, but Readme says 2.6+

Can you please explain why this discrepancy?

[2020-07-09 20:04] pgombar commented on #1939
Hi @rathiume, the requirements.txt file mentions python 3.8 in the context of a package dependency.

This means that package `distro` will be installed if python version is >= 3.8. The agent supports python 2.6+.

[2020-07-09 20:04] #1939 closed

[2020-07-10 03:26] taoyama opened #1940 "[BUG] DEBUG HeartbeatCounter is logged as info level"
**Describe the bug: A clear and concise description of what the bug is.**

After upgrading to 2.2.49.2, debug heartbeat is logging to /var/log/waagent.log
[code]
It looks like this change was mergerd by #1919
These debugging log should be logged as verbose level.

[2020-07-10 09:43] Villux opened #1942 "[BUG] Unable to connect with SSH with VMSS after RDMA installation"
I had an image without RDMA. Creating VMSS with that worked normally. I installed RDMA with these instructions https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/enable-infiniband#manually-install-mellanox-ofed and created a new image. After that I'm no longer able to access the VMs (which are created with the new image). SSH just hangs and eventually times out. I have tested th

[2020-07-10 17:09] narrieta commented on #1940
This change is intentional, it should be INFO

[2020-07-10 17:09] #1940 closed

[2020-07-10 17:17] axelgMS commented on #1801
Got similar issue again - see CRI 194758301

[2020-07-10 17:34] pgombar commented on #1876
Should be tracked in an internal ticket

[2020-07-10 17:34] #1876 closed

[2020-07-10 18:04] pgombar commented on #1866
Tracked in bugzilla ticket

[2020-07-10 18:04] #1866 closed

[2020-07-12 23:46] carldjohnston commented on #1938
Update on this; my proposed solution doesn't appear to work reliably.

I believe that the `walinuxagent` service needs to start after `cloud-final` to be more robust. I'm achieving that with the following in cloud-init:

[code]

[2020-07-13 03:55] yuxisun1217 commented on #1866
Update:
The latest RHEL-7.7/7.8 images in Azure Marketplaces are using cloud-init as provision agent now. So this issue doesn't exist anymore. The BZ has been closed.

[2020-07-13 17:24] pgombar commented on #1789
Tracked in https://bugzilla.redhat.com/show_bug.cgi?id=1817283.

[2020-07-13 17:24] #1789 closed

[2020-07-13 17:31] pgombar commented on #1843
Hi @peter9370 thanks for reporting this. Unfortunately, devuan is not one of our endorsed distros (https://docs.microsoft.com/en-us/azure/virtual-machines/linux/endorsed-distros), so we currently can't spend cycles to develop for it.

We would be more than happy to review external contributions for devuan. It would be a matter of adding a separate [config](https://github.com/Azure/WALinuxAgent/tre

[2020-07-13 17:35] #1843 closed

[2020-07-13 17:50] pgombar commented on #1942
Hi @Villux, it will be hard to debug this without any logs. Could you enable boot diagnostics before installing RDMA?

[2020-07-13 17:55] pgombar commented on #1917
@trstringer could you comment on any intermediate solution? It seems like the current state is that this is by design.

[2020-07-13 17:59] pgombar commented on #1852
@trstringer could you take a look? Thanks!

[2020-07-13 18:00] pgombar commented on #1867
@trstringer could you take a look? Thanks!

[2020-07-13 18:03] pgombar commented on #1887
Hi @certeraio, for the time being, please take a look at the documentation here:
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/agent-linux#commands
It explains the difference between `deprovision` and `deprovision+user`.

cc @trstringer for more clarification if needed.

[2020-07-13 18:10] Villux commented on #1942
I understand. I have enabled it but for some reason I don't get any. I have a ticket open on this and I will post the logs as soon as I get them. For normal VMs boot diagnostics work, but for VMSS for some reason it doesn't. I have enabled it for the VMSS and when I try to add it to the individual VMs under the scale set it says "enable it for VMSS". And that I have enabled.

[2020-07-13 18:11] pgombar commented on #1529
Tracked here: coreos/bugs#2454 and seems to be fixed.

[2020-07-13 18:11] #1529 closed

[2020-07-13 18:12] pgombar commented on #1612
Tracked in https://bugs.launchpad.net/cloud-init/+bug/1867029 and seems to be fixed.

[2020-07-13 18:12] #1612 closed

[2020-07-13 18:21] pgombar commented on #1092
Re-open if still active.

[2020-07-13 18:21] #1092 closed

[2020-07-13 18:24] pgombar commented on #1792
Hey @trstringer do you have any more ideas how this could be done? If not, I will close it "by design". Thanks!

[2020-07-13 18:28] pgombar commented on #1912
Hi @AnonymousUser01 could you please file a ticket with Microsoft support? It seems like there are several issues here and we would possibly need to engage other teams (like backup) and investigate why your environment can't communicate to upstream repos.

[2020-07-14 14:18] trstringer commented on #1888
@colemickens take a look at this documentation! https://docs.microsoft.com/en-us/azure/virtual-machines/linux/no-agent

Likewise, here is some boilerplate for a custom provisioning agent as well: https://github.com/Azure/linux-provisioning.

I'm going to close this issue for now, as hopefully this answers your questions but feel free to ping me or reopen if there are further items to discuss.

Tha

[2020-07-14 14:18] #1888 closed

[2020-07-15 13:32] trstringer commented on #1887
It should not be removing your systemd service, @certeraio. Do you have a repro that you could share with us so we can troubleshoot further? Thanks!

[2020-07-15 15:02] trstringer commented on #1852
Thanks for raising this issue! This behavior is by-design. It is best to ignore this option. Thanks!

[2020-07-15 15:02] #1852 closed

[2020-07-15 21:25] andybacka opened #1945 "[ISSUE] "waagent -deprovision+user -force" not working as expected"
When using the `waagent -deprovision+user` command, the user re-appears when imaged

Building a CentOS v7.x VM to be used as a source image for future builds.  One of the last steps before shutting down the VM is to run the above command.  It works as expected for that instance, and the user is removed, but when I build from the new image, my VM contains the user (as defined in `/var/lib/waagent/o

[2020-07-15 21:31] andybacka commented on #1945
Damn.  Sorry - I meant to include the version information:
[code]
I see that I'm behind a bit from the latest, but `yum` isn't allowing me to catch up to the latest.

[2020-07-15 21:33] pgombar commented on #1945
@andybacka thanks for reporting this. As for the agent versions, you are on the latest one (2.2.49.2). The 2.2.45 version is the daemon that is preinstalled on this image. For more info, check out this doc: https://github.com/Azure/WALinuxAgent/wiki/FAQ#what-does-goal-state-agent-mean-in-waagent---version-output

@trstringer could you comment on the question related to deprovisioning? Thanks!

[2020-07-16 04:21] colemickens commented on #1500
So is it not necessary to do this anymore in Azure VMs or... why was this functionality removed?

[2020-07-16 04:24] colemickens opened #1946 "Documentation Needed: /sys/firmware/acpi/tables/{OEM0,OEMB}"
**Describe the bug: A clear and concise description of what the bug is.**

See: https://github.com/Azure/WALinuxAgent/issues/1500

Why was it removed? Are these values documented somewhere for Azure Linux VMs?

[code]

I want to understand what the agent *should* be doing.

[2020-07-16 04:26] colemickens commented on #1946
It really seems like it ought to still be in use. https://download.microsoft.com/download/1/c/9/1c9813b8-089c-4fef-b2ad-ad80e79403ba/Whitepaper%20-%20The%20Windows%2010%20random%20number%20generation%20infrastructure.pdf

[2020-07-16 08:46] qwordy commented on #1852
May I ask if it can not be set, why this agent provides this parameter?

[2020-07-16 23:33] pgombar commented on #1808
Hi @shashwatchandra, I believe what you are looking for can be toggled in the /etc/waagent.conf file. More info [here](https://github.com/Azure/WALinuxAgent#provisioningmonitorhostname).
Please re-open if this doesn't address your concern.

[2020-07-16 23:33] #1808 closed

[2020-07-16 23:40] pgombar commented on #1804
@sbonds I believe @taoyama's issue is different.

@sbonds, do you also see this error?
[code]

@taoyama could you confirm if the [reported bug ](https://bugzilla.redhat.com/show_bug.cgi?id=1838254) is different from the issue you're seeing?

[2020-07-16 23:44] pgombar commented on #1670
Similar to #1671

[2020-07-17 00:28] taoyama commented on #1804
@pgombar the reported bug is about rpm packaging issue. That is different from the issue I am seeing.

[2020-07-17 03:15] johanburati commented on #1670
Indeed,  #1671 was for Ubuntu 19.10

[2020-07-17 18:10] rjschwei opened #1952 "[BUG] Configuration option misnamed"
The agent has code that monitors the hostname of the VM. This code path is controlled with the configuration option:

`Provisioning.MonitorHostName`

in waagent .conf. However, unlike indicated in the configuration, i.e. the code path only applies to provisioning the code path is active all the time, i.e. after provisioning.

This can be seen when running

`hostnamectl set-hostname foo.bar.us`

an

[2020-07-17 19:13] kevinclark19a commented on #1856
Systemd pipes output from `stdout` to the various logs mentioned above. As per [this article](https://www.loggly.com/blog/logging-in-new-style-daemons-with-systemd/), it seems that changing the log level requires prepending `<{num}>` to an outputted line, following this protocol:

[code]

It seems that this issue would be resolved most easily by adding appropriate handling (i.e. to prepend the cor

[2020-07-17 19:24] kevinclark19a commented on #1904
This one is odd, as `DebianOSBaseUtil` is pretty clearly imported before it's used on line 79 (where the stack trace indicates). It's weird, then, that there wasn't an `ImportError` instead of the `NameError` we see...
 This will definitely require running this exact scenario to further debug.

[2020-07-17 22:08] kevinclark19a commented on #1856
@kovacs-andras, could you explain your use case that makes you prefer syslog/journalctl logs to the waagent.log log file?

[2020-07-21 07:42] yuxisun1217 commented on #1867
Hi @trstringer ,
Thank you for your fix! I tested with the new rule in RHEL-8.3/7.9/gen1/gen2 VMs and all works well.

Gen1:
Old:
[code]
New:
[code]

Gen2:
Old:
[code]
New:
[code]

[2020-07-21 12:30] trstringer commented on #1867
Great to hear! And thanks again for bringing this issue to our attention!

[2020-07-21 12:30] #1867 closed

[2020-07-24 17:18] larohra commented on #1809
@watermarking unfortunately we cant disable it by default for security reasons. That is the main reason why its available as a config flag so that if any customer wants to disable it they can do it for their VMs.

Not sure if you already tried this but if you create all your AKS containers from a base image, you can disable OS.EnableFirewall in the base image and all the new VMs should also have t

[2020-07-24 17:18] #1809 closed

[2020-07-25 10:46] jaark commented on #1904
Are you using the version in the Kali apt repository?

I am seeing the same problem and it looks to be an issue with the Kali package. It is probably an old version of WALinux.
The version of  common/osutil/factory.py in Kali does not import DebianOSBaseUtil

[2020-07-27 20:12] certeraio commented on #1887
@pgombar thanks for the link. I had seen it before.

It's been a while since I last was trying different things out. I think the /opt folder stuff was a problem on my part. I recall my user account directory either remaining or it remained after a user with the same account name was created when using the captured VM. Can you confirm that the user's home directory should be removed/deleted when us

[2020-07-29 16:03] trstringer commented on #1933
I'm unable to repro this:

[code]

Then if I grep for `_get_metadata_from_imds` from the cloud-init logs after a successful provisioning I see:

[code]

Can you provide repro steps?

[2020-07-29 16:58] trstringer commented on #1945
I'm unable to reproduce this.

1. Create VM based off of `openlogic:centos:7.7:latest` with user `first`.
1. Deprovision with `waagent -deprovision+user`, then generalize and create image.
1. Create VM based off of image from above step with user `second`.

With the newly created VM I see only the `second` user when I `ls /home` and grep through `/etc/passwd`.

Can you provide explicit repro steps

[2020-07-30 18:36] andybacka commented on #1945
Not surprised.  I'm sure it's something I did, but I can't trace what is causing it.

I created a VM same as you did, ran a bunch of Ansible against it to harden it as per our policies, deprovision it with the same command, shut it down and created the image.  Builds off of that image occasionally work, and that user does not exist.  The last build I did yesterday morning, however, had it.  One of

[2020-08-02 19:55] kovacs-andras commented on #1856
Sorry @kevinclark19a  I don't get the question but I hope it helps:
[code]
And it will be printed in bold, red format.

My problem: I just simply executed a `journalctl -b -p err` after a VM creation and the errors what waagent threwn was not there.

[2020-08-03 07:54] Villux commented on #1942
Update: I have chatted with one of the engineering teams in Microsoft and they were interested to try my steps to see what is failing. Haven't heard from them yet, but I will update all the info here.

After node upgrade I was able to see the diagnostics and it seems that network can't start on the nodes. Reason is conflicting mac address with `eth1` and `ib0`. Most likely this has nothing to do w

[2020-08-03 16:09] Klaas- opened #1971 "Temporary resource disk mounted as /mnt and no swap on rhel8 sku 8-lvm-gen2 latest"
After installing the latest 8-lvm-gen2 RHEL8 on a B4ms I noticed that the /mnt/resource partition is not being mounted and that there is no swap being created. Instead it seems cloud-init has provisioned the disk like this:

[code]

Please advise if this behavior is wanted and recommended or if waagent should handle the resource disk and swap. Currently it seems this is explicitly set via waagent.

[2020-08-04 21:01] trstringer commented on #1971
This is the expected and desired behavior. It's by-design that cloud-init is handling the resource disk, and walinuxagent being aware of this. If you look in `/var/log/waagent.log` you should see something to the affect of "Resource disk ... is already mounted ..." assuming that `ResourceDisk.Format=y` is set in the config `/etc/waagent.conf`.

[2020-08-05 04:56] Klaas- commented on #1971
@trstringer so the default path for the Ressource disk changed to /mnt? And by default there is no longer swap?

[2020-08-05 17:49] arybka777 opened #1972 "[BUG] Installation instruction for a particular linux distrbution are not clear"
**Describe the bug: A clear and concise description of what the bug is.**

Note: Please add some context which would help us understand the problem better

Reading:
https://github.com/Azure/WALinuxAgent/blob/develop/README.md#installation

"Installation via your distribution's package repository is preferred. You can also customize your own RPM or DEB packages using the configuration samples provi

[2020-08-06 07:24] kohei-hara opened #1973 "[BUG] HeartBeat ERROR"
[code]
Best regard.

[2020-08-06 17:14] pgombar commented on #1973
Hi @kohei-hara there is no error here. In the latest release, we added some more info to the heartbeat message. This is the expected format.

[2020-08-06 17:14] #1973 closed

[2020-08-10 16:16] peter9370 commented on #1843
Hi @pgombar

As I said, this is the first time that I've worked an issue on github, so I'm wondering how to progress this. It seems that the sequence will be: fork the walinuxagent repo; clone it onto my local machine; make the changes; stage and commit them; then submit a pull request so that you can review the changes.

Is that correct?

Regards,
Peter

[2020-08-11 12:26] peter9370 commented on #1843
I'll take it as read that the sequence in my last comment is what I do need to do, and will proceed accordingly.

[2020-08-14 18:13] larohra commented on #1449
Fixed in #1970

[2020-08-14 18:13] #1449 closed

[2020-08-17 06:05] LiliDeng opened #1982 "Warning message - [WARNING ExtHandler ExtHandler cgroups v2 mounted at /sys/fs/cgroup/unified. Controllers: []] show up in ubuntu 18.04"
**Warning message - [WARNING ExtHandler ExtHandler cgroups v2 mounted at /sys/fs/cgroup/unified.  Controllers: []] show up in ubuntu 18.04**

1. Create 18.04 from gallery image.
2. See warning message from https://github.com/Azure/WALinuxAgent/blob/90aeeb24683d9cd0dcca20c2ac72cdae2547e8ba/azurelinuxagent/common/cgroupconfigurator.py#L115
[code]
3. Two questions here, thanks!

[code]

**Distro and

[2020-08-17 17:11] narrieta commented on #1982
@LiliDeng Currently enforcement of resource limits is experimental and that flag has no effect. You can also ignore the warning, it does not affect the functionality of the agent.

[2020-08-17 17:11] #1982 closed

[2020-08-17 23:39] narrieta commented on #1500
@kovacs-andras @colemickens The Agent was rewritten in late 2014 and the new version did not include this code, but the documentation was not updated. I have updated the documentation. The VM Agent is not the best place to do this; the place where it was done in the code may be too late for components that need this during boot. Also, the agent can be disabled/deleted. We are not planning on addin

[2020-08-17 23:43] narrieta commented on #1946
The hypervisor has an entropy table that it uses to populate OEM0. I do not know the details/properties of this table. As mentioned in #1500, we are not planning on re-adding the functionality that was using this file.

[2020-08-17 23:43] #1946 closed

[2020-08-17 23:49] narrieta commented on #1952
I agree that the option is misnamed, but we would need to keep the current name anyways for backwards compatibility. We will leave the code as is, but thanks for pointing this out.

[2020-08-17 23:49] #1952 closed

[2020-08-17 23:53] narrieta commented on #1972
@arybka777 - The commands for installing it differ with the distro, and different distros use different names for their packages, sometimes with small changes across different versions. Any list would be incomplete/out of date in a short time. It is better to look for in the corresponding package repository.

[2020-08-17 23:53] #1972 closed

[2020-08-18 18:54] juhlee-microsoft opened #1984 "[BUG] wala agent tried to install LIS driver in CentOS 7.8"
**Describe the bug: A clear and concise description of what the bug is.**
LIS installation is only available less than RHEL/CentOS 7.7. There is no need it in 7.8 or higher version.

Note: Please add some context which would help us understand the problem better
1. Provision CentOS 7.8
2. Serial console output
3. Steps to reproduce the behavior.

**Distro and WALinuxAgent details (please complete

[2020-08-19 10:42] LiliDeng commented on #1982
thank you @narrieta

[2020-08-19 23:29] narrieta commented on #1984
@longlimsft - could you take a look at this one? thanks!

[2020-08-20 20:46] iwashuman2021 commented on #1359
i am also running into this issue. this issue seems not to be closed

[2020-08-21 01:19] trstringer commented on #1359
@iwashuman2021 what does `cloud-init status` show on the VM? If it doesn't help point to an issue, can you please open up a new issue so we can troubleshoot further? Thanks!

[2020-08-21 06:44] leifcr commented on #1359
Same issue here.
This loops on the console:
[code]

cloud-init status
[code]

[2020-08-21 06:45] leifcr commented on #1359
Also linking https://github.com/MicrosoftDocs/azure-docs/issues/50407

[2020-08-21 06:56] leifcr commented on #1359
And the solution can be found here: https://thomasthornton.cloud/2020/04/16/cloud-init-does-not-appear-to-be-running-error-after-installing-walinuxagent/

[2020-08-26 14:24] trstringer commented on #1945
The log file is the best place to troubleshoot with logging, but if you do have a repro you can always do some local patching to dump additional data to help diagnose or prove theories. Or likewise, if you have a repro feel free to reopen this issue and we can troubleshoot further together.

Thanks!

[2020-08-26 14:24] #1945 closed

[2020-08-26 14:27] trstringer commented on #1938
Thanks for opening this issue! We'll take a look. Cc // @anhvoms

[2020-08-31 17:31] axelgMS commented on #1933
CRIs 194661906 & 196898588

sorry I might have got confused with the tag in the RG instead of the VM.

[2020-08-31 17:49] trstringer commented on #1933
No problem! If this problem comes up, feel free to re-open this issue!

[2020-08-31 17:49] #1933 closed

[2020-09-03 19:28] trstringer commented on #1917
We're looking into this! Thanks for raising this issue!

[2020-09-08 06:22] FranckChu opened #2003 "[BUG] Exception 'latin-1' codec can't encode characters in position when with Chinese characters in RG"
**Describe the bug:
Once after we deployed VM with Ubuntu 16.04 image in the Resource Group with Chinese characters, then it  will report below error in waagent log.  And turns out it's related to Python 3 as we don't see the issue in the CentOS VM with Python 2.7.
2020/07/28 05:41:49.433705 ERROR ExtHandler [ProtocolError] [Wireserver Exception] 'latin-1' codec can't encode characters in position

[2020-09-09 05:20] nervermore2 commented on #1942
@Villux Hi, are you able to find a solution for this? I'm facing the same issue it took me a whole day and still not able to figure out.

[2020-09-09 06:50] Villux commented on #1942
Not yet, I have an ongoing discussion with one of the engineering teams on this. Haven't heard from them in many weeks so not sure how actively they are working on this.

My current workaround is ansible playbooks. I just use pure DSVM image and install all stuff on the instances with ansible. Adds extra time on the setup but better than debugging this.

[2020-09-09 07:00] nervermore2 commented on #1942
Thanks, have you tried other Ubuntu version? Like 16.04 LTS? and also is this issue "vm size" specific? I'm using HC44rs.

[2020-09-09 08:02] Villux commented on #1942
I have used only Ubuntu 18. I have tried different NC sizes, but I don't think it's in any way related to it.

[2020-09-09 22:05] pakbaz opened #2005 "[BUG] Issue with Linux Agent 2.2.45"
**Describe the bug: A clear and concise description of what the bug is.**

Our servers got spammed with the error coming from waLinuxAgent-2.2.45 or CentOS 7.7.1908 and later return the following error:
_Failed at step EXEC spawning_ `/var/lib/waagent/Microsoft.GuestConfiguration.ConfigurationforLinux-1.21.0/GCAgent/GC/gc_linux_service:` _No such file or directory_

_Failed at step EXEC spawning_

[2020-09-10 21:54] abaymar opened #2006 "[BUG] RunPowerShellScript execution hangs while deprovisioning Linux VM with waagent"
**RunPowerShellScript hangs while executing 'sudo waagent -deprovision+user -force'**

I want to be able to deprovision a VM from Azure Runbook. I'm using PowerShell as follows:

[code]

**Observed behavior:** the user is deprovisioned, but the REST API call never completes so I keep getting "InProgress" every 5 seconds until the Runbook token times out.
**Expected behavior:** the REST API call co

[2020-09-11 07:06] nervermore2 commented on #1942
I tried on Ubuntu 16.04 LTS, its working properly. I think its Ubuntu 18.04 LTS operating system specific problem.

[2020-09-11 10:43] abaymar commented on #2005
Might be similar to #1792

[2020-09-11 10:45] abaymar commented on #2006
Might be a duplicate of #1792

[2020-09-11 16:33] abaymar commented on #2006
As a workaround, my script is setting up a cronjob for deprovisioning instead of directly calling waagent.

[2020-09-14 15:26] Villux commented on #1942
thanks for the tip! I will have to try it as well

[2020-09-14 17:20] manishrana2016 commented on #1904
@jaark - right. It is issue with kali package. I was able to quickly fix it by manually importing the package DebianOSBaseUtil.

[2020-09-14 21:44] larohra commented on #2005
Looks like an issue with Guest Configuration extension. Transferring to the Guest Config repo.

[2020-09-14 22:02] larohra commented on #2003
Fixed in #1937

[2020-09-14 22:02] #2003 closed

[2020-09-14 22:56] kevinclark19a commented on #1904
The removal of the import line might have been a change made by the kali package maintainers; our code for v2.2.47 does in fact have the necessary import. Additionally, we never actually went through with a release for 2.2.47, so I'm not quite sure what's going on there. Regardless, I think the work around of manually importing the package as @manishrana2016 mentioned is the best mitigation we can

[2020-09-14 22:56] #1904 closed

[2020-09-15 03:09] narrieta commented on #2006
@abaymar Yes, it is a duplicate of #1792. Closing this one. Also, as pointed out in #1792, this is currently not supported.

[2020-09-15 03:09] #2006 closed

[2020-09-15 06:48] Villux commented on #1942
@nervermore2 btw here's a work around for the issue if you use Ubuntu 18 https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/hpc/hb-hc-known-issues#duplicate-mac-with-cloud-init-with-ubuntu-on-h-series-and-n-series-vms

[2020-09-15 16:28] narrieta commented on #2006
@abaymar Yes, agreed. We have a work item for this in our queue, but at this point we are focused on other tasks. Once we get to it I'll post to #1792

[2020-09-15 19:23] nervermore2 commented on #1942
@Villux @pgombar I don't think the solution works. I followed the instruction, and still wasn't able to launch the Image.

[2020-09-22 18:34] andschwa commented on #1984
@juhlee-microsoft Can you confirm that you mean the LIS Drivers? As far as I can tell based on this log and the code, it's trying to install the `msft-rdma-drivers` package. I'm trying to confirm where this package comes from, and how it's different from the general "LIS Drivers" RPM provided for RedHat and CentOS (which also have the RDMA driver backported, as far as I can tell).

[2020-09-22 20:51] johnsonshi opened #2017 "[BUG] WALA Provisioning Report Failure Hits WireServer Character Limits Causing WireServer HTTP 500 Return"
**Issue**
When WALA encounters a provisioning error, it reports not ready (reports failure) to WireServer through a health report XML. It includes the entire exception traceback in the health report XML's Description field, which hits the WireServer 4096 char limit for the Description field. This causes WireServer to return HTTP 500.

**Additional context**
[code](https://github.com/Azure/WALinuxA

[2020-09-22 23:53] narrieta commented on #2017
@trstringer - could you take a look at this one? thanks!

[2020-09-23 04:04] longlimsft commented on #1984
We don't have RDMA ND drivers for CentOS 7.8.

When deploying to a ND HPC VM, need to comment out OS.EnableRDMA in /etc/waagent.conf.

[2020-09-23 15:04] andschwa commented on #1984
@longlimsft Okay, that's what I thought was meant, but the issue said "LIS Drivers" and "LIS installation." Thanks for the clarification!

[2020-09-23 19:50] trstringer commented on #2017
@johnsonshi so it's WireServer's 4096 char limit on just the `Details` tag? Not the whole XML? Just want to clarify before moving forward with a fix.

[2020-09-23 19:50] trstringer commented on #2017
@johnsonshi so it's WireServer's 4096 char limit on just the `Details` tag? Not the whole XML? Just want to clarify before moving forward with a fix.

[2020-09-23 20:41] johnsonshi commented on #2017
It's the `Description` tag that has a 4096 char limit, not the `Details` tag.

[2020-09-23 20:49] johnsonshi commented on #2017
Looking through WireServer, the code suggests that there is a char limit on the `SubStatus` and `Description` tags. I'll be sending you some information offline.

That being said, the available `SubStatus` values are generally short (such as `Provisioning` and `ProvisioningFailed` as seen in WALA code). It may actually be a good idea to ensure that the entire `Details` tag is under a certain lengt

[2020-09-24 13:04] LMS235 opened #2021 "[BUG] Microsoft.Azure.RecoveryServices.VMSnapshotLinux-1.0.9170.0/main/handle.sh - Python Detection"
Hello,

the codeblock is nonsensical and causes problems

[code]

Problem: system was installed with Python 3.6 and everything was running. But now Python 2 (2.7) was additionally installed and the script runs on errors.

Since the PIP extensions are only installed for 3.6 (/usr/lib/python3.6/site-packages/) and the script ONLY checks for the presence of Python but does NOT check if the version wi

[2020-09-24 13:33] LMS235 commented on #2021
Now here https://github.com/Azure/azure-linux-extensions/issues/1204

[2020-09-24 13:33] #2021 closed

[2020-09-25 07:34] elabbarw opened #2024 "[BUG] Waagent log fills up with an ExtHandler Event"
We manage a number of Azure Stack Hub based VMs (2002 & 2005) and they all seem to have their waagent log files filled with the following error:

 python3[1291]: 2020/09/25 07:23:46.795804 ERROR ExtHandler Event: name=WALinuxAgent, op=HealthObservation, message={"ObservationName": "InstanceMetadataHeartbeat", "IsHealthy": false, "Description": "", "Value": "IMDS error in /metadata/instance: [HttpE

[2020-09-28 12:37] svrangarao opened #2025 "Waiting for cloud-init to copy ovf-env.xml to /var/lib/waagent/ovf-env.xml"
Hi Azure team,

I have created an Azure VM instance using **Ubuntu 18.04 LTS Server** and later exported the VM disk (vhd) file.

Later upload the VHD file in the data store blob and create an Azure IMAGE.

Launched VM instance from the Azure image. I have done this many times but recently I am getting this error and VM launch using the image is failing and the process is terminating after 30 minu

[2020-09-28 17:34] narrieta commented on #2024
@byue looking into this

[2020-09-28 17:46] trstringer commented on #2025
What was the base image URN that you used to provision the original VM? What other operations did you do on the VM prior to creating the secondary image?

[2020-09-29 00:26] trstringer commented on #2017
This issue is fixed in #2020.

[2020-09-29 00:26] #2017 closed

[2020-09-29 09:32] elabbarw commented on #2024
I am looking into this with the MS PG as well. Thanks!

[2020-09-29 10:05] elabbarw commented on #2024
Deployed a new VM on 2005 using:
WALinuxAgent-2.2.40 running on ubuntu 18.04
Python: 3.6.8
Goal state agent: 2.2.48.1

and its exhibiting the same behavior

[2020-09-29 10:49] svrangarao commented on #2025
I am using Ubuntu Server 18.04 LTS Gen 1 image from Market place

"imageReference": {
                        "publisher": "Canonical",
                        "offer": "UbuntuServer",
                        "sku": "18.04-LTS",
                        "version": "latest"
                    }

After deploying the VM I am updating a few modules and installing other modules as per my requirement.

[2020-09-29 18:34] byue commented on #2024
@elabbarw as of 2008 IMDS is not supported on AzureStack:
https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-vm-considerations?view=azs-2008
These instance metadata error messages are expected as this endpoint does not exist yet. Logs in this case will fill up but are capped and pruned.
@narrieta is there some verbosity flag they can set to disable this logging?

[2020-09-29 18:50] narrieta commented on #2024
@byue Nope

[2020-09-30 16:12] trstringer commented on #2025
How are you actually creating this VM? Can you provide explicit steps that you used? I'm unable to repro this behavior.

I tried with a similar approach, and I did get the error messages for waagent waiting for the OVF to be copied over, but I was still able to SSH into the machine.

Can you expand on this? What do you mean exactly? How did you notice the failure, and during that 30 minutes was th

[2020-09-30 16:56] svrangarao commented on #2025
[logs.zip](https://github.com/Azure/WALinuxAgent/files/5307074/logs.zip)

Hi Thomas Stringer, Thanks for your reply.

Could you please verify the log files attached to this thread?

[2020-10-02 07:40] elabbarw commented on #2024
Thanks for explaining! I will close the issue in this case.